@model Universal.Web.Models.ViewModelWorkJob
@{
    ViewBag.Title = "编辑任务";
    ViewData["tabLeft"] = "workjob";
    ViewData["tabTop"] = "manager";
}

<div class="wapper">
    @Html.Partial("_MenuLeft", this.ViewData)


    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <div class="inner">
                    <a href="/WorkJob/Index" class="fl f16"><i class="i-back"></i>任务指派</a>
                    <b class="tit1Txt fr">编辑任务</b>
                </div>
            </div>
            <div class="userInfo">
                <form method="post" class="form-horizontal" id="form" name="form1">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(p => p.user_ids)
                    @Html.HiddenFor(p => p.year)
                    @Html.HiddenFor(p => p.month)
                    @Html.HiddenFor(p => p.day)
                    @Html.HiddenFor(p => p.files)
                    <ul>
                        <li>
                            <div class="lilt">任务标题</div>
                            <div class="limd">
                                @Html.TextBoxFor(p => p.title, new { @class = "usInput" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p=>p.title)</div>
                        </li>
                        <li>
                            <div class="lilt">任务内容</div>
                            <div class="limd pr">@Html.TextAreaFor(p => p.content, new { @class = "usTextarea" })</div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.content)</div>
                        </li>


                        <li>
                            <div class="lilt">计划完成时间</div>
                            <div class="limd">
                                <select name="YYYY" onChange="YYYYDD(this.value)" class="tb_select"></select>
                                <select name="MM" onChange="MMDD(this.value)" class="tb_select"></select>
                                <select name="DD" onchange="DDChan(this.value)" class="tb_select"></select>
                            </div>
                            <div class="litip">&nbsp;</div>
                        </li>

                        <li>
                            <div class="lilt">执行人</div>
                            <div class="limd big">
                                <span><a href="javascript:" onclick="selUser(this,'user_list1','#user_ids')" title="添加成员"><i class="i-circleP"></i>添加成员</a></span>
                                    <div class="user_list_box" id="user_list1">
									<ul>
                                        @foreach (var item in Model.users_entity)
                                        {
                                            <li id="user_list1_@item.id"><a href="javascript:;" data-id="@item.id"><span>@item.title</span><i class="i-mdel"></i></a></li>
                                        }
                                    </ul>
									</div>
                            </div>

                        </li>
                        <li>
                            <div class="lilt">附件</div>
                            <div class="limd big">
                                <ul id="file_list">
                                    @foreach (var item in Model.file_list)
                                    {
                                        <li>
                                            <a href="javascript:;" onclick="RemoveUp(this)" class="btn-add uploadBtnBox"><i class="i-barrel"></i></a>
                                            <a href="javascript:;" class="btn-add uploadBtnBox"><i class="i-redbb"></i>上传文件<input type="file" class="uploadBtn" onchange="Upload(this)" /></a>
                                            <span spath="@item.file_path">@item.file_name</span> &nbsp;
                                            <span></span>
                                            <span>@item.file_size</span>
                                        </li>
                                    }
                                    <li class="guding">
                                        <a href="javascript:;" class="btn-add uploadBtnBox" onclick="AddFile()"><i class="i-attach"></i>新增</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="lilt">&nbsp;</div>
                            <div class="limd"><button type="submit" class="btn1">发布</button> <button type="button" onclick="location.href = '/WorkJob/Index';" class="btn1 grey">取消</button></div>
                        </li>
                    </ul>
                </form>
            </div>

        </div>



        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>


</div>
<!--底部脚本-->
@section foot
{
    <script type="text/javascript">
		function selUser(obj,objid,hid)
		{
			selUserDialog({callback:function(data){
				var ids=$(hid).val().split(',');
				var ul=$('#'+objid).find('ul');
				$(data).each(function(){
					if(ul.find('#'+objid+'_'+this.id).size()>0){
						return true;
					}
					var li=$('<li></li>').appendTo(ul).attr('id',objid+'_'+this.id);
					var a=$('<a href="javascript:;"></a>').attr('data-id',this.id).appendTo(li).click(function(){
		        		var id=$(this).attr('data-id');
		        		moveId(id,objid,hid);
		        	});
					$('<span></span>').appendTo(a).html(this.telphone+' ('+this.nick_name+')');
					$('<i class="i-mdel"></i>').appendTo(a);
					ids.push(this.id);
				});
				$(hid).val(ids.join(','));
			}});
			
		}
		var tmp=[];
		$('#user_list1 ul li a').each(function(){
			tmp.push($(this).attr('data-id'));
       		$(this).click(function(){
       			var id=$(this).attr('data-id');
        	    moveId(id,'user_list1','#user_ids');
       		});
       	});
		$('#user_ids').val(tmp.join(','));
		function moveId(id,objid,hid){
    		var ids=[];
    		$($(hid).val().split(',')).each(function(){
    			if(this!=id){
    				ids.push(this);
    			}
    		});
    		$('#'+objid+'_'+id).remove();
    		$(hid).val(ids.join(','));
    	}
		
        $(document).ready(function (e) {
            @if(Model.Msg == 1)
            {
                @: location.href = "/WorkJob/Index";
            }else if(Model.Msg == 2)
            {
                @:alert("数据不存在");
            }else if(Model.Msg == 3)
            {
                @:alert("数据验证失败");
            }


        });
    </script>
<script type="text/javascript">
            function YYYYMMDDstart() {
                MonHead = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

                //先给年下拉框赋内容
                var y = new Date().getFullYear();
                for (var i = y ; i < (y + 10) ; i++) //以今年为准，前30年，后30年
                    document.form1.YYYY.options.add(new Option(" " + i + " 年", i));
                //赋月份的下拉框
                for (var i = 1; i < 13; i++)
                    document.form1.MM.options.add(new Option(" " + i + " 月", i));

                document.form1.YYYY.value = $("#year").val();

                //document.form1.MM.value = new Date().getMonth() + 1;
                document.form1.MM.value = $("#month").val();
                var n = MonHead[new Date().getMonth()];
                if (new Date().getMonth() == 1 && IsPinYear(YYYYvalue)) n++;
                writeDay(n); //赋日期下拉框Author:meizz
                //document.form1.DD.value = new Date().getDate();
                document.form1.DD.value = $("#day").val();
            }
            if (document.attachEvent)
                window.attachEvent("onload", YYYYMMDDstart);
            else
                window.addEventListener('load', YYYYMMDDstart, false);

            function YYYYDD(str) //年发生变化时日期发生变化(主要是判断闰平年)
            {
                var MMvalue = document.form1.MM.options[document.form1.MM.selectedIndex].value;
                $("#year").val(str);
                if (MMvalue == "") { var e = document.form1.DD; optionsClear(e); return; }
                var n = MonHead[MMvalue - 1];
                if (MMvalue == 2 && IsPinYear(str)) n++;
                writeDay(n)
            }
            function MMDD(str)   //月发生变化时日期联动
            {
                var YYYYvalue = document.form1.YYYY.options[document.form1.YYYY.selectedIndex].value;
                $("#month").val(str);
                if (YYYYvalue == "") { var e = document.form1.DD; optionsClear(e); return; }
                var n = MonHead[str - 1];
                if (str == 2 && IsPinYear(YYYYvalue)) n++;
                writeDay(n)
            }
            function DDChan(str) {
                $("#day").val(str);
            }
            function writeDay(n)   //据条件写日期的下拉框
            {
                var e = document.form1.DD; optionsClear(e);
                for (var i = 1; i < (n + 1) ; i++)
                    e.options.add(new Option(" " + i + " 日", i));
            }
            function IsPinYear(year)//判断是否闰平年
            {
                return (0 == year % 4 && (year % 100 != 0 || year % 400 == 0));
            }
            function optionsClear(e) {
                e.options.length = 1;
            }

</script>

<script type="text/javascript">
        function RemoveUp(obj)
        {
            $(obj).parent("li").remove();
            CreateUploadData();
        }

        function AddFile()
        {
            var li_html = "<li>";
            li_html += "    <a href=\"javascript:;\" class=\"btn-add uploadBtnBox\"  onclick=\"RemoveUp(this)\"><i class=\"i-barrel\"></i></a>";
            li_html += "    <a href=\"javascript:;\" class=\"btn-add uploadBtnBox\"><i class=\"i-redbb\"></i>上传文件<input type=\"file\" class=\"uploadBtn\" onchange=\"Upload(this)\" /></a>";
            li_html += "    <span spath=\"\"></span> &nbsp;<span></span><span></span>";
            li_html += "</li>";
            $(".guding").before(li_html);
        }

        function Upload(obj)
        {
            //alert($(obj).parent("a").parent("li").attr("data_id"));
            //显示的文件名
            var span_file_name = $(obj).parent("a").next();

            //上传状态
            var span_file_status = $(obj).parent("a").next().next();

            //文件大小
            var span_file_size = $(obj).parent("a").next().next().next();

            //原始文件名
            var file_name = getFileName($(obj).val());
            if (CheckIsUpload(file_name))
            {
                alert("该文件已上传");
                return;
            }
            var fd = new FormData();
            fd.append("FileData", $(obj)[0].files[0]);
            $(span_file_status).html("上传中...");
            $(span_file_name).html(file_name);
            $.ajax({
                url: '/Tools/UploadFile',
                type: 'POST',
                cache: false,
                contentType: "multipart/form-data",
                data: fd,
                processData: false,
                contentType: false
            }).done(function (res) {
                $(span_file_status).html("");
                if (res.msg == 1) {
                    $(span_file_name).attr("spath", res.data);
                    $(span_file_size).html(res.msgbox);
                    CreateUploadData();
                } else {
                    alert(res.msgbox);
                }
            }).fail(function (res) { });

        }

        //创建服务数据
        function CreateUploadData()
        {
            var filestr = "";
            $.each($("#file_list").find("li"), function () {
                if ($(this).attr("class") == undefined)
                {
                    var server_path = $(this).find("span:eq(0)").attr("spath");
                    var file_name = $(this).find("span:eq(0)").text();
                    var file_size = $(this).find("span:eq(2)").text();
                    if(server_path.length != 0&& file_name.length != 0 && file_size.length != 0)
                        filestr += server_path + "," + file_name + "," + file_size + "|";
                }
            })
            $("#files").val(filestr);
        }

        function CheckIsUpload(file_name)
        {
            var is_ext = false;
            $.each($("#file_list").find("li"), function () {
                if ($(this).attr("class") == undefined) {
                    if ($(this).find("span:eq(0)").text() == file_name)
                        is_ext = true;
                }
            })
            return is_ext;
        }

        function getFileName(o) {
            var pos = o.lastIndexOf("\\");
            return o.substring(pos + 1);
        }

</script>
}
<!--底部脚本 end-->