@model Universal.Entity.ViewModel.FutureVision

@{
    ViewBag.Title = "未来&愿景";
}

<!--头部脚本 Begin-->
@section head
{
    <link href="/Assets/jf/css/future.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<!-- Body Begin -->

    <div class="main page_future">
        <div class="main-content">
            @if (Model.banner_list.Count > 1)
            {

                <div class="banner-lv1-index">
                    <carousel v-model="value3"
                              height="760"
                              autoplay-speed="@(WorkContext.WebSiteConfig.BannerTime * 1000)"
                              arrow="never"
                              loop
                              autoplay>
                        @foreach (var item in Model.banner_list)
                        {
                            <carousel-item>
                                <div class="demo-carousel">
                                    <a @Html.Raw(item.GetClickUrl)><img src="@(WorkContext.WebSiteConfig.SiteUrl+item.ImgUrl)" /></a>
                                </div>
                            </carousel-item>
                        }
                    </carousel>
                </div>
            }
            else
            {
                <div class="sz-banner page-container-min-width sz-banner-bg1" style="background-image:url(@(WorkContext.WebSiteConfig.SiteUrl+Model.banner_list.First().ImgUrl))">
                    <div class="page-container-width">
                    </div>
                </div>
            }
            <div class="page-container-width bgcolor">
                @{
                    int i = 0;
                }
                @foreach (var item in Model.future_vision_list)
                {

                    if (i % 2 == 0)
                    {
                        <div class="mid clearfix">
                            <div class="mid-box">
                                <img src="@(WorkContext.WebSiteConfig.SiteUrl+item.ImgUrl)">
                            </div>
                            <div class="mid-box">
                                <div class="mid-txt">
                                    <p class="t-p-dt">@item.Title</p>
                                    <div class="page-pub-line">让世界因创意更生动</div>
                                    <p class="t-p-dl"></p>
                                    <p class="t-p-dd">@item.Content</p>
                                    <p class="t-p-dd">@item.Content2</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="mid clearfix">
                            <div class="mid-box">
                                <div class="mid-txt">
                                    <p class="t-p-dt">@item.Title</p>
                                    <div class="page-pub-line">让世界因创意更生动</div>
                                    <p class="t-p-dl"></p>
                                    <p class="t-p-dd">@item.Content</p>
                                    <p class="t-p-dd">@item.Content2</p>
                                </div>
                            </div>
                            <div class="mid-box">
                                <img src="@(WorkContext.WebSiteConfig.SiteUrl+item.ImgUrl)">
                            </div>
                        </div>
                    }

                    i++;
                }

            </div>
        </div>
    </div>    

<!-- Body End -->

<!-- Json中的Data数据 Begin -->
@section json_data
{
    value3:0,
}
<!-- Json中的Data数据 End -->
<!-- Json中的mounted数据 Begin -->
@section json_mounted
{
    this.pushBntNum();
}
<!-- Json中的mounted数据 End -->
<!-- Json中的methods数据 Begin -->
@section json_methods
{
    pushBntNum(){
        $(function(){
            $(".ivu-carousel-dots-inside li").each(function(index){
                $(this).children().first().before('<span>0'+(index*1+1)+'</span>');
            });
        })
    },
}
<!-- Json中的methods数据 End -->
<!-- 底部中的JS脚本 Begin -->
@section foot_js
{

}
<!-- 底部中的JS脚本 End -->

