@model Universal.Web.Models.CompanyProfile

@{
    ViewBag.Title = "公司简介";
}

<!--头部脚本 Begin-->
@section head
{
    <link href="/Assets/jf/css/about.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<!-- Body Begin -->

    <div class="main page_about">
        <div class="main-content">

            @if (Model.banner_list.Count > 1)
            {

                <div class="banner-lv1-index">
                    <carousel v-model="value3"
                              height="760"
                              autoplay-speed="@(WorkContext.WebSiteConfig.BannerTime * 1000)"
                              arrow="never"
                              loop
                              autoplay>
                        @foreach (var item in Model.banner_list)
                        {
                            <carousel-item>
                                <div class="demo-carousel">
                                    <a @Html.Raw(item.GetClickUrl)><img src="@item.ImgUrl" /></a>
                                </div>
                            </carousel-item>
                        }
                    </carousel>
                </div>
            }
            else
            {
                <div class="sz-banner page-container-min-width sz-banner-bg1" style="background-image:url(@Model.banner_list.First().ImgUrl)">
                    <div class="page-container-width">
                    </div>
                </div>
            }

            <div class="page-container-width bgcolor">
                <div class="lv1 clearfix" style="height:700px;">
                    <div class="ls">
                        <p class="l-dt">@Model.SiteConfig.JJTitle</p>
                        <p class="l-dl">@Model.SiteConfig.JJTitleEr</p>
                        <div class="page-pub-line"></div>
                        <p class="l-dd">
                            @Html.Raw(Model.SiteConfig.JJDesc)
                        </p>
                    </div>
                    <div class="rs">
                        <p class="r-dt">@Model.SiteConfig.JJKeHu</p>
                        <div class="page-pub-line"></div>
                        <p class="r-dl">@Model.SiteConfig.JJKeHuDesc</p>
                        <div class="r-dd">
                            <row :gutter="76">
                                <i-col span="8">
                                    <span class="r-sp-tt">服务客户</span><br>
                                    <span class="r-sp-tx">@Model.SiteConfig.JJKeHuNum<sup><i class="iconfont icon-zengjia"></i></sup></span>
                                </i-col>
                                <i-col span="8">
                                    <span class="r-sp-tt">500强企业</span><br>
                                    <span class="r-sp-tx">@Model.SiteConfig.JJKeHuQiang<sup><i class="iconfont icon-zengjia"></i></sup></span>
                                </i-col>
                                <i-col span="8">
                                    <span class="r-sp-tt">上市企业</span><br>
                                    <span class="r-sp-tx">@Model.SiteConfig.JJKeHuShi<sup><i class="iconfont icon-zengjia"></i></sup></span>
                                </i-col>
                            </row>
                        </div>
                    </div>
                </div>

                <div class="lv2 clearfix">
                    <div class="ls">
                        <p class="l-p-dt">@Model.SiteConfig.JJBanGong</p>
                        <div class="page-pub-line"></div>
                        <p class="l-p-dl">
                            @Html.Raw(Model.SiteConfig.JJBGDesc)
                        </p>
                        <p class="l-p-dd">
                            <span class="l-sp1">总办公面积</span><br>
                            <span class="l-sp2">@Model.SiteConfig.JJBGMJ<sup>2</sup></span>
                        </p>
                    </div>
                    <img src="@Model.SiteConfig.JJBGImg" class="r-pic">
                </div>
                <div class="lv3 clearfix">
                    <div class="ls" style="background:url(@Model.SiteConfig.JJOneLeftImg)">
                        <p class="r-p-tt">@Model.SiteConfig.JJOneLeftTitle</p>
                        <p class="r-p-txt">
                            @Html.Raw(Model.SiteConfig.JJOneLeftDesc)
                        </p>
                    </div>
                    <div class="rs" style="background:url(@Model.SiteConfig.JJOneRightImg)">
                        <p class="r-p-tt">@Model.SiteConfig.JJOneRightTitle</p>
                        <p class="r-p-txt">
                            @Html.Raw(Model.SiteConfig.JJOneRightDesc)
                        </p>
                    </div>
                </div>

                <div class="lv5 clearfix">
                    <div class="ls" style="background:url(@Model.SiteConfig.JJTwoLeftImg)">
                        <p class="l-p-dt">@Model.SiteConfig.JJTwoLeftTitle</p>
                        <p class="l-p-dl">
                            @Html.Raw(Model.SiteConfig.JJTwoLeftDesc)
                        </p>
                    </div>

                    <div class="rs" style="background:url(@Model.SiteConfig.JJTwoRightImg)">
                        <p class="r-p-tt">@Model.SiteConfig.JJTwoRightTitle</p>
                        <p class="r-p-txt">
                            @Html.Raw(Model.SiteConfig.JJTwoRightDesc)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Body End -->

<!-- Json中的Data数据 Begin -->
@section json_data
{
    value3:0,
}
<!-- Json中的Data数据 End -->
<!-- Json中的mounted数据 Begin -->
@section json_mounted
{
    this.pushBntNum();
    this.moviceModel();
}
<!-- Json中的mounted数据 End -->
<!-- Json中的methods数据 Begin -->
@section json_methods
{
    moviceModel(){
        var _this=$("#movice");
        var _that=this;
        _this.width(_this.children().length*332);
        if(_this.children().length<7){
            return false;
        }
        var firstC=$("#movice li:first");
        var lastC=firstC.clone();
        _this.append(lastC);
        firstC.animate({
            marginLeft:'-332px'
        },500);
        var setModel=setTimeout(() => {
            firstC.remove();
            _that.moviceModel();
        }, 3000);
    //   _this.hover(function(){
    //     clearTimeout(setModel);
    //   },function(){
    //     firstC.remove();
    //     _that.moviceModel();
    //   })
    },
    pushBntNum(){
        $(function(){
            $(".ivu-carousel-dots-inside li").each(function(index){
                $(this).children().first().before('<span>0'+(index*1+1)+'</span>');
            });
        })
    },
}
<!-- Json中的methods数据 End -->
<!-- 底部中的JS脚本 Begin -->
@section foot_js
{

}
<!-- 底部中的JS脚本 End -->
