<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"]</title>

    @Styles.Render("~/Content/admin/css")

    @RenderSection("head", required: false)
</head>


<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins bordertop">
                    @RenderSection("nav")

                    <!-- 内容开始 -->

                    <div class="ibox-content">

                        @RenderBody()

                    </div>

                    <!-- 内容结束 -->

                </div>

                    @if (ViewData.ContainsKey("ExecutionTime"))
                    {
                    @: <div class="pull-left" style="margin: 10px 0 0 15px;">@ViewData["ExecutionTime"] ms <div>
                    }
            </div>
        </div>
    </div>

    <!-- 全局js -->
    @Scripts.Render("~/bundles/admin_base")
    <!-- 第三方插件 -->
    @Scripts.Render("~/bundles/tools")

    @RenderSection("foot", required: false)

</body>
</html>