@model Universal.Web.Models.ViewModelAdminUser
@{
    ViewBag.Title = "编辑员工信息";
    ViewData["tabLeft"] = "user_list";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<div class="wapper">
@Html.Partial("_AdminMenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <div class="inner">
                    <a href="/AdminUser/Index" class="fl f16"><i class="i-back"></i>员工管理</a>
                    <b class="tit1Txt fr">@(Model.id > 0 ? "修改" : "添加")员工</b>
                </div>
            </div>

            <div class="step step_1">
                <span class="sp_1" id="tab_one">1 填写资料</span>
                <span class="sp_2" id="tab_two">2 设置权限</span>
                <span class="sp_3" id="tab_three">3 完成@(Model.id > 0 ? "修改" : "添加")</span>
            </div>

            <form method="post" class="form-horizontal" name="form1">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(p => p.user_route_str)
                <!--第一步-->
                <div class="addmb" style="display: block;" id="div_one">
                    <h4 class="tit2">基本信息</h4>
                    <div class="userInfo">
                        <ul>

                            <li>
                                <div class="lilt"><em class="col_red">*</em>姓名</div>
                                <div class="limd">
                                    @Html.TextBoxFor(p => p.nick_name, new { @class = "usInput", placeholder = "必填" })
                                </div>
                                <div class="litip">@Html.ValidationMessageFor(p => p.nick_name)</div>
                            </li>
                            <li>
                                <div class="lilt"><em class="col_red">*</em>手机号</div>
                                <div class="limd">
                                    @Html.TextBoxFor(p => p.telphone, new { @class = "usInput", placeholder = "请输入11位手机号", maxlength = "11" })
                                </div>
                                <div class="litip">@Html.ValidationMessageFor(p => p.telphone)</div>
                            </li>
                            <li>
                                <div class="lilt"><em class="col_red">*</em>部门</div>
                                <div class="limd pr">
                                    @Html.HiddenFor(p => p.department_id)
                                    <input type="text" value="@Model.department_title" id="department_name" class="usInput" placeholder="" /><a href="javascript:" onclick="selDepartment(this)" class="addBtn">选择部门</a>
                                </div>
                                <div class="litip">@Html.ValidationMessageFor(p=>p.department_id)</div>
                            </li>
                            <li>
                                <div class="lilt">职位</div>
                                <div class="limd pr">
                                    @Html.HiddenFor(p => p.job_id)
                                    <input type="text" value="@Model.job_title" id="job_name" class="usInput" placeholder="" /><a href="javascript:" onclick="selPosition(this)" class="addBtn">选择职位</a>
                                </div>
                                <div class="litip">@Html.ValidationMessageFor(p => p.job_id)</div>
                            </li>
                            <li>
                                <div class="lilt">邮箱</div>
                                <div class="limd">
                                    @Html.TextBoxFor(p => p.email, new { @class = "usInput" })
                                </div>
                                <div class="litip">@Html.ValidationMessageFor(p => p.email)</div>
                            </li>
                            <li>
                                <div class="lilt"><em class="col_red">*</em>登录密码</div>
                                <div class="limd">
                                    @Html.PasswordFor(p => p.password, Model.id == 0 ? (object)new { @class = "usInput", placeholder = ViewData["DefaultPwd"] } : (object)new { @class = "usInput", value = "litdev" })
                                </div>
                                <div class="litip">@Html.ValidationMessageFor(p => p.password)</div>
                            </li>
                            <li>
                                <div class="lilt">状态</div>
                                <div class="limd">
                                    <span>
                                        <label>
                                            @Html.RadioButtonFor(x => x.status, true)
                                            <i class="pub_radio"></i>
                                            <span>启用</span>
                                        </label>
                                        <label>
                                            @Html.RadioButtonFor(x => x.status, false)
                                            <i class="pub_radio"></i>
                                            <span>禁用</span>
                                        </label>
                                    </span>
                                </div>
                                <div class="litip"></div>
                            </li>
                        </ul>
                    </div>


                    <h4 class="tit2 mt_20">个人信息</h4>
                    <div class="userInfo">
                        <ul>
                            <li>
                                <div class="lilt">头像</div>
                                <div class="limd">
                                    @Html.HiddenFor(p => p.avatar)
                                    <a href="javascript:;" class="Btn2 uploadBtnBox">上传头像 <input type="file" class="uploadBtn" id="but_upload_img" /> </a><span class="col_grey f12 ml_10">仅支持JPG,PNG格式的图片,且文件小于3MB</span>
                                </div>
                            </li>
                            <li>
                                <div class="lilt">&nbsp;</div>
                                <div class="limd"><img style="width:150px;" src="@Model.avatar" id="img_avatar" /></div>
                                <div class="litip">&nbsp;</div>
                            </li>
                            <li>
                                <div class="lilt">性别</div>
                                <div class="limd">
                                    <span>
                                        <label for="@Universal.Entity.CusUserGender.male">
                                            @Html.RadioButtonFor(x => x.gender, "1", Model.gender == Universal.Entity.CusUserGender.male ? (object)new { id = Universal.Entity.CusUserGender.male, @checked = true } : (object)new { id = Universal.Entity.CusUserGender.male })
                                            <i class="pub_radio"></i>
                                            <span>男</span>
                                        </label>
                                        <label for="@Universal.Entity.CusUserGender.female">
                                            @Html.RadioButtonFor(x => x.gender, "2", Model.gender == Universal.Entity.CusUserGender.female ? (object)new { id = Universal.Entity.CusUserGender.female, @checked = true } : (object)new { id = Universal.Entity.CusUserGender.female })
                                            <i class="pub_radio"></i>
                                            <span>女</span>
                                        </label>
                                    </span>
                                </div>
                                <div class="litip"></div>
                            </li>
                            <li>
                                <div class="lilt">生日</div>
                                <div class="limd">
                                    @Html.TextBoxFor(p => p.brithday, String.Format("{0:d}", Model.brithday).Replace("/", "-"), new { @class = "usInput", placeholder = "生日", @onclick= "laydate({ format: 'YYYY-MM-DD'})" })
                                </div>
                                <div class="litip">@Html.ValidationMessageFor(p=>p.brithday)</div>
                            </li>
                            <li>
                                <div class="lilt">短号</div>
                                <div class="limd">
                                    @Html.TextBoxFor(p => p.short_num, new { @class = "usInput" })
                                </div>
                                <div class="litip">@Html.ValidationMessageFor(p => p.short_num)</div>
                            </li>
                            <li>
                                <div class="lilt">个人简介</div>
                                <div class="limd pr">
                                    @Html.TextAreaFor(p => p.about_me, new { @class = "usTextarea" })
                                </div>
                                <div class="litip">
                                    @Html.ValidationMessageFor(p => p.about_me)
                                </div>
                            </li>
                            <li>
                                <div class="lilt">&nbsp;</div>
                                <div class="limd"><button type="button" onclick="next_2()" class="btn1">下一步</button></div>
                            </li>
                        </ul>
                    </div>

                </div>

                <!--第二步-->
                <div class="addmb" style="display: none;" id="div_two">
                    <h4 class="f16 mb_10">权限列表</h4>
                    <div class="qxList">
                        <ul>
                            @if (Model.user_route.Count > 0)
                        {
                            foreach (var item in Model.user_route)
                            {
                        <li>@item.title<label for="id_siodwoe_@item.id"><input type="checkbox" ids="@item.id" onclick="rad_check()" id="id_siodwoe_@item.id" class="qxcheck" @(item.is_check > 0 ? "checked=checked" : "") /></label></li>
                            }

                        }
                        </ul>
                    </div>
                    <div class="mt_35"><button type="submit" class="btn1">确定@(Model.id > 0 ? "修改" : "添加")</button> <button type="button" class="btn1 grey" onclick="show_div(1)">上一步</button></div>

                </div>

                <!--第三步-->
                <div class="addmb" style="display:none;" id="div_three">
                    <div class="addsuccess">
                        <p><img src="/Assets/theme/ico/ico_43.png" /></p>
                        <p>恭喜您，@(Model.id > 0 ? "修改" : "添加")员工成功</p>
                        <div class="mt_35">
                            <button type="button" class="btn1" onclick="location.href = '/AdminUser/Index'">员工管理</button>
                            @if (Model.id > 0)
                        {
                        @:<button type="button" class="btn1 grey" onclick="location.href = '/AdminUser/Modify'">保存并添加下一个</button>
                        }
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="footer">Copyright &copy;  深圳市诚泰城市更新咨询服务有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

    <!--底部脚本-->
    @section foot
{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/textareacounter")
<script src="/assets/laydate/laydate.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#about_me").textAreaCount({ maxlength: 500, speed: 256 });
            })

            function rad_check() {
                var ids = "";
                $(".qxcheck").each(function () {
                    if ($(this).is(':checked')) {
                        ids = ids + $(this).attr("ids") + ","
                    }
                })
                if (ids.length > 0) {
                    ids = ids.substring(0, ids.length - 1);

                }
                $("#user_route_str").val(ids);
            }

            $(function () {
                $("#but_upload_img").on("change", function () {
                    var filePath = $(this).val().toLowerCase();
                    if (filePath.indexOf("jpg") != -1 || filePath.indexOf("png") != -1 || filePath.indexOf("jpeg") != -1) {
                        var arr = filePath.split('\\');
                        var fileName = arr[arr.length - 1];
                        upload();
                    } else {
                        alert("您未上传文件，或者您上传文件类型有误！");
                        return false
                    }
                })

            })

            function upload() {
                var fd = new FormData();
                fd.append("FileData", document.getElementById('but_upload_img').files[0]);

                $.ajax({
                    url: '/Tools/UploadAvatar',
                    type: 'POST',
                    cache: false,
                    contentType: "multipart/form-data",
                    data: fd,
                    processData: false,
                    contentType: false
                }).done(function (res) {
                    if (res.msg == 1) {
                        $("#avatar").val(res.data);
                        $("#img_avatar").attr("src", res.data);
                    } else {
                        alert(res.msgbox);
                    }
                }).fail(function (res) { });
            }


            $(document).ready(function (e) {
                @if(Model.id>0)
                {
                    @:rad_check();
                }
                @if(Model.Msg == 1)
                {
                    @:show_div(3);
                }
                else if(Model.Msg == 2)
                {
                    @:alert("数据不存在");
                }else if(Model.Msg == 3)
                {
                    @:alert("数据验证失败");
                }
                else if(Model.Msg == 4)
                {
                    @:alert("@Model.MsgBox");
                    @:location.href = "/AdminUser/Index";
                }

            });

            function next_2() {
                if ($("#nick_name").val() == "" || $("#telphone").val() == "" || $("#password").val() == "") {
                    alert("请填写完整");
                    return;
                }
                show_div(2);
            }

            function show_div(num) {
                switch (num) {
                    case 1:
                        $("#div_one").show();
                        $("#div_two").hide();
                        $("#div_three").hide();
                        $("#tab_one").attr("class", "sp_1");
                        $("#tab_two").attr("class", "sp_2");
                        $("#tab_three").attr("class", "sp_3");
                        break;
                    case 2:
                        $("#div_one").hide();
                        $("#div_two").show();
                        $("#div_three").hide();
                        $("#tab_one").attr("class", "sp_2");
                        $("#tab_two").attr("class", "sp_1");
                        $("#tab_three").attr("class", "sp_3");
                        break;
                    case 3:
                        $("#div_one").hide();
                        $("#div_two").hide();
                        $("#div_three").show();
                        $("#tab_one").attr("class", "sp_3");
                        $("#tab_two").attr("class", "sp_2");
                        $("#tab_three").attr("class", "sp_1");
                        break;
                    default:

                }
            }

            function selPosition(obj) {
                $.ajax(
						{
						    url: '/Tools/GetJobList',
						    success: function (data) {
						        var items = [];
						        $(data.data).each(function () {
						            items.push({ value: this.id, name: this.title });
						        })
						        showSelectBox({
						            title: '选择职位',
						            head_title: '职位列表',
						            items: items,
						            onOk: function (data) {
						                $('#job_id').val(data.value);
						                $('#job_name').val(data.name);
						            }
						        });
						    }
						}
						);

            }
            function selDepartment(obj) {
                $.ajax({
                    url: '/Department/GetDeparment?pid=-1',
                    success: function (data) {
                        var items = {};
                        $(data.data).each(function () {
                            if (typeof items[this.parent_id] == 'undefined') {
                                items[this.parent_id] = [];
                            }
                            items[this.parent_id].push({
                                value: this.department_id,
                                name: this.title
                            });
                        });
                        console.log(JSON.stringify(items));
                        var getData = function (pid) {
                            if (typeof items[pid] == 'undefined') {
                                return [];
                            }
                            var item = [];
                            $(items[pid]).each(function () {
                                this.children = getData(this.value);
                                item.push(this);
                            })
                            return item;
                        }
                        var data = getData(0);
                        showSelectBox({
                            title: '选择部门',
                            head_title: '部门列表',
                            items: data,
                            onOk: function (data) {
                                $('#department_name').val(data.name);
                                $('#department_id').val(data.value);
                            }
                        });
                    }
                });
            }

        </script>
        
    }
    <!--底部脚本 end-->
