@model Universal.Web.Models.ViewModelUserBasic
@{
    ViewBag.Title = "修改资料";
    ViewData["tabLeft"] = "basic";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->
<div class="wapper">
@Html.Partial("_MenuLeft", this.ViewData)
    <div class="rightBox">
        <div class="container">
            <div class="tit1">基本资料</div>
            <div class="userInfo">
                <form method="post" name="form1">
                    @Html.AntiForgeryToken()
                    <ul>
                        <li>
                            <div class="lilt">部门岗位</div>
                            <div class="limd"><span>@WorkContext.UserInfo.CusDepartment.Title - @WorkContext.UserInfo.CusUserJob.Title</span></div>
                        </li>
                        <li>
                            <div class="lilt">姓名</div>
                            <div class="limd"><span>@Model.nick_name </span></div>
                        </li>
                        <li>
                            <div class="lilt">性别</div>
                            <div class="limd">
                                <label class="lab pub_lab" for="@Universal.Entity.CusUserGender.male">
                                    @Html.RadioButtonFor(x => x.gender, "1", Model.gender == Universal.Entity.CusUserGender.male ? (object)new { id = Universal.Entity.CusUserGender.male, @checked = true } : (object)new { id = Universal.Entity.CusUserGender.male })
                                    <i class="pub_radio"></i>
                                    <span>男</span>
                                </label>
                                <label class="lab pub_lab" for="@Universal.Entity.CusUserGender.female">
                                    @Html.RadioButtonFor(x => x.gender, "2", Model.gender == Universal.Entity.CusUserGender.female ? (object)new { id = Universal.Entity.CusUserGender.female, @checked = true } : (object)new { id = Universal.Entity.CusUserGender.female })
                                    <i class="pub_radio"></i>
                                    <span>女</span>
                                </label>
                            </div>
                            <div class="litip"></div>
                        </li>
                        <li>
                            <div class="lilt">生日</div>
                            <div class="limd">@Html.TextBoxFor(p => p.brithday, String.Format("{0:d}", Model.brithday).Replace("/", "-"), new { @class = "usInput", placeholder = "生日", @onclick = "laydate({ format: 'YYYY-MM-DD'})" })</div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.brithday)</div>
                        </li>
                        <li>
                            <div class="lilt">短号</div>
                            <div class="limd">@Html.TextBoxFor(p => p.short_num, new { @class = "usInput" })</div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.short_num)</div>
                        </li>
                        <li>
                            <div class="lilt">个人简介</div>
                            <div class="limd">@Html.TextAreaFor(p => p.about_me, new { @class = "usTextarea" })</div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.about_me)</div>
                        </li>
                        <li>
                            <div class="lilt">&nbsp;</div>
                            <div class="limd"><button type="submit" class="btn1">保存</button></div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="footer">Copyright ©  深圳市诚泰城市更新咨询服务有限公司  粤ICP备13089427号-1</div>
    </div>

</div>
    <!--底部脚本-->
    @section foot
{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/textareacounter")
<script src="/assets/laydate/laydate.js"></script>
        <script type="text/javascript">
            $(document).ready(function (e) {
                $("#about_me").textAreaCount({ maxlength: 500, speed: 256 });
                document.onkeydown = function (event) {
                    var e = event || window.event || arguments.callee.caller.arguments[0];
                    if (e && e.keyCode == 13) { // enter 键
                        //要做的事情.
                        $(".btn1").click();
                    }
                };

                @if(Model.State)
            {
                <text>
                $(".top_nick_name").html("@Model.nick_name");
                alert("修改成功")
                </text>
            }

            });


        </script>

    }
    <!--底部脚本 end-->
