
@{
    ViewBag.Title = "面积统计";
    ViewData["tabTop"] = "statistics";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->



<div class="container">
    <ul class="new-tab mb_20 clearfix">
        <li><a href="/Statctics/ProjectTotal">数量统计</a></li>
        <li class="current"><a href="/Statctics/Domain">面积统计</a></li>
    </ul>
    <ul class="filter-tab clearfix">
        <li>
            <select id="select_year" onchange="loadData()">
                <option value="0">所有年度</option>
                 @foreach (var item in Universal.BLL.BLLProject.GetYearGroup())
                {
                    <option value="@item.x_data">@item.x_data</option>
                }
            </select>
        </li>
        <li>
            <select id="select_jidu" onchange="loadData()">
                <option value="0">所有季度</option>
                <option value="1">第一季度</option>
                <option value="2">第二季度</option>
                <option value="3">第三季度</option>
                <option value="4">第四季度</option>
            </select>
        </li>
        <li>
            <select id="select_area" onchange="loadData()">
                <option value="0">全部区域</option>
                @foreach (var item in Universal.Tools.EnumHelper.EnumToDictionary(typeof(Universal.Entity.ProjectArea)))
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </li>
        <li>
            <select id="select_node" onchange="loadData()">
                <option value="0">全部节点分类</option>
                @foreach (var item in (List<Universal.Entity.NodeCategory>)ViewData["NodeCategoryList"])
                {
                    <option value="@item.ID">@item.Title</option>
                }
            </select>
        </li>
        <li>
            <select name="" id="select_project" multiple="multiple" onchange="redic()"></select>
        </li>
    </ul>
    <div class="chart-box tc" id="charts_content">
        
    </div>
</div>
<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳市诚泰城市更新咨询服务有限公司  粤ICP备17053275号</div>


<!--底部脚本-->
@section foot
{
    <link href="/assets/css/jquery.multiselect.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/prettify.css" rel="stylesheet" type="text/css" />
    <script src="~/Assets/js/plugins/Highcharts-4.2.1/js/highcharts.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/assets/js/jquery.multiselect.js"></script>
    <style type="text/css">
    .ui-multiselect{
    width: 90%;
border: 1px solid #ddd;
border-radius: 3px;
height: 36px;
line-height: 36px;
color: #929ca3;
    }
    </style>
    <script type="text/javascript">
    
        $(function () {
            loadData();
        });

        function redic() {
            var ids = "";
            ids = $("#select_project").val();
			if(ids == null || ids ==0)
            {
                ids = "";
                $("#select_project option").each(function(){ //遍历全部option
                    var val = $(this).val(); //获取option的值
                    if (val != 0) //如果不是“全部”
                        ids += val + ",";
                });
                if (ids.length > 0)
                {
                    ids = ids.substring(0, ids.length - 1);
                }else
                {
                    ids = "-1";
                }
            }
			console.log(ids);
            $.get("/Statctics/DomainCharts?ids=" + ids, function (result) {
                $("#charts_content").html(result);
            });
        }
       var msel= $("#select_project").multiselect({ menuWidth:204,header: false,checkAllText:'全选',uncheckAllText:'反选',selectedText:'选择了#个',noneSelectedText:'请选择'});
        function loadData() {
            $.ajax({
                type: "post",
                url: "/Statctics/LoadProject",
                data: { "year": $("#select_year").val(), "jidu": $("#select_jidu").val(), "area": $("#select_area").val(), "gz": "0", "node_id": $("#select_node").val() },
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    $("#select_project").empty();
                    if (data.msg == 1) {
                        $("#select_project").append("<option value='0'>请选择</option>");
                        $.each(data.data, function (i, item) {
                            $("#select_project").append("<option value='" + item.id + "'>" + item.title + "</option>");
                        });
                        msel.multiselect('refresh').width(204);
						redic();
                    }
                    else {
                        alert(data.msgbox);
                    }
                },
                error: function () {
                    alert("操作失败，请检查网络");
                }
            })
        }
    </script>

}
<!--底部脚本 end-->