@model Universal.Entity.DocPost
@{
    ViewBag.Title = "秘籍信息";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{
}
<!--头部脚本 end-->

<div class="wapper">
    @Html.Partial("_MenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <div class="inner">
                    <a href="@ViewData["BackUrl"]" class="fl f16"><i class="i-back"></i>@ViewData["BackTitle"]</a>
                </div>
            </div>

            <div class="userInfo sysIn">
                <ul>
                    <li>
                        <div class="lilt">所属分类</div>
                        <div class="limd">
                            <span>@Model.DocCategory.Title</span>
                        </div>
                        <div class="litip"></div>
                    </li>
                    <li>
                        <div class="lilt">秘籍标题</div>
                        <div class="limd">
                            <span>@Model.Title</span>
                        </div>
                        <div class="litip"></div>
                    </li>
                    <li>
                        <div class="lilt">秘籍内容</div>
                        <div class="limd">
                            @Html.Raw(Model.Content)
                        </div>
                        <div class="litip"></div>
                    </li>
                    <li>
                        <div class="lilt">发布者</div>
                        <div class="limd">
                            <span>@Model.CusUser.NickName</span>
                        </div>
                        <div class="litip"></div>
                    </li>
                    <li>
                        <div class="lilt">发布时间</div>
                        <div class="limd">
                            <span>@Model.AddTime.ToString("yy-MM-dd HH:mm")</span>
                        </div>
                        <div class="litip"></div>
                    </li>
                    <li>
                        <div class="lilt">附件</div>
                        <div class="limd">
                            <ul>
                                @foreach (var item in Model.FileList)
                                {
                                    <li><span>@item.FileName &nbsp; @item.FileSize</span>&nbsp;&nbsp;&nbsp;<a href="/Tools/Down?path=@item.FilePath&name=@item.FileName" target="_blank">下载</a></li>
                                }
                            </ul>
                        </div>
                        <div class="litip"></div>
                    </li>
                    <li>
                        <div class="lilt">&nbsp;</div>
                        <div class="limd">
                            <button type="button" onclick="location.href = '@ViewData["BackUrl"]';" class="btn1 grey">返回 @ViewData["BackTitle"]</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer">Copyright ©  深圳市诚泰城市更新咨询服务有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>
}
<!--底部脚本 end-->
