<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8" />
    <meta name="description" content="诚泰集团" />
    <meta name="keywords" content="诚泰集团" />
<meta  http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" /> 
@RenderSection("head", required: false)

    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" />
    
    
    <link href="/assets/theme/css/public.css" rel="stylesheet" type="text/css" />
    <link href="/assets/theme/css/home.css" rel="stylesheet" type="text/css" />
    <link href="/assets/theme/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/theme/css/style1.css" rel="stylesheet" />
    <link href="~/Assets/theme/css/dev.css" rel="stylesheet" />
    <!--[if !IE]> -->
        @Scripts.Render("~/bundles/jquery")
<!-- <![endif]-->
<!--[if gte IE 9]>
	@Scripts.Render("~/bundles/jquery")
<![endif]-->
<!--[if lt IE 9]>
  <script src="/Assets/js/jquery-1.11.1.js"></script>
  <link rel="stylesheet" href="/Assets/css/ie.css" type="text/css" media="screen" />
  <script src="/Assets/js/html5shiv.js"></script>
  <script src="/Assets/js/respond.min.js"></script>
<![endif]-->
<!--[if IE]><script type="text/javascript" src="/Assets/js/excanvas.js"></script>
    <link href="/assets/theme/css/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
 <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/theme/js/common.js"></script>
</head>

<body>

    <!--header-->
    <div class="header">
        <a href="/" title="诚泰集团" class="logosm"><img src="/assets/theme/ico/logoSm.png" /></a>

        <div class="topRight">
            <div class="user">
                <a href="/User/Basic" title="个人中心"><em><img class="avatar_tab" src="@WorkContext.UserInfo.Avatar" style="width:32px;height:32px;" /></em><span>@WorkContext.UserInfo.NickName  </span></a><i class="i-userArr"></i>
                <div id="userPop" class="userPop">
                    <div class="userPopTop">
                        <dl>
                            <dt><img class="avatar_tab" src="@WorkContext.UserInfo.Avatar" style="width:60px;height:60px;" /></dt>
                            <dd>
                                <p><span class="top_nick_name">@WorkContext.UserInfo.NickName </span> <em>@WorkContext.UserInfo.CusUserJob.Title  </em></p>
                                <p>@WorkContext.UserInfo.Telphone</p>
                            </dd>
                        </dl>
                    </div>
                    <div class="userPopBtm">
                        <a href="/Account/LoginOut" title="退出" class="fr">退出</a>
                        <a href="/User/Basic" title="个人中心">个人中心</a>
                    </div>
                    <i class="i-popArr"></i>
                </div>
            </div>
            <div class="toplink">
                <ul>
                    <li class="a-msg"><a href="#"><i class="i-msg"></i>
                        @if(WorkContext.MessageTotal>0)
                        {
                            <em>@WorkContext.MessageTotal</em>
                        }
                        </a></li>
                    <li>
                        <a href="#"><i class="i-mbe"></i></a>
                        <div class="lipop mbePop">
                            <i class="i-dltop"></i>
                            <div class="mbdownLt">
                                <img src="/Uploads/down_qr.png" width="104" height="104" />
                                <span>扫码下载APP</span>
                            </div>
                            <div class="mbdownRt">
                                <a href="/DownLoad/app?b=1" target="_blank" title="Android下载" class="d-android">Android下载</a>
                                <a href="/DownLoad/app?b=2" target="_blank" title="App Store下载" class="d-ios">App Store下载</a>
                            </div>

                        </div>
                    </li>

                    <li>
                        <a href="#"><i class="i-fav"></i></a>
                        <div class="lipop favPop">
                            <i class="i-dltop"></i>
                            <div class="favList">
                                @if (WorkContext.UserFavoritesList != null && WorkContext.UserFavoritesList.Count > 0)
                                {
                                    foreach (var item in WorkContext.UserFavoritesList)
                                    {
                                        <dl>
                                            <dt><img src="@item.icon" /></dt>
                                            <dd>
                                                <a href="@item.link_url">
                                                    <span>@item.title</span>
                                                    <em>@item.er_title</em>
                                                </a>
                                            </dd>
                                        </dl>
                                    }
                                }
                                else
                                {
                                    <p class="nofav">您还没有收藏过项目和秘籍哦！</p>
                                }
                               
                                
                                
                            </div>
                            <a href="/User/ProjectFavorites" class="allfav">查看所有收藏</a>

                        </div>
                    </li>

                    <li class="search-hover">
                    	<input type="text" id="txt_tab_search" placeholder="请输入搜索内容" class="search-input" onkeypress="if(event.keyCode==13) {Search_Link();return false;}" />
                    	<a href="javascript:;" onclick="Search_Link()" title="搜索"><i class="i-sch"></i></a></li>
                </ul>
                <!-- 新增消息下拉 [[ -->
                <div class="top-msg" style="display:none;">
                    <i class="i-arrow-t"></i>
                    <ul>
                        @if (WorkContext.UnReadMessageTopList != null && WorkContext.UnReadMessageTopList.Count > 0)
                        {
                            foreach (var item in WorkContext.UnReadMessageTopList)
                            {
                                <li>
                                    <i class="i-top-msg1"></i>
                                    <span class="tit"><a href="@item.LinkUrl" style="padding:0;">@(Universal.Tools.StringHelper.CutString(item.Content,14))</a><span class="time">@item.AddTime</span></span>
                                    <a href="@item.LinkUrl" class="share">@item.TypeName</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li>
                                <span class="tit" style="text-align: center;width: 100%;">没有未读消息</span>
                            </li>
                        }

                    </ul>
                    <div class="top-msg-more clearfix">
                        @if (WorkContext.MessageTotal > 0)
                        {
                            <a href="javascript:;" onclick="SetAllMsgRead()" class="read fl">全部标记为已读</a>
                        }
                            <a href="/User/Message" class="fr">查看更多</a>
                    </div>
                </div>
                <!-- 新增消息下拉 ]] -->
            </div>
        </div>


        <div class="nav">
             <ul>
                <li @(ViewData["tabTop"].ToString().Equals("home") ? "class=act" : "")><a href="/" title="首页">首页</a></li>
                <li @(ViewData["tabTop"].ToString().Equals("project") ? "class=act" : "")><a href="/Project/Index" title="项目管理">项目管理</a></li>
                <li @(ViewData["tabTop"].ToString().Equals("school") ? "class=act" : "")><a href="/Shool/Index" title="学院秘籍">学院秘籍</a></li>
                <li @(ViewData["tabTop"].ToString().Equals("sms") ? "class=act" : "")><a href="/Contacts/index" title="企业通讯">企业通讯</a></li>
                <li @(ViewData["tabTop"].ToString().Equals("statistics") ? "class=act" : "")><a href="/Statctics/ProjectTotal" title="平台统计">平台统计</a></li>
                <li @(ViewData["tabTop"].ToString().Equals("manager") ? "class=act" : "")><a href="@WorkContext.ManagerHome">系统管理</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    @RenderBody()
    
    @RenderSection("foot", required: false)
    <script type="text/javascript">

        function SetAllMsgRead() {
            $.post('/Tools/SetAllMsgRead', { "title": "" }, function (text, status) { location.reload() });
        }

        $(function () {
            $(".top-msg").hide();
            $(".a-msg").hover(function () {
                $(".top-msg").show();
            }, function () {
                $(".top-msg").hide();
            })
            // 鼠标移动到list的div上的时候list div不会被隐藏
            $(".top-msg").hover(function () {
                $(".top-msg").show();
            }, function () {
                $(".top-msg").hide();
            })
        });

        function Search_Link()
        {
            var word = $("#txt_tab_search").val();
            if(word.length>0)
            {
                location.href = '/Search/Project?word=' + word;
            }
        }

    </script>

</body>


<!--[if IE 6]>
<script type="text/javascript" src="skins/js/DD_belatedPNG.js"></script>
<script type="text/javascript">
 DD_belatedPNG.fix('.png');
</script>
<![endif]-->
</html>