<div class="left_menu">
    <p class="menu_tt">个人中心</p>
    <p class="tt">账号资料</p>
    <ul class="menu_ul">
        <li @(ViewData["tabLeft"].ToString().Equals("basic") ? "class=hover": "")><a href="/User/Basic"><i class="i1"></i>基本资料</a></li>
        <li @(ViewData["tabLeft"].ToString().Equals("avatar") ? "class=hover": "")><a href="/User/Avatar"><i class="i2"></i>修改头像</a></li>
        <li @(ViewData["tabLeft"].ToString().Equals("safe") ? "class=hover": "")><a href="/User/Safe"><i class="i3"></i>安全设置</a></li>
    </ul>
    <p class="tt">我的收藏</p>
    <ul class="menu_ul">
        <li @(ViewData["tabLeft"].ToString().Equals("project") ? "class=hover": "")><a href="#"><i class="i4"></i>项目收藏</a></li>
        <li @(ViewData["tabLeft"].ToString().Equals("file") ? "class=hover": "")><a href="#"><i class="i5"></i>文件收藏</a></li>
    </ul>
    <p class="tt">下载记录</p>
    <ul class="menu_ul">
        <li @(ViewData["tabLeft"].ToString().Equals("down") ? "class=hover": "")><a href="#"><i class="i6"></i>我的下载</a></li>
    </ul>
    <p class="tt">消息待办</p>
    <ul class="menu_ul">
        <li @(ViewData["tabLeft"].ToString().Equals("msg") ? "class=hover": "")><a href="#"><i class="i7"></i>我的消息</a></li>
    </ul>
</div>