@model Universal.DataCore.Entity.House
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>外拓登记表</title>
    <link href="~/Assets/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="left">
        <ul class="ul_btn">
            <li><a href="/Check/Visitor">来客登记表</a></li>
            <li><a href="/Check/Message">来电登记表</a></li>
            <li><a href="/Check/OutSide" class="cur">外拓登记表</a></li>
        </ul>
    </div>
    
    <div class="center_title">
        外拓登记表
    </div>

    <div class="center">
        <form action="/Check/Abc" method="post">
            @Html.HiddenFor(p=>p.Type,new { @Value="3"})
            @Html.HiddenFor(p=>p.ID)
            @Html.HiddenFor(p=>p.AddTime)
            @Html.AntiForgeryToken()
            <table class="tab">
                <tr>
                    <td><span>姓&nbsp;&nbsp;名:</span></td>
                    <td>@Html.TextBoxFor(p => p.Name) @Html.ValidationMessageFor(p => p.Name)</td>
                    <td><span>性&nbsp;&nbsp;别:</span></td>
                    <td>@Html.DropDownListFor(p => p.Gender, ViewData["Genders"] as List<SelectListItem>)</td>
                    <td><span>年&nbsp;&nbsp;龄:</span></td>
                    <td>@Html.TextBoxFor(p => p.Age) @Html.ValidationMessageFor(p => p.Age)</td>
                    <td><span>电&nbsp;&nbsp;话:</span></td>
                    <td>@Html.TextBoxFor(p => p.Telphone) @Html.ValidationMessageFor(p => p.Telphone)</td>
                </tr>
                <tr>
                    <td><span>地&nbsp;&nbsp;址:</span></td>
                    <td>@Html.TextBoxFor(p => p.Address) @Html.ValidationMessageFor(p => p.Address)</td>
                    <td><span>来访次数:</span></td>
                    <td>@Html.DropDownListFor(p => p.VisitCount, ViewData["touzinums"] as List<SelectListItem>)</td>
                    <td><span>成员构成:</span></td>
                    <td>@Html.DropDownListFor(p => p.ChengYuanGouCheng, ViewData["Visitors"] as List<SelectListItem>)</td>
                    <td><span>来访时间:</span></td>
                    <td>@Html.DropDownListFor(p => p.VisitTime, ViewData["visitTimes"] as List<SelectListItem>)</td>
                </tr>
                <tr>
                    <td><span>区&nbsp;&nbsp;域:</span></td>
                    <td>@Html.DropDownListFor(p => p.Area, ViewData["areas"] as List<SelectListItem>)</td>
                    <td><span>职&nbsp;&nbsp;业:</span></td>
                    <td>@Html.DropDownListFor(p => p.Job, ViewData["jobs"] as List<SelectListItem>)</td>
                    <td><span>交通方式:</span></td>
                    <td>@Html.DropDownListFor(p => p.JiaoTong, ViewData["HouseJiaoTongs"] as List<SelectListItem>)</td>
                    <td><span>媒体渠道:</span></td>
                    <td>@Html.DropDownListFor(p => p.MeiTi, ViewData["MeiTis"] as List<SelectListItem>)</td>
                </tr>
                <tr>
                    <td><span>置业因素:</span></td>
                    <td>@Html.DropDownListFor(p => p.YinSu, ViewData["YinSus"] as List<SelectListItem>)</td>
                    <td><span>预&nbsp;&nbsp;算:</span></td>
                    <td>@Html.DropDownListFor(p => p.YuSuan, ViewData["YuSuans"] as List<SelectListItem>)</td>
                    <td><span>考虑因素:</span></td>
                    <td>@Html.DropDownListFor(p => p.Kaolv, ViewData["KaoLvs"] as List<SelectListItem>)</td>
                    <td><span>置业需求:</span></td>
                    <td>@Html.DropDownListFor(p => p.XuQiu, ViewData["XuQius"] as List<SelectListItem>,new { @id="sel_xq"})</td>
                </tr>
                <!--公寓 Begin-->
                <tr class="gongyu"  style="display:none;">
                    <td><span>意向建面:</span></td>
                    <td>@Html.DropDownListFor(p => p.MianJi_GongYu, ViewData["mianji_zhuzhais"] as List<SelectListItem>)</td>
                    <td><span>投资次数:</span></td>
                    <td>@Html.DropDownListFor(p => p.TouZiCiShu, ViewData["touzinums"] as List<SelectListItem>)</td>
                    <td><span>关注问题:</span></td>
                    <td>@Html.DropDownListFor(p => p.GuanZhuWenTi_GongYu, ViewData["guanzhuwenti_gongyus"] as List<SelectListItem>)</td>
                    <td><span>用&nbsp;&nbsp;途:</span></td>
                    <td>@Html.DropDownListFor(p => p.YongTu, ViewData["yongtus"] as List<SelectListItem>)</td>
                </tr>
                <tr class="gongyu"  style="display:none;">
                    <td><span>意向投资额:</span></td>
                    <td>@Html.DropDownListFor(p => p.TouZiE, ViewData["touzies"] as List<SelectListItem>)</td>
                </tr>
                <!--公寓 End-->
                <!-- 商业 Begin -->
                <tr class="shangye">
                    <td><span>意向铺型:</span></td>
                    <td>@Html.DropDownListFor(p => p.YiXiangPuXing, ViewData["yixiangpuxings"] as List<SelectListItem>)</td>
                    <td><span>投资次数:</span></td>
                    <td>@Html.DropDownListFor(p => p.TouZiNum, ViewData["touzinums"] as List<SelectListItem>)</td>
                    <td><span>需求面积:</span></td>
                    <td>@Html.DropDownListFor(p => p.MianJi_ShangPu, ViewData["mianji_shangpus"] as List<SelectListItem>)</td>
                    <td><span>关注问题:</span></td>
                    <td>@Html.DropDownListFor(p => p.GuanZhuWenTi_ShangPu, ViewData["guanzhuwenti_shangpus"] as List<SelectListItem>)</td>
                </tr>

                <tr class="shangye">
                    <td><span>用&nbsp;&nbsp;途</span></td>
                    <td>@Html.DropDownListFor(p => p.YongTu, ViewData["yongtus"] as List<SelectListItem>)</td>
                </tr>
                <!-- 商业 End -->
                <!-- 住宅 Begin -->
                <tr class="zhuzhai" style="display:none;">
                    <td><span>户&nbsp;&nbsp;型:</span></td>
                    <td>@Html.DropDownListFor(p => p.HuXing, ViewData["huxings"] as List<SelectListItem>)</td>
                    <td><span>置业次数:</span></td>
                    <td>@Html.DropDownListFor(p => p.ZhiYeCiShu, ViewData["touzinums"] as List<SelectListItem>)</td>
                    <td><span>需求面积:</span></td>
                    <td>@Html.DropDownListFor(p => p.MianJi_ZhuZhai, ViewData["mianji_zhuzhais"] as List<SelectListItem>)</td>
                    <td><span>心里总价:</span></td>
                    <td>@Html.DropDownListFor(p => p.XinLiZongJia, ViewData["xinlizongjias"] as List<SelectListItem>)</td>
                </tr>

                <tr class="zhuzhai" style="display:none;">
                    <td><span>家庭结构:</span></td>
                    <td>@Html.DropDownListFor(p => p.JiaTingJieGou, ViewData["jiatingjiegous"] as List<SelectListItem>)</td>
                    <td><span>关注问题:</span></td>
                    <td>@Html.DropDownListFor(p => p.GuanZhuWenTi_ZhuZhai, ViewData["guanzhuwenti_zhuzhais"] as List<SelectListItem>)</td>
                </tr>

                <!-- 住宅 End -->
                <tr>
                    <td><span>客户级别:</span></td>
                    <td>@Html.DropDownListFor(p => p.KeHuJiBie, ViewData["kehujibies"] as List<SelectListItem>)</td>
                    <td><span>置业顾问:</span></td>
                    <td>@Html.TextBoxFor(p => p.ZhiYeGuWen) @Html.ValidationMessageFor(p => p.ZhiYeGuWen)</td>
                    <td><span>登记日期:</span></td>
                    <td>@Html.TextBoxFor(p => p.LaiDianRiQi) @Html.ValidationMessageFor(p => p.LaiDianRiQi)</td>
                </tr>

                <tr>
                    <td><span>跟踪情况:</span></td>
                    <td colspan="7">@Html.TextAreaFor(p => p.GenZongQingKuang, new { rows = "4", cols = "98" }) @Html.ValidationMessageFor(p => p.GenZongQingKuang)</td>
                </tr>

                <tr>
                    <td colspan="4" style="text-align:center;"><input type="submit" value="保存" /></td>
                    <td colspan="4" style="text-align:center;"><input type="button" value="关闭" onclick="javascript: location.href = 'uniwebview://close'"  /></td>
                </tr>

            </table>
        </form>
</div>

    <div class="right">
        <div class="right_center">
            <div class="search">
                <a href="javascript:void(0)" onclick="go_search()">&nbsp;</a>
                <input type="text" id="txt_search">
            </div>

            <div class="search_con">
                <ul id="ul_user">                    
                    <li><a href="javascript:void(0)">Loading...</a></li>
                </ul>
            </div>

        </div>
    </div>

    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Assets/js/plugins/validate/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Assets/js/plugins/validate/messages_zh.min.js"></script>
    <script>
        function go_search()
        {
            var val = $("#txt_search").val();
            if(val.length> 0)
            {
                loadUser(val);
            }
        }

        function loadUser(name)
        {
            $.ajax({
                type: "post",
                url: "/Check/AllUser",
                data: { "type": 3,"name":name },
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    if (data.msg == 1) {
                        if (data.data.length > 0)
                        {
                            $("#ul_user").html("");
                            var htmls = "";
                            $.each(data.data, function (i, item) {
                                htmls += "<li><a href=\"/Check/OutSide?id=" + item.ID + "\">" + item.Name + "</a></li>";
                            });
                            $("#ul_user").html(htmls);
                        } else
                        {
                            $("#ul_user").html("<li><a href=\"javascript:void(0)\">无数据</a></li>");
                        }
                        
                    }
                    else {
                        
                    }
                },
                error: function () {
                    
                }
            })
        }

        function showorhide(val)
        {
            if (val == 1 || val == 2 || val == 3) {
                //商铺
                $(".gongyu").hide();
                $(".zhuzhai").hide();
                $(".shangye").show();
            } else if (val == 4 || val == 5) {
                //住宅
                $(".gongyu").hide();
                $(".zhuzhai").show();
                $(".shangye").hide();
            } else if (val == 6) {
                //公寓
                $(".gongyu").show();
                $(".zhuzhai").hide();
                $(".shangye").hide();
            } else {
                //未知
                $(".gongyu").hide();
                $(".zhuzhai").hide();
                $(".shangye").hide();
            }
        }

        $(function () {
            loadUser("");
            @if(Model.ID != 0)
            {
                @:showorhide(@((int)Model.XuQiu));
            }

            $("#sel_xq").change(function () {
                var val = $("#sel_xq").val();
                showorhide(val);
            })

        @if(!ViewData.ModelState.IsValid)
        {
            @:alert('数据未验证通过，请仔细检查');
        }
        @if(Model.msg == 1)
        {
            @:alert("操作成功");
            @:window.setTimeout(function () { location.href = "/Check/OutSide?id=@Model.msg_id"; }, 500);
        }
        });
    </script>
</body>
</html>