@model Universal.Web.Models.ViewModelNotice
@{
    ViewBag.Title = "通知管理";
    ViewData["tabLeft"] = "notice";
    ViewData["tabTop"] = "manager";
}


<div class="wapper">
@Html.Partial("_AdminMenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <div class="inner">
                    <a href="/Notice/Index" class="fl f16"><i class="i-back"></i>公告列表</a>
                    <b class="tit1Txt fr">发布公告</b>
                </div>
            </div>

            <div class="userInfo sysIn">
                <form method="post" class="form-horizontal" id="form">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(p => p.see_ids)
                    <ul>
                        <li>
                            <div class="lilt"><em class="col_red">*</em>公告标题</div>
                            <div class="limd">
                                @Html.TextBoxFor(p => p.title, new { @class = "usInput" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.title)</div>
                        </li>
                        <li>
                            <div class="lilt"><span class="red">*</span>谁可以看</div>
                            <div class="limd">
                                <label class="lab pub_lab" for="@Universal.Entity.DocPostSee.everyone">
                                    @Html.RadioButtonFor(x => x.post_see, "0", (int)Model.post_see == 0 ? (object)new { id = Universal.Entity.DocPostSee.everyone, @checked = true } : (object)new { id = Universal.Entity.DocPostSee.everyone })
                                    <span>所有人</span>
                                </label>
                                <label class="lab pub_lab" for="@Universal.Entity.DocPostSee.user">
                                    @Html.RadioButtonFor(x => x.post_see, "2", (int)Model.post_see == 2 ? (object)new { id = Universal.Entity.DocPostSee.user, @checked = true } : (object)new { id = Universal.Entity.DocPostSee.user })
                                    <span>自定义</span>
                                </label>
                                <a id="add_users" href="javascript:" onclick="selUser(this)" class="btn-add"><i class="i-attach"></i>添加成员</a>
                            </div>
                            <div class="lilt"></div>
                            <div class="scrollbox scrollbox-big" id="user_list_box">
                                <ul>
                                    @foreach (var item in Model.see_entity)
                                    {
                                        <li id="user_@item.id"><a href="javascript:;" data-id="@item.id"><span>@item.title</span><i class="i-mdel"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="lilt"><em class="col_red">*</em>公告内容</div>
                            <div class="limd big">
                                @Html.TextAreaFor(p => p.content, new { @style = "margin: 0px; width: 530px; height: 150px;" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.content)</div>
                        </li>

                        <li>
                            <div class="lilt">&nbsp;</div>
                            <div class="limd"><button type="submit" class="btn1">发布</button> <button type="button" onclick="location.href = '/Notice/Index';" class="btn1 grey">取消</button></div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

    <!--底部脚本-->
    @section foot
{
        <script type="text/javascript">
        function switchSee(id){
        	if(id==2){
        		$('.scrollbox').show();
        		$('#add_users').show();
        	}else{
        		$('.scrollbox').hide();
        		$('#add_users').hide();
        	}
        }
        $('input[name=post_see]').click(function(){
        	switchSee(this.value);
        });
        switchSee('@Model.post_see'=='user'?2:0);
        function selUser(obj)
    	{
    		selUserDialog({callback:function(data){
    			var ids=$("#see_ids").val().split(',');
    			var ul=$('.scrollbox').find('ul');
    			$(data).each(function(){
    				if(ul.find('#user_'+this.id).size()>0){
    					return true;
    				}
    				var li=$('<li></li>').appendTo(ul).attr('id','user_'+this.id);
    				var a=$('<a href="javascript:;"></a>').attr('data-id',this.id).appendTo(li).click(function(){
    	        		var id=$(this).attr('data-id');
    	        		moveId(id);
    	        	});
    				$('<span></span>').appendTo(a).html(this.nick_name);
    				$('<i class="i-mdel"></i>').appendTo(a);
    				ids.push(this.id);
    			});
    			$("#see_ids").val(ids.join(','));
    		}});
    		
    	}
       	$('.scrollbox ul li a').each(function(){
       		$(this).click(function(){
       			var id=$(this).attr('data-id');
        	    moveId(id);
       		});
       		
       	});
        function moveId(id){
    		var ids=[];
    		$($("#see_ids").val().split(',')).each(function(){
    			if(this!=id){
    				ids.push(this);
    			}
    		});
    		$('#user_'+id).remove();
    		$("#see_ids").val(ids.join(','));
    	}
            $(document).ready(function (e) {
                @if(Model.Msg == 1)
            {
                @: location.href = "/Notice/Index";
                            }


            });
			
			$(document).ready(function (e) {
                @if(Model.Msg == 1)
                {
                    @: location.href = "/Notice/Index";
                }else if(Model.Msg == 2)
                {
                    @:alert("数据不存在");
                }else if(Model.Msg == 3)
                {
                    @:alert("数据验证失败");
                }


            });
			
        </script>

    }
    <!--底部脚本 end-->
