@{ ViewBag.Title = "流程管理"; ViewData["tabLeft"] = "flow";
ViewData["tabTop"] = "manager"; }

<!--头部脚本-->
@section head { 
<link rel="stylesheet" type="text/css"
	href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/css/process_page.css" />
}

<!--头部脚本 end-->
<div class="wapper">
	@Html.Partial("_AdminMenuLeft", this.ViewData)

	<div class="rightBox">
		<div class="container" style="width: auto">


			<div class="tit1">
				<div class="fr">
				    <!--
				    <a href="javascript:;" class="process_page_but_public" onclick="changePageTitle()">保存</a>
				    <a href="/Flow/Index" class="process_page_but_public process_page_but_public_cola">取消</a>
					-->
                    <a href="/Flow/Compact?id=@ViewData["flow_id"]" class="process_page_but_public process_page_but_public_cola">流程预览&nbsp;&raquo;</a>
				</div>
				<div class="inner">
					<a href="/Flow/Index" class="fl f16"><i class="i-back"></i>流程列表</a>
					<b class="tit1Txt fr"><input type="text" name="flow_title" id="flow_title" value="@ViewData["flow_title"]" placeholder="新增流程" readonly="readonly" class="process_page_inp_color" /></b>
				</div>

			</div>
<!--
			<div id="flowdesign_canvas" class="mini-layout"
				style="min-height: 1200px"></div>
			   <div class="liuchengEdit">
                <img src="/assets/theme/images/temp1.jpg" />
            </div>  
-->
            <div class="process_page_st_a">
			   <div class="cz_pd15 clearfix">
			      <p class="l_txt"><span>*</span>流程名称</p>				  
				  <input type="text" class="name_inp" id="process_page_name" value="@ViewData["flow_title"]">
				  <span class="warm_txt">不超过80个字符</span>				  
			   </div>
			   <div class="cz_pd15 clearfix">
			      <p class="l_txt"><span>*</span>流程节点</p>
				  <div class="bor_box">
				     <div class="insert_node" id="insert_node_empty" style="display:none;">
					    <a href="javascript:;"><i>+</i>页面肯定是存在错误的......</a>
					 </div>
					 <div class="process_page_node_box" id="process_page_node_box" style="display:none;">					    
						 <table cellpadding="0" cellspacing="0" class="process_new_style_list">
						 </table>
					 </div>
				  </div>
			   </div>
			   <div class="cz_pd15 clearfix">
				  <a href="javascript:;" class="process_page_but_public" onclick="changePageTitle()">保存</a>
				  <a href="/Flow/Index" class="process_page_but_public process_page_but_public_cola">取消</a>
                  <a href="/Flow/Compact?id=@ViewData["flow_id"]" class="process_page_but_public process_page_but_public_cola">流程预览&nbsp;&raquo;</a>        
			   </div>
			</div>
		</div>



		<div class="footer">Copyright © 深圳市诚泰城市更新咨询服务有限公司 粤ICP备13089427号-1</div>
	</div>

</div>
<div class="process_page_out_bg" id="process_page_out_bg">
   <div class="process_page_out_box">
       <div class="process_page_out_tt">
          <a href="javascript:;" onclick="$('#process_page_out_bg').hide();">×</a>
          <span id="process_page_out_tt">设置子级</span>
       </div>
       <div class="process_page_out_pdt clearfix">
          <p class="process_page_out_ls">节点类型</p>
          <div class="fl">
             <label class="process_page_out_pdr node_type_label" for="radio_pt"><i class="process_page_out_icon process_page_out_icon1"><input type="radio" name="node_type" value="pt" id="radio_pt" checked="checked" /></i>普通节点</label>
             <label class="process_page_out_pdr node_type_label" for="radio_pd"><i class="process_page_out_icon"><input type="radio" name="node_type" value="pd" id="radio_pd" /></i>条件节点</label>
          </div>
       </div>
       <div class="process_page_out_pdt clearfix">
          <p class="process_page_out_ls">选择节点</p>
          <div class="process_page_out_border" id="node_list_pt">
             <!--
             <ul class="process_page_out_node_list">
                <li class="tt"><i class="scd"></i>计划申报前期准备</li>
                <li class="sun"><label for="radio_get_id"><i class="process_page_out_icon fr"><input type="radio" name="node_get" value="zm" id="radio_get_id" checked="checked" /></i>出具证明</label></li>
             </ul>
             -->
          </div>
          <div class="process_page_out_border" id="node_list_pd" style="display:none;">
          </div>
       </div>
       <div class="process_page_out_pdt clearfix">
          <p class="process_page_out_ls">&nbsp;</p>
          <div class="fl">
                <a href="javascript:;" class="process_page_but_public" id="process_page_out_submit">确定</a>
                <a href="javascript:;" class="process_page_but_public process_page_but_public_cola" onclick="$('#process_page_out_bg').hide();">取消</a>     
          </div>
       </div>
   </div>
</div>
<!--底部脚本-->
@section foot {
<script type="text/javascript" src="/assets/js/jf.pub.js"></script>
/*流程图插件↓*/
<script type="text/javascript"
	src="/assets/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="/assets/flowdesign/js/flowdesign/flowdesign.css" />
<link rel="stylesheet" type="text/css"
	href="/assets/flowdesign/js/jquery.multiselect2side/css/jquery.multiselect2side.css" />
<script type="text/javascript"
	src="/assets/flowdesign/js/jquery-ui/jquery-ui-1.9.2-min.js?2025"></script>
<script type="text/javascript"
	src="/assets/flowdesign/js/jsPlumb/jquery.jsPlumb-1.3.16-all-min.js?2025"></script>
<script type="text/javascript"
	src="/assets/flowdesign/js/jquery.contextmenu.r2.js?2025"></script>
<!--select 2-->
<script type="text/javascript"
	src="/assets/flowdesign/js/jquery.multiselect2side/js/jquery.multiselect2side.js?2025"></script>
<!--flowdesign-->
<script type="text/javascript"
	src="/assets/flowdesign/js/flowdesign/leipi.flowdesign.v32.js?2025"></script>
<!-- /.modal -->
/*流程图插件↑*/	
<!--end div-->
<script src="/Assets/js/plugins/layer/laypage/laypage.js"></script>
<input type="hidden" id="tmp_process_to" />

<!--contextmenu div-->

<script type="text/javascript">
var flowPId="@ViewData["flow_id"]";
var flowPTitle="@ViewData["flow_title"]";


function postSameNode(nodeId,parentId){//添加父级
    if(flowPId==-1){
	   flowPTitle=$("#process_page_name").val();
	}
    if(flowPId==-1&&flowPTitle==''){
	   operatingMsgFunc(1,'请先添加流程名称，再进行操作!');
	   $("#process_page_name").focus();
	}
	else{
		$("#process_page_out_bg").hide();
		warmMsgFunc(1,'数据操作中，请稍候...');
		$.ajax({
			type:'post',
			dataType:'json',
			async:true,
			url:'/Tools/SetNodeCids',
			//url:'/Tools/SetNodePids',
			data:{
			   flow_id:flowPId,
			   title:flowPTitle,
			   node_id:nodeId,
			   //pids:parentId
			   cids:parentId
			},
			timeout:5000,
			success:function(data){	
			   warmMsgFunc(0);	   
			   if(data.msg==1){
				  if(flowPId==-1){
				     warmMsgFunc(1,'添加第一个节点需要更多耐心，请稍候...');
					 window.location.href='/Flow/Modify?id='+data.total;
					 return false;
				  }
				  makeNodeList(flowPId);
			   }
			   else{
				  operatingMsgFunc(1,'操作失败：'+data.msgbox);
			   }
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
				warmMsgFunc(0);
				operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
			}
		});	
	}	
}
function delSunNode(nodeId){
        $("#process_page_out_bg").hide();
		warmMsgFunc(1,'数据操作中，请稍候...');
		$.ajax({
			type:'get',
			dataType:'json',
			async:true,
			url:'/Tools/DelFlowNode',
			data:{
			   flow_id:flowPId,
			   node_id:nodeId
			},
			timeout:5000,
			success:function(data){	
			   warmMsgFunc(0);	   
			   if(data.msg==1){
				  makeNodeList(flowPId);
			   }
			   else{
				  operatingMsgFunc(1,'操作失败：'+data.msgbox);
			   }
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
				warmMsgFunc(0);
				operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
			}
		});	
}
function publicStyle(nodeId){//弹出框操作
    var getDoorId="node_list_pt";
	$("input[name='node_type'],input[name='node_get']").unbind("change");
	$(".process_page_out_node_list .tt,#process_page_out_submit").unbind("click");
	
	$("input[name='node_type']").bind("change",function(){
		$("input[name='node_type']").parent().removeClass("process_page_out_icon1");
		$(this).parent().addClass("process_page_out_icon1");
		var showId='node_list_'+$(this).val();
		$(".process_page_out_border").hide();
		$("#"+showId).show();
		getDoorId=showId;
	});
	$(".process_page_out_node_list .tt").bind("click",function(){
		$(this).parent().toggleClass("process_page_out_node_list_hide");
	});
	$("input[name='node_get']").bind("change",function(){
		if($(this).is(":checked")){
		   $(this).parents("li").addClass("get");
		}
		else{
		   $(this).parents("li").removeClass("get");
		}
	});
	$("#process_page_out_submit").bind("click",function(){
	    var getId=$("input[name='node_get']:checked").val();
		var parentId='';
		if($(".process_page_out_border input[name='node_get']:checked").length>0){
			$("#"+getDoorId+" input[name='node_get']:checked").each(function(index, element){
			   if(index==0){
				  parentId+=$(this).val();
			   }
			   else{
				  parentId+=','+$(this).val();
			   }
			});
			postSameNode(nodeId,parentId);
		}
		else{
		    if(flowPId!=-1){
		       delSunNode(nodeId);
			}
		}
	});
}
function nodeSelectList(tNum,nodeId,parentId){//读取系统节点
	$.ajax({
		type:'get',
		dataType:'json',
		async:true,
		url:'/Tools/GetAllNode',
		data:{
		   flow_id:flowPId,
		   t:tNum
		},
		timeout:5000,
		success:function(data){
		    if(data.data.length>0){
				var html='';
				for(var i=0; i<data.data.length; i++){
					html+='<ul class="process_page_out_node_list" data-id="'+data.data[i].category_id+'">';
					html+='<li class="tt"><i class="scd"></i>'+data.data[i].category_name+'</li>';
					for(var y=0; y<data.data[i].node_list.length; y++){
					    if(nodeId!=data.data[i].node_list[y].node_id){
							if(parentId!=0&&parentId[data.data[i].node_list[y].node_id]){
								html+='<li class="sun get"><label for="radio_get_'+data.data[i].node_list[y].node_id+'">';
								html+='<i class="process_page_out_icon fr"><input type="checkbox" checked="checked" name="node_get" value="'+data.data[i].node_list[y].node_id+'" id="radio_get_'+data.data[i].node_list[y].node_id+'" /></i>';						   
							}
							else{
								html+='<li class="sun"><label for="radio_get_'+data.data[i].node_list[y].node_id+'">';
								html+='<i class="process_page_out_icon fr"><input type="checkbox" name="node_get" value="'+data.data[i].node_list[y].node_id+'" id="radio_get_'+data.data[i].node_list[y].node_id+'" /></i>';	
							}
							html+=data.data[i].node_list[y].node_name;
							html+='</label></li>';
						}
					}
					html+='</ul>';
				}
				if(tNum==0){
				    $("#node_list_pt").html(html);
				}
				else{
				    $("#node_list_pd").html(html);
				}		
				publicStyle(nodeId);
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown){
			console.log(XMLHttpRequest.status);
		}
	});		
}
function insertNodeOut(nodeId,parentId){//弹出节点选择列表
    if(flowPId==-1&&$("#process_page_name").val()==''){
	    operatingMsgFunc(1,'请先添加流程名称，再进行操作!');
	    $("#process_page_name").focus();
	}
	else{
		$("#process_page_out_bg").show();
		$("#node_list_pt,#node_list_pd").html('<p>加载中，请稍后...</p>');
		nodeSelectList(0,nodeId,parentId);
		nodeSelectList(1,nodeId,parentId);
	}
}
function delNodeOutBox(nodeId){//删除节点弹框询问
    var html='<div class="but">'
	+'<a href="javascript:;" class="process_page_but_public" onclick="delSunNode(\''+nodeId+'\');">确定</a>'
	+'<a href="javascript:;" class="process_page_but_public process_page_but_public_cola" onclick="$(\'#process_page_msg_box\').remove();">取消</a>'
	+'</div>';
    operatingMsgFunc(html,'是否从该流程中移除此节点？')
}
function makeNodeList(flowId){//读取流程列表
	if(flowId!=''&&flowId!=0){		  
		  $.ajax({
			  type:'get',
			  dataType:'json',
			  async:true,
			  url:'/Tools/GetFlowNode',
			  data:{
				  flow_id:flowId
			  },
			  timeout:5000,
			  success:function(data){
			      warmMsgFunc(0);
				  if(data.data.length>0){
					  $("#insert_node_empty").hide();
					  $("#process_page_node_box").show();
                      var dataHtml='<table cellpadding="0" cellspacing="0" class="process_new_style_list">';	
					  for(var i=0; i<data.data.length; i++){//分类
					     dataHtml+='<tr class="p_type_name">';
						 dataHtml+='<td class="m_w"><p>'+data.data[i].category_name+'</p></td>';
						 dataHtml+='<td></td>';
						 dataHtml+='</tr>';
						 for(var y=0; y<data.data[i].node_list.length; y++){//节点
							 dataHtml+='<tr>';
							 dataHtml+='<td>'+data.data[i].node_list[y].node_name+'</td>';
							 var aryFids='{';
							 if(data.data[i].node_list[y].c_node_list.length>0){
								 dataHtml+='<td><span class="sp_fname">';
								 for(var z=0; z<data.data[i].node_list[y].c_node_list.length; z++){//父级
									if(z!=0){
									   aryFids+=',';
									   dataHtml+='，';
									}								 
								    aryFids+=data.data[i].node_list[y].c_node_list[z].c_node_id+':true';
									dataHtml+=data.data[i].node_list[y].c_node_list[z].c_node_name;
									
								 }
								 aryFids+='}';
								 dataHtml+='</span>'
								 +'<a href="javascript:;" class="operating_link" onclick="insertNodeOut(\''+data.data[i].node_list[y].node_id+'\','+aryFids+')">修改</a>'
								 +'<a href="javascript:;" class="operating_link" onclick="delNodeOutBox(\''+data.data[i].node_list[y].node_id+'\')">删除</a>'
								 +'</td>';
							 }
							 else{
							     dataHtml+='<td><a href="javascript:;" class="operating_link" onclick="insertNodeOut(\''+data.data[i].node_list[y].node_id+'\',0)">设置子级节点</a></td>';
							 }
							 
							 dataHtml+='</tr>';						    
						 }
					  }
					  dataHtml+='</table>';	
					  $("#process_page_node_box").html(dataHtml);
				  }
				  else{
					  $("#insert_node_empty").show();
					  $("#process_page_node_box").hide();				   
				  }
			  },
			  error:function(XMLHttpRequest, textStatus, errorThrown){
				  console.log(XMLHttpRequest.status);
			  }
		  });	
	}
	else{
		$("#insert_node_empty").show();
		$("#process_page_node_box").hide();
	}
}
function changePageTitle(){//修改流程标题
   var newName=$("#process_page_name").val();
   var oldName=$("#flow_title").val();
   warmMsgFunc(1,'页面保存中，请稍候...');
   if(newName==oldName){
      window.location.href='/Flow/Index';
   }
   else{
	  $.ajax({
		  type:'post',
		  dataType:'json',
		  async:true,
		  url:'/Tools/ModifyFlowTitle',
		  data:{
			 flow_id:flowPId,
			 new_title:newName
		  },
		  timeout:5000,
		  success:function(data){
			  warmMsgFunc(0);
			  warmMsgFunc(1,'保存成功！正在回到流程列表...');
			  if(data.msg==1){
			     window.location.href='/Flow/Index';
			  }
			  else{
			     operatingMsgFunc(1,'操作失败：'+data.msgbox);
			  }
		  },
		  error:function(XMLHttpRequest, textStatus, errorThrown){
			  warmMsgFunc(0);
              operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
			  console.log(XMLHttpRequest.status);
		  }
	  });		
   }    
}
function toMakeMap(){//流程图预览-需先调用接口，生成，而后跳转
   warmMsgFunc(1,'页面保存中，请稍候...');
	$.ajax({
		type:'get',
		dataType:'json',
		async:true,
		url:'/Tools/GenerateFlowNodeCompact',
		data:{
		   flow_id:flowPId
		},
		timeout:5000,
		success:function(data){
			warmMsgFunc(0);
			warmMsgFunc(1,'生成成功！正在前往...');
			if(data.msg==1){
			   window.location.href='/Flow/Compact?id='+flowPId;
			}
			else{
			   operatingMsgFunc(1,'初始化失败：'+data.msgbox);
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown){
			warmMsgFunc(0);
			operatingMsgFunc(1,'初始化失败：'+XMLHttpRequest.status);
			console.log(XMLHttpRequest.status);
		}
	});		

}
$(function(){	
   warmMsgFunc(1,'页面初始化中，请稍候...');
   makeNodeList(flowPId);  
})
</script>

}
<!--底部脚本 end-->
