@model Universal.Web.Models.ViewModelIndex
@{
    ViewBag.Title = "首页";
    ViewData["tabTop"] = "home";
}

<!--头部脚本-->
@section head
{
    <link href="~/Assets/theme/css/home.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<div class="wrapper">

    <div class="public">
        <i class="i-public"></i>
        <div class="publicScroll">
            <ul>
                <li><a href="#" title="#">2016年国庆节放假通知 各部门：值国庆节来临之际，根据国务院办公厅公布的《2016年节假日安排的通知》的有关规定，结合我公司实际情况，经领导班子研究决定，现将2016年国庆节放假…</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="homeWrap">
        <div class="homeLt">
            <div class="homeBox">
                <div class="titH"><i class="i-lm5"></i><span>项目动态</span><a href="#" title="#" class="btn25 red fr"><i class="i-wplus"></i><em>新增</em></a></div>
                <div class="homelist">
                    <table border="0" cellspacing="0" cellpadding="0" class="homeTable">
                        <tr>
                            <td width="15%">蔡屋围更新项目</td>
                            <td width="10%">规土委审查</td>
                            <td width="30%">新增备注：绘制宗地图</td>
                            <td width="10%">李明</td>
                            <td width="20%">2016.04.19 18:05:24</td>
                            <td width="15%" align="center"><a href="javascript:;"><i class="i-favG"></i></a></td>
                        </tr>
                        <tr>
                            <td>蔡屋围更新项目</td>
                            <td>规土委审查</td>
                            <td>新增备注：绘制宗地图</td>
                            <td>李明</td>
                            <td>2016.04.19 18:05:24</td>
                            <td align="center"><a href="javascript:;"><i class="i-favG"></i></a></td>
                        </tr>
                        <tr>
                            <td>蔡屋围更新项目</td>
                            <td>规土委审查</td>
                            <td>新增备注：绘制宗地图</td>
                            <td>李明</td>
                            <td>2016.04.19 18:05:24</td>
                            <td align="center"><a href="javascript:;"><i class="i-favG"></i></a></td>
                        </tr>
                        <tr>
                            <td>蔡屋围更新项目</td>
                            <td>规土委审查</td>
                            <td>新增备注：绘制宗地图</td>
                            <td>李明</td>
                            <td>2016.04.19 18:05:24</td>
                            <td align="center"><a href="javascript:;"><i class="i-favG"></i></a></td>
                        </tr>
                        <tr>
                            <td>蔡屋围更新项目</td>
                            <td>规土委审查</td>
                            <td>新增备注：绘制宗地图</td>
                            <td>李明</td>
                            <td>2016.04.19 18:05:24</td>
                            <td align="center"><a href="javascript:;"><i class="i-favG"></i></a></td>
                        </tr>
                        <tr>
                            <td>蔡屋围更新项目</td>
                            <td>规土委审查</td>
                            <td>新增备注：绘制宗地图</td>
                            <td>李明</td>
                            <td>2016.04.19 18:05:24</td>
                            <td align="center"><a href="javascript:;"><i class="i-favG"></i></a></td>
                        </tr>
                        <tr>
                            <td>蔡屋围更新项目</td>
                            <td>规土委审查</td>
                            <td>新增备注：绘制宗地图</td>
                            <td>李明</td>
                            <td>2016.04.19 18:05:24</td>
                            <td align="center"><a href="javascript:;"><i class="i-favG"></i></a></td>
                        </tr>
                        <tr>
                            <td>蔡屋围更新项目</td>
                            <td>规土委审查</td>
                            <td>新增备注：绘制宗地图</td>
                            <td>李明</td>
                            <td>2016.04.19 18:05:24</td>
                            <td align="center"><a href="javascript:;"><i class="i-favG"></i></a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="homeBox mt_20">
                <div class="titH"><i class="i-lm6"></i><span>最新秘籍</span><a href="/Shool/Modify" title="上传秘籍" class="btn25 red fr"><i class="i-puload"></i><em>上传</em></a></div>
                <div class="homelist">
                    <table border="0" cellspacing="0" cellpadding="0" class="homeTable">
                        @foreach (var item in Model.DocumentList)
                        {
                            <tr>
                                <td width="15%">@item.Title</td>
                                <td width="20%">@item.CategoryName</td>
                                <td width="10%">@item.FileExt</td>
                                <td width="10%">@item.CusUser.NickName</td>
                                <td width="20%">@item.LastUpdateTime</td>
                                <td width="15%" align="center"><a href="javascript:;" onclick="down('@item.FilePath')"><i class="i-downL"></i></a><a href="javascript:;"><i class="i-share"></i></a><a href="javascript:;"><i class="@item.FavIcon"></i></a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="homeRt">
            <div class="titH"><i class="i-lm8"></i><span>我的消息</span> </div>
            <div class="homeRlist">
                <ul>
                    <li>
                        <a href="#" title="#">
                            <em><i class="i-shareB"></i></em>
                            <h4>城市更新报建指引</h4>
                            <p>项目审核-张嘉  16:30</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <em><i class="i-yanshou"></i></em>
                            <h4>城市更新报建指引</h4>
                            <p>项目审核-张嘉  16:30</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <em><i class="i-public2"></i></em>
                            <h4>城市更新报建指引</h4>
                            <p>项目审核-张嘉  16:30</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <em><i class="i-shareB"></i></em>
                            <h4>城市更新报建指引</h4>
                            <p>项目审核-张嘉  16:30</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <em><i class="i-yanshou"></i></em>
                            <h4>城市更新报建指引</h4>
                            <p>项目审核-张嘉  16:30</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <em><i class="i-public2"></i></em>
                            <h4>城市更新报建指引</h4>
                            <p>项目审核-张嘉  16:30</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <em><i class="i-shareB"></i></em>
                            <h4>城市更新报建指引</h4>
                            <p>项目审核-张嘉  16:30</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <em><i class="i-yanshou"></i></em>
                            <h4>城市更新报建指引</h4>
                            <p>项目审核-张嘉  16:30</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <em><i class="i-public2"></i></em>
                            <h4>城市更新报建指引</h4>
                            <p>项目审核-张嘉  16:30</p>
                        </a>
                    </li>
                </ul>
                <a href="#" title="#" class="loadMore"><i class="i-arrR"></i>查看更多</a>
            </div>
        </div>
    </div>

</div>


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>


<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

        function down(linkstr)
        {
            if(linkstr.length>0)
            {
                window.open(linkstr);
            }
        }

        function fav(id) {

            $.ajax({
                type: "post",
                url: "/Document/DocFavorites",
                data: { "id": id },
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    if (data.msg == 1) {
                        data_search();
                    }
                    else {
                        alert(data.msgbox);
                    }
                },
                error: function () {
                    alert("操作失败，请检查网络");
                }
            })
        }
    </script>
}

<!--底部脚本 end-->
