@model Universal.Web.Models.ViewModelIndex
@{
    ViewBag.Title = "首页";
    ViewData["tabTop"] = "home";
}

<!--头部脚本-->
@section head
{
    <link href="~/Assets/theme/css/home.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<div class="wrapper">
    @if (Model.TopNotice != null)
    {
        <div class="public">
            <i class="i-public"></i>
            <div class="publicScroll">

                <ul>
                    <li><a href="/Info/Notice?id=@Model.TopNotice.ID" title="公告"> @Universal.Tools.StringHelper.CutString(Model.TopNotice.Content, 85) </a></li>
                </ul>
            </div>
        </div>
    }
    <div class="clear"></div>
    <div class="homeWrap">
        <div class="homeLt">
            <div class="homeBox">
                <div class="titH"><i class="i-lm5"></i><span>项目动态</span><a href="/Project/Modify" title="新增项目" class="btn25 red fr"><i class="i-wplus"></i><em>新增</em></a></div>
                <div class="homelist">
                    <table border="0" cellspacing="0" cellpadding="0" class="homeTable">
                        <!--

                        <tr>
                            <td>蔡屋围更新项目</td>
                            <td>规土委审查</td>
                            <td>新增备注：绘制宗地图</td>
                            <td>李明</td>
                            <td>2016.04.19 18:05:24</td>
                            <td align="center"><a href="javascript:;"><i class="i-favG"></i></a></td>
                        </tr>
                            -->
                        <tbody id="listData"></tbody>
                    </table>
                </div>
            </div>

            <div class="homeBox mt_20">
                <div class="titH"><i class="i-lm6"></i><span>最新秘籍</span><a href="/Shool/Modify" title="上传秘籍" class="btn25 red fr"><i class="i-puload"></i><em>上传</em></a></div>
                <div class="homelist">
                    <table border="0" cellspacing="0" cellpadding="0" class="homeTable">
                        @foreach (var item in Model.DocumentList)
                        {
                            <tr>
                                <td width="30%">@Universal.Tools.StringHelper.CutString(item.Title,26)</td>
                                <td width="10%">@item.CategoryName</td>
                                <td width="5%"> @item.FileList.Count</td>
                                <td width="10%">@item.CusUser.NickName</td>
                                <td width="13%">@item.LastUpdateTime</td>
                                <td width="10%" align="center">
                                @*@foreach (var file in item.FileList.ToList())
                                {
                                    //附件大小：@file.FileSize
                                    //附件名：@file.FileName
                                    //下载地址：@file.FilePath
                                    <a href="javascript:;" onclick="down('@file.FilePath','@item.Title @file.FileName')"><i class="i-downL"></i></a>
                                }*@
                                <a href="javascript:;"><i class="i-share"></i></a><a href="javascript:;" onclick="fav(@item.ID)"><i id="i_fav_@item.ID" class="@item.FavIcon"></i></a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="homeRt">
            <div class="titH"><i class="i-lm8"></i><span>我的待办</span> </div>
            <div class="homeRlist">
                @if (Model.JobTask.Count > 0)
                {
                    <ul>
                        @foreach (var item in Model.JobTask)
                        {
                            <li>
                                <a href="@item.LinkUrl" title="#">
                                    <em><i class="i-shareB"></i></em>
                                    <h4>@(Universal.Tools.StringHelper.CutString(item.Content, 14))</h4>
                                    <p>@item.TypeName  @item.AddTime</p>
                                </a>
                            </li>
                        }
                    </ul>
                }else
                {
                    <p>没有待办</p>
                }

                <a href="/User/Message" title="#" class="loadMore"><i class="i-arrR"></i>查看更多</a>
            </div>
        </div>
    </div>

</div>


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>


<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

        $(document).ready(function (e) {
            pageData();
        });

        /*******************列表 end *************************/
        //分页方法
        function pageData() {
            $.ajax({
                type: "post",
                url: "/Project/PageData",
                data: { "page_size": 8, "page_index": 1, "only_mine": false, "keyword": "", "status": 0, "node_id": 0, "node_status": 0, "begin_time": null, "end_time": null, "is_admin": false },
                async: false, //同步请求
                datatype: "json",
                beforeSend: function () {
                    $("#listData").html("<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>项目加载中。。。</p></td><tr>");
                },
                success: function (data) {
                    if (data.msg == 0) {
                        $("#listData").html("<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>项目加载失败:" + data.msgbox + "</p></td><tr>");
                        return;
                    }
                    $("#listData").html("");
                    var dataHtml = "";
                    $.each(data.data, function (i, item) {
                        dataHtml += "<tr>";
                        dataHtml += "<td width=\"20%\">" + CutString(item.Title, 12) + "</td>";
                        dataHtml += "<td width=\"10%\">" + item.NowNode.Title + "</td>";
                        dataHtml += "<td width=\"20%\">" + item.NowNode.Content + "</td>";
                        dataHtml += "<td width=\"10%\">" + item.CusUser.NickName + "</td>";
                        dataHtml += "<td width=\"20%\">" + ChangeDateFormat(item.LastUpdateTime, "yyyy-MM-dd HH:mm:ss") + "</td>";
                        dataHtml += "<td  width=\"15%\" align=\"center\"><a href=\"javascript:;\" onclick='fav_pro(" + item.ID + ")'><i id=\"i_project_" + item.ID + "\" class=\"" + item.FavIcon + "\"></i></a></td>";
                        dataHtml += "</tr>";
                    });
                    if (data.data.length == 0) {
                        dataHtml += "<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>没有相关数据</p></td><tr>";
                    }
                    $("#listData").html(dataHtml);

                },
                error: function () {
                    $("#listData").html("<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>项目加载失败</p></td><tr>");
                }
            })
        }
        /*******************列表 end *************************/

        //截取字符串
        function CutString(str, len) {
            if (str == null || str == undefined) {
                return "";
            }
            if (str.length > len) {
                return str.substring(0, len) + "...";
            } else {
                return str;
            }
        }
        //格式化时间
        function ChangeDateFormat(cellval, format) {
            try {
                var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var Minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var Second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                switch (format) {
                    case "yyyy-MM-dd":
                        return date.getFullYear() + "-" + month + "-" + currentDate;
                    case "yyyy-MM-dd HH:mm:ss":
                        return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + Minute + ":" + Second;
                    default:
                        return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + Minute + ":" + Second;
                }
            }
            catch (e) {
                return "";
            }
        }

        function down(linkstr, title) {
            if (linkstr.length > 0) {
                $.post('/Home/AddDownLog', { "title": title }, function (text, status) { window.open(linkstr) });
            }
        }

        function fav_pro(id) {
            $.ajax({
                type: "post",
                url: "/Project/AddFavorites",
                data: { "id": id },
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    if (data.msg == 1) {
                        if (data.msgbox == "取消收藏成功") {
                            $("#i_project_" + id).attr("class", "i-favG");
                        } else {
                            //已收藏
                            $("#i_project_" + id).attr("class", "i-fav");
                        }
                    }
                    else {
                        alert(data.msgbox);
                    }
                },
                error: function () {
                    alert("操作失败，请检查网络");
                }
            })
        }

        function fav(id) {

            $.ajax({
                type: "post",
                url: "/Document/DocFavorites",
                data: { "id": id },
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    if(data.msg ==1)
                    {
                        if(data.msgbox=="取消收藏成功")
                        {
                            $("#i_fav_"+id).attr("class","i-favG");
                        }else
                        {
                            //已收藏
                            $("#i_fav_"+id).attr("class","i-fav");
                        }
                    }

                },
                error: function () {
                    alert("操作失败，请检查网络");
                }
            })
        }
    </script>
}

<!--底部脚本 end-->
