@model Universal.Web.Models.ViewModelAppVersion
@{
    ViewBag.Title = "版本管理";
    ViewData["tabLeft"] = "appversion";
    ViewData["tabTop"] = "manager";
}

<div class="wapper">
@Html.Partial("_AdminMenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <div class="inner">
                    <a href="/AppVersion/Index" class="fl f16"><i class="i-back"></i>版本列表</a>
                    <b class="tit1Txt fr">发布版本</b>
                </div>
            </div>

            <div class="userInfo sysIn">
                <form method="post" class="form-horizontal" id="form">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(p => p.MD5)
                    @Html.HiddenFor(p => p.Size)
                    @Html.HiddenFor(p => p.VersionCode)
                    @Html.HiddenFor(p => p.LogoImg)
                    @Html.HiddenFor(p => p.DownUrl)
                    <ul>

                        <li>
                            <div class="lilt"><em class="col_red">*</em>所属系统</div>
                            <div class="limd">
                                @Html.DropDownListFor(p => p.Platforms, ViewData["PlatformsList"] as List<SelectListItem>, new { @class = "tb_select",@style= "width: 94%;" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.APPType)</div>
                        </li>
                        <li>
                            <div class="lilt"><em class="col_red">*</em>版本类型</div>
                            <div class="limd">
                                @Html.DropDownListFor(p => p.APPType, ViewData["TypeList"] as List<SelectListItem>, new { @class = "tb_select", @style = "width: 94%;" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.APPType)</div>
                        </li>
                        <li>
                            <div class="lilt"><em class="col_red">*</em>版本号</div>
                            <div class="limd">
                                @Html.TextBoxFor(p => p.Version, new { placeholder = "版本号", @class = "usInput" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.Version)</div>
                        </li>
                        <li>
                            <div class="lilt"><em class="col_red">*</em>App Store 连接地址</div>
                            <div class="limd">
                                @Html.TextBoxFor(p => p.LinkUrl, new { placeholder = "App Store连接地址", @class = "usInput" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.LinkUrl)</div>
                        </li>


                        <li>
                            <div class="lilt"><em class="col_red">*</em>上传apk文件</div>
                            <div class="limd big">
                                <label class="lab_a" for="upload_apk"><i></i>添加文件<input type="file" id="upload_apk" /></label>
                                <span id="span_filename">@Model.DownUrl</span> &nbsp; <span id="span_upload_status"></span>
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.DownUrl)</div>
                        </li>
                        <li>
                            <div class="lilt"><em class="col_red">*</em>版本更新内容</div>
                            <div class="limd big">
                                @Html.TextAreaFor(p => p.Content, new { @style = "margin: 0px; width: 530px; height: 150px;" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.LinkUrl)</div>
                        </li>

                        <li>
                            <div class="lilt">&nbsp;</div>
                            <div class="limd"><button type="submit" class="btn1">发布</button> <button type="button" onclick="location.href = '/APPVersion/Index';" class="btn1 grey">取消</button></div>
                        </li>
                    </ul>
                </form>
            </div>



        </div>



        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

    <!--底部脚本-->
    @section foot
{
        <script type="text/javascript">

            $(document).ready(function (e) {
                @if(Model.Msg == 1)
                {
                    @: location.href = "/APPVersion/Index";
                }else if(Model.Msg == 3)
                {
                    @:alert("数据验证失败");
                }

            });


            $(function () {
                $("#upload_apk").on("change", function () {
                    var filePath = $(this).val().toLowerCase();
                    if (filePath.indexOf("apk") != -1) {
                        var arr = filePath.split('\\');
                        var fileName = arr[arr.length - 1];
                        upload();
                    } else {
                        alert("您未上传文件，或者您上传文件类型有误！");
                        return false
                    }
                })

            })

            function upload() {
                var fd = new FormData();
                fd.append("FileData", document.getElementById('upload_apk').files[0]);
                $("#span_upload_status").html("上传中...");
                $.ajax({
                    url: '/Tools/UploadAPK',
                    type: 'POST',
                    cache: false,
                    contentType: "multipart/form-data",
                    data: fd,
                    processData: false,
                    contentType: false
                }).done(function (res) {
                    $("#span_upload_status").html("");
                    if (res.msg == 1) {
                        $("#DownUrl").val(res.down_url);
                        $("#Size").val(res.size);
                        $("#MD5").val(res.md5)
                        $("#Version").val(res.version);
                        $("#VersionCode").val(res.version_code);
                        $("#LogoImg").val(res.logo_img);
                        $("#span_filename").html(res.down_url);
                    } else {
                        alert(res.msgbox);
                    }
                }).fail(function (res) { });
            }


        </script>

    }
    <!--底部脚本 end-->
