@model Universal.Entity.Project
@{
    ViewBag.Title = "项目基本信息";
    ViewData["tabTop"] = "project";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<!--wrapper [[-->
<div class="container">
    <div class="new-head mb-40 clearfix">
        <a href="/Project/Index" class="fl f16 go-prev"><i class="i-back"></i><span>项目管理</span></a>
        <b class="f20">项目详情</b>
        <span class="fr">
            <a href="javascript:;" title="一键导出"><i class="i-redbb"></i><span>一键导出</span></a>
            <a href="javascript:;" title="删除"><i class="i-barrel"></i><span>删除项目</span></a>
        </span>
    </div>
    <ul class="new-tab mb-40 clearfix">
        <li><a href="/Project/FlowInfo?id=@Model.ID">流程节点</a></li>
        <li><a href="/Project/Info?id=@Model.ID">项目信息</a></li>
        <li class="current"><a href="/Project/BasicInfo?id=@Model.ID">基本信息</a></li>
        <li><a href="/Project/StageInfo?id=@Model.ID">拆迁概况</a></li>
    </ul>
    <div class="demolition clearfix">
        <div class="fl">
            <ul>
                <li><label for="" class="lab5">项目名称：</label><span>@Model.Title</span></li>
                <li><label for="" class="lab5">审批人：</label><span>@(Model.ApproveUser==null?"":Model.ApproveUser.NickName)</span></li>
                <li><label for="" class="lab5">项目流程：</label><span>@ViewData["FlowName"]</span></li>
                <li>
                    <label for="" class="lab5">项目联系人：</label>
                    <div class="scrollbox">
                        @foreach (var item in (List<Universal.Web.Models.ViewModelDocumentCategory>)ViewData["UserList"])
                        {
                            <a href="javascript:;">@item.title</a>
                        }
                    </div>
                </li>
                <li>
                    <label for="" class="lab5">附件：</label>
                    <ul  style="float:right">
                        @foreach (var item in Model.ProjectFiles.Where(p=>p.Type == Universal.Entity.ProjectFileType.file))
                        {
                            <li><a href="@item.FilePath" target="_blank" >@item.FileName  @item.FileSize</a></li>

                        }
                    </ul>
                    
                </li>
                <li>
                    <label for="" class="lab5">相册：</label>
                    <ul style="float:right;width:50%;">
                        @foreach (var item in Model.ProjectFiles.Where(p=>p.Type == Universal.Entity.ProjectFileType.album))
                        {
                            <li><img src="@item.FilePath" style="width:100px;" /></li>

                        }
                    </ul>
                </li>
            </ul>
            <div class="new-msg-submit" style="margin-top:120px;"><a href="/Project/Modify?id=@Model.ID" class="btn-major">编辑</a></div>
        </div>
    </div>
</div>
<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>



<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>

}
<!--底部脚本 end-->