@{ ViewBag.Title = "项目流程信息"; ViewData["tabTop"] = "project"; }

<!--头部脚本-->
@section head {
<link rel="stylesheet" type="text/css" href="/assets/css/process_page.css?von=05" />
}
<!--头部脚本 end-->

<div class="clear"></div>
<!--wrapper [[-->
<div class="container" style="width: 100%">
	<div class="new-head mb-40 clearfix">
		<a href="/Project/Index" class="fl f16 go-prev"><i class="i-back"></i><span>项目管理</span></a>
		<b class="f20">项目详情</b>
		<div class="fr">
		<a href="javascript:;" onclick="importProject(@Model.ID)" title="一键导出"><i class="i-redbb"></i><span>一键导出</span></a>
            <a href="javascript:;" onclick="delProject(@Model.ID)" title="删除"><i class="i-barrel"></i><span>删除项目</span></a>
		</div>
	</div>

	<ul class="new-tab clearfix" id="getForIdYouKnow">
		<li class="current"><a href="/Project/FlowInfo?id=@ViewData["project_id"]">流程节点</a></li>
		<li><a href="/Project/Info?id=@ViewData["project_id"]">项目信息</a></li>
		<li><a href="/Project/BasicInfo?id=@ViewData["project_id"]">基本信息</a></li>
		<li><a href="/Project/StageInfo?id=@ViewData["project_id"]">拆迁概况</a></li>
	</ul>
    <div class="container mini-layout" id="flowdesign_canvas">
	</div>
</div>
<!--wrapper ]]-->
<div class="footer">Copyright © 深圳市诚泰城市更新咨询服务有限公司 粤ICP备17053275号</div>


<div class="process_page_out_bg" id="process_page_out_bg">
   <div class="process_page_out_box">
       <div class="process_page_out_tt">
          <a href="javascript:;" onclick="$('#process_page_out_bg').hide();">×</a>
          <span id="process_page_out_tt">条件节点</span>
       </div>
       <div class="process_page_out_pdt clearfix">
          <p class="process_page_out_ls">选择节点</p>
          <div class="process_page_out_border" id="node_list_pt">
             <!--
             <ul class="process_page_out_node_list">
                <li class="tt"><i class="scd"></i>计划申报前期准备</li>
                <li class="sun"><label for="radio_get_id"><i class="process_page_out_icon fr"><input type="radio" name="node_get" value="zm" id="radio_get_id" checked="checked" /></i>出具证明</label></li>
             </ul>
             -->
          </div>
       </div>
       <div class="process_page_out_pdt clearfix">
          <p class="process_page_out_ls">&nbsp;</p>
          <div class="fl">
                <a href="javascript:;" class="process_page_but_public" id="process_page_out_submit">确定</a>
                <a href="javascript:;" class="process_page_but_public process_page_but_public_cola" onclick="$('#process_page_out_bg').hide();">取消</a>     
          </div>
       </div>
   </div>
</div>

<div class="process_page_out_bg" id="medify_box">
   <div class="process_page_out_box">
       <div class="process_page_out_tt">
          <a href="javascript:;" onclick="$('#medify_box').hide();">×</a>
          <span id="process_page_out_tt">修改备注</span>
       </div>
       <div class="process_page_out_pdt clearfix">
          <p class="process_page_out_ls">备注</p>
          <textarea class="process_page_out_border" id="medify_input"></textarea>
       </div>
       <div class="process_page_out_pdt clearfix">
          <p class="process_page_out_ls">&nbsp;</p>
          <div class="fl">
                <a href="javascript:;" class="process_page_but_public" id="medify_remark_submit">确定</a>
                <a href="javascript:;" class="process_page_but_public process_page_but_public_cola" onclick="$('#medify_box').hide();">取消</a>     
          </div>
       </div>
   </div>
</div>
<!--底部脚本-->
@section foot {
<script type="text/javascript" src="/assets/js/jf.pub.js"></script>
@Scripts.Render("~/bundles/layer")
<script type="text/javascript">
var the_flow_id = @ViewData["project_id"];
var can_edit="@ViewData["can_edit"]";
var nowUserName="@WorkContext.UserInfo.NickName";
/*流程图JJF ↓*/
function setNodeEnd(nodeId){//关闭节点
    $('#process_page_msg_box').remove();
    warmMsgFunc(1,'节点设置中，请稍后...');
	$.ajax({
		type:'get',
		dataType:'json',
		async:true,
		url:'/Project/APISetEnd',
		data:{
		   project_flow_node_id:nodeId
		},
		timeout:5000,
		success:function(data){
			warmMsgFunc(0);
			if(data.msg==1){ 
			   $("#flowdesign_canvas").html(""); 
			   getNodeList();
			}
			else{
			   operatingMsgFunc(1,'操作失败：'+data.msgbox);
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown){
			warmMsgFunc(0);
			operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
			console.log(XMLHttpRequest.status);
		}
	});	
}
function setNodeChange(nodeId){//切换节点状态
    $('#process_page_msg_box').remove();
    warmMsgFunc(1,'节点设置中，请稍后...');
	$.ajax({
		type:'get',
		dataType:'json',
		async:true,
		url:'/Project/APISetStatus',
		data:{
		   project_flow_node_id:nodeId
		},
		timeout:5000,
		success:function(data){
			warmMsgFunc(0);
			if(data.msg==1){ 
			   $("#flowdesign_canvas").html(""); 
			   getNodeList();
			}
			else{
			   operatingMsgFunc(1,'操作失败：'+data.msgbox);
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown){
			warmMsgFunc(0);
			operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
			console.log(XMLHttpRequest.status);
		}
	});	
}
function choiseNodeFunc(nodeId){//条件节点提交
    $("#process_page_out_bg").hide();
    warmMsgFunc(1,'节点设置中，请稍后...');
	$.ajax({
		type:'get',
		dataType:'json',
		async:true,
		url:'/Project/APISetSelect',
		data:{
		   project_flow_node_id:nodeId
		},
		timeout:5000,
		success:function(data){
			warmMsgFunc(0);
			if(data.msg==1){ 
			   $("#flowdesign_canvas").html(""); 
			   getNodeList();
			}
			else{
			   operatingMsgFunc(1,'操作失败：'+data.msgbox);
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown){
			warmMsgFunc(0);
			operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
			console.log(XMLHttpRequest.status);
		}
	});	    
}
function getNextNode(fNodeId){//获取下一节点信息 
    var rt=false;
	$("#node_list_pt").html("<p>数据加载中，请稍候...</p>");
	$.ajax({
		type:'get',
		dataType:'json',
		async:false,
		url:'/Project/APIGetNextFlowNode',
		data:{
		   project_id:the_flow_id,
		   project_flow_node_id:fNodeId
		},
		timeout:5000,
		success:function(data){
			if(data.msg==1){
			   if(data.data.length>0){ 
			      rt=data.data[0].node_is_fator;
			   }
			   if(rt){			       
				   var htmlN='<ul class="process_page_out_node_list">';
				   for(var i=0; i<data.data.length; i++){
					  htmlN+='<li class="sun"><label class="project_flowinfo_lh40" for="radio_get_id'+data.data[i].project_flow_node_id+'"><i class="process_page_out_icon fr"><input type="radio" name="node_get" id="radio_get_id'+data.data[i].project_flow_node_id+'" value="'+data.data[i].project_flow_node_id+'" /></i>'+data.data[i].node_title+'</label></li>';
				   }
				   htmlN+='</ul>';
				   $("#node_list_pt").html(htmlN);
				   var getId=0;
				   $("#node_list_pt input[name='node_get']").unbind("change");
				   $("#process_page_out_submit").unbind("click");
				   $("#node_list_pt input[name='node_get']").bind("change",function(){
					   $("#node_list_pt li").removeClass("get");
					   $(this).parents("li").addClass("get");
					   getId=$(this).val();
				   });
				   $("#process_page_out_submit").bind("click",function(){
				       if(getId!=0){
					      choiseNodeFunc(getId);
					   }
				   });
			   }
			}
			else{
			   rt=error;
			   operatingMsgFunc(1,'操作失败：'+data.msgbox);
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown){
		    rt=error;
			operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
			console.log(XMLHttpRequest.status);
		}
	});	
	return rt;
}
function finishNode(nodeId){//节点完成
    $('#process_page_msg_box').remove();
    warmMsgFunc(1,'节点设置中，请稍后...');
	$.ajax({
		type:'get',
		dataType:'json',
		async:true,
		url:'/Project/APISetEnd',
		data:{
		   project_flow_node_id:nodeId
		},
		timeout:5000,
		success:function(data){
			warmMsgFunc(0);
			if(data.msg==1){ 
			   $("#flowdesign_canvas").html(""); 
			   getNodeList();
			}
			else{
			   operatingMsgFunc(1,'操作失败：'+data.msgbox);
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown){
			warmMsgFunc(0);
			operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
			console.log(XMLHttpRequest.status);
		}
	});	    
}
function operaTionFunc(status,activeId,nodeStatus){
        if(status==1){//完成节点
			var statueNext=getNextNode(activeId);
			if(statueNext){
				 $("#process_page_out_bg").show();
			}
			else{
				var html='<div class="but">'
				+'<a href="javascript:;" class="process_page_but_public" onclick="finishNode('+activeId+');">确定</a>'
				+'<a href="javascript:;" class="process_page_but_public process_page_but_public_cola" onclick="$(\'#process_page_msg_box\').remove();">取消</a>'
				+'</div>';
				operatingMsgFunc(html,'该节点是否已完成？');
			}   
		}
		if(status==2){//关闭节点
			var statueNext=getNextNode(activeId);
			if(nodeStatus=="true"&&statueNext){//如果是关闭节点，并且子节点是条件节点
				$("#process_page_out_bg").show();
			}
			else{//
				var html='<div class="but">'
				+'<a href="javascript:;" class="process_page_but_public" onclick="setNodeChange('+activeId+');">确定</a>'
				+'<a href="javascript:;" class="process_page_but_public process_page_but_public_cola" onclick="$(\'#process_page_msg_box\').remove();">取消</a>'
				+'</div>';
				if(nodeStatus=="true"){
				   operatingMsgFunc(html,'是否关闭该节点？');
				}
				else{
				   operatingMsgFunc(html,'是否开启该节点？');
				}
			}
		}
}
function getNowTimer(){
	/**
	 * 
	 * 获取当前时间
	 */
	function p(s) {
		return s < 10 ? '0' + s: s;
	}
	
	var myDate = new Date();
	//获取当前年
	var year=myDate.getFullYear();
	//获取当前月
	var month=myDate.getMonth()+1;
	//获取当前日
	var date=myDate.getDate(); 
	var h=myDate.getHours();       //获取当前小时数(0-23)
	var m=myDate.getMinutes();     //获取当前分钟数(0-59)
	var s=myDate.getSeconds();  
	
	return year+'-'+p(month)+"-"+p(date)+" "+p(h)+':'+p(m)+":"+p(s);
}
function modifyRemark(str,pfId){
    $("#medify_remark_submit").unbind("click");
	$("#medify_input").val('');
    //$("#medify_input").val(decodeURI(str));//不做修改，只在上添加
    $("#medify_box").show();
	$("#medify_remark_submit").bind("click",function(){
	    var nStr=$("#medify_input").val();
		nStr=nowUserName+"("+getNowTimer()+")："+nStr+'\n'+decodeURI(str);
		$('#medify_box').hide();
		warmMsgFunc(1,'备注保存中，请稍后...');
		$.ajax({
			type:'get',
			dataType:'json',
			async:true,
			url:'/Project/APISaveRemark',
			data:{
			   project_flow_node_id:pfId,
			   remark:nStr
			},
			timeout:5000,
			success:function(data){
				warmMsgFunc(0);
				if(data.msg==1){ 
				   getNodeList();
				}
				else{
				   operatingMsgFunc(1,'操作失败：'+data.msgbox);
				}
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
				warmMsgFunc(0);
				operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
				console.log(XMLHttpRequest.status);
			}
		});	    
	});
}
function getFileName(o) {
	var pos = o.lastIndexOf("\\");
	return o.substring(pos + 1);
}
function Upload(obj){
      warmMsgFunc(1,'文件上传中，请稍后...');
	  var fd = new FormData();
	  fd.append("FileData", $(obj)[0].files[0]);
	  $.ajax({
		  url: '/Tools/UploadFile',
		  type: 'POST',
		  cache: false,
		  contentType: "multipart/form-data",
		  data: fd,
		  processData: false,
		  contentType: false
	  }).done(function (res) {
	      warmMsgFunc(0);
		  if (res.msg == 1) {
		      var dataJson=$(obj).attr("data-json");
			  dataJson+='{"file_name":"'+getFileName($(obj).val())+'","file_path":"'+res.data+'","file_size":"'+res.msgbox+'"}';
			  dataJson+=']';
		      warmMsgFunc(1,'附件添加中，请稍后...');
			  $.ajax({
				  type:'post',
				  dataType:'json',
				  async:true,
				  url:'/Project/APISaveFile?project_flow_node_id='+$(obj).attr("data-id"),
				  data:dataJson,
				  timeout:5000,
				  success:function(data){
					  warmMsgFunc(0);
					  if(data.msg==1){ 
						 getNodeList();
					  }
					  else{
						 operatingMsgFunc(1,'操作失败：'+data.msgbox);
					  }
				  },
				  error:function(XMLHttpRequest, textStatus, errorThrown){
					  warmMsgFunc(0);
					  operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
					  console.log(XMLHttpRequest.status);
				  }
			  });	
		  } else {
			  operatingMsgFunc(1,'添加附件失败：'+res.msgbox);
		  }
	  }).fail(function (XMLHttpRequest, textStatus, errorThrown) { 
	      operatingMsgFunc(1,'添加附件失败：'+XMLHttpRequest.status);
	  });
}
function getNodeList(){//读取节点列表
    warmMsgFunc(1,'节点列表读取中，请稍后...');
	$.ajax({
		type:'get',
		dataType:'json',
		async:true,
		url:'/Project/APIGetProjectFlow',
		data:{
		   project_id:the_flow_id
		},
		timeout:5000,
		success:function(data){
			warmMsgFunc(0);
			if(data.msg==1){
			   var html='<table class="tab_node_list" width="100%" cellpadding="0" cellspacing="0" border="1" bordercolor="#dce2ea">';
                   html+='<tr class="tt">';
                   html+='<td class="w10">流程节点</td>';
                   html+='<td>备注</td>';
                   html+='<td class="w15">操作时间</td>';
                   html+='<td class="w15">操作人</td>';
				   html+='<td class="w15">附件</td>';
                   html+='<td class="w15">操作</td>';
                   html+='</tr>';
				   for(var i=0; i<data.data.length; i++){
                      html+='<tr>';
                      html+='<td class="w15"><a target="_blank" href="/Project/FlowNodeInfo?id='+data.data[i].project_flow_node_id+'">'+data.data[i].node_title+'</a></td>';
                      html+='<td>';
					  html+='<pre>'+data.data[i].remark+'</pre>';
					  var remark=encodeURI(data.data[i].remark);
					  if(can_edit!="False"){	
					  html+='<p><a href="javascript:;" class="col_link" onclick="modifyRemark(\''+remark+'\',\''+data.data[i].project_flow_node_id+'\')">添加备注</a></p>';
					  }
					  html+='</td>';
                      html+='<td class="w15">'+data.data[i].last_update_time+'</td>';
                      html+='<td class="w15">'+data.data[i].user_name+'</td>';
					  html+='<td class="wfj">';
					  var jsonData='[';
					  for(var y=0; y<data.data[i].files.length; y++){
					     html+='<p>'+data.data[i].files[y].file_name+'&nbsp;&nbsp;&nbsp;<a href="'+data.data[i].files[y].file_path+'" class="col_link" target="_blank">下载</a></p>';
						 jsonData+='{\'file_name\':\''+data.data[i].files[y].file_name+'\',\'file_path\':\''+data.data[i].files[y].file_path+'\',\'file_size\':\''+data.data[i].files[y].file_size+'\'},'
					  }			
					  if(can_edit!="False"){		  
					  html+='<p><label class="col_link" for="file'+data.data[i].project_flow_node_id+'">上传附件<input type="file" id="file'+data.data[i].project_flow_node_id+'" onchange="Upload(this)" data-id="'+data.data[i].project_flow_node_id+'" data-json="'+jsonData+'"></label></p>';
					  }
					  html+='</td>';
                      html+='<td class="w15" valign="middle">';
					  if(!data.data[i].is_end){
					      /*
						  if(!data.data[i].status){
							  html+='<a href="javascript:;" class="split" onclick="operaTionFunc(2,\''+data.data[i].project_flow_node_id+'\',\'false\')">开启</a>';
						  }
						  else{
							  html+='<a href="javascript:;" class="split" onclick="operaTionFunc(1,\''+data.data[i].project_flow_node_id+'\')">完成</a>';
							  html+='<br />';
							  //html+='<a href="javascript:;" class="split sp_col" onclick="operaTionFunc(2,\''+data.data[i].project_flow_node_id+'\',\'true\')">关闭</a>';//不需要关闭节点
						  }
						  */
						  if(data.data[i].status&&can_edit!="False"){
						      html+='<a href="javascript:;" class="split" onclick="operaTionFunc(1,\''+data.data[i].project_flow_node_id+'\')">完成</a>';
						  }
					  }
                      html+='</td>';
                      html+='</tr>';				      
				   }
                   html+='</table>';
				   $("#flowdesign_canvas").html(html);
			}
			else{
			   operatingMsgFunc(1,'操作失败：'+data.msgbox);
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown){
			warmMsgFunc(0);
			operatingMsgFunc(1,'操作失败：'+XMLHttpRequest.status);
			console.log(XMLHttpRequest.status);
		}
	});	
}
$(function(){
    getNodeList();
});
/*流程图JJF ↑*/

</script>

}
<!--底部脚本 end-->