@model Universal.Web.Models.ViewModelProject
@{
    ViewBag.Title = "编辑项目";
    ViewData["tabLeft"] = "project";
    ViewData["tabTop"] = "project";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<div class="clear"></div>
<!--wapper-->
<div class="container">
    <div class="new-head mb-40 clearfix">
        <a href="/Project/Index" class="fl f16 go-prev"><i class="i-back"></i><span>项目管理</span></a>
        <b class="f20">编辑项目</b>
    </div>
    <div class="step step_1">
        <span class="sp_1" id="tab_one">1 基本信息</span>
        <span class="sp_2" id="tab_two">2 项目信息</span>
        <span class="sp_3" id="tab_three">3 完成编辑</span>
    </div>

    <div class="creater-box new-box-min demolition">
        <form method="post" class="form-horizontal" name="form1">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.user_ids)
            @Html.HiddenFor(p => p.files)
            @Html.HiddenFor(p => p.see_ids)
            <!--第一步-->
            <div class="addmb" style="display: block;" id="div_one">
                <h4 class="tit2">基本信息</h4>
                <div class="userInfo">
                    <ul>
                        <li>
                            <label for="" class="lab1"><span class="red">*</span>项目名称</label>
                            @Html.TextBoxFor(p => p.title, new { @class = "add-input", placeholder = "必填" })
                            @Html.ValidationMessageFor(p=>p.title)
                        </li>
                        <li>
                            <label for="" class="lab1">
                                @if(!(bool)ViewData["RequieAPPID"])
                                {
                                    <span class="red">*</span>
                                }
                                审批人
                            </label>
                            @Html.HiddenFor(p=>p.approve_user_id)
                            <input type="text" value="@Model.approve_user_name" id="approve_user_name" class="add-input" />
                            <a href="javascript:;" onclick="selapprove_user(this)" class="btn-peo">选择成员</a>
                        </li>
                        <li>
                            <label for="" class="lab1">项目流程</label>
                            @Html.DropDownListFor(p => p.flow_id, ViewData["FlowList"] as List<SelectListItem>, Model.flow_id > 0 ?  (object)new { @class = "select-input", disabled = "disabled" } : (object)new { @class="select-input"})
                            @if(Model.flow_id>0)
                            {
                                <lable style="font-size: 12px;margin-left: 10px;">修改后不可再修改</lable>
                            }
                            @Html.ValidationMessageFor(p => p.flow_id)
                        </li>
                        <li>
                        	<label style="float:left" for="" class="lab1"><span class="red">*</span>项目联系人</label>
                        	<div class="lab2">
                        	<span><a href="javascript:" onclick="selUser(this,'user_list1','#user_ids')" title="添加成员"><i class="i-circleP"></i>添加成员</a></span>
                                <div class="user_list_box" id="user_list1">
                                    <ul>
                                        @foreach (var item in Model.users_entity)
                                        {
                                            <li id="user_list1_@item.id"><a href="javascript:;" data-id="@item.id"><span>@item.title</span><i class="i-mdel"></i></a></li>
                                        }
                                    </ul>
                                </div>
                        	</div>
                        </li>
                        <li>
                            <label style="float:left" for="" class="lab1">节点附件</label>
                            <div class="lab2">
                                <ul id="file_list">
                                    @foreach (var item in Model.file_list)
                                    {
                                        <li>
                                            <a href="javascript:;" onclick="RemoveUp(this)" class="btn-add uploadBtnBox"><i class="i-barrel"></i></a>
                                            <a href="javascript:;" class="btn-add uploadBtnBox"><i class="i-redbb"></i>上传文件<input type="file" class="uploadBtn" onchange="Upload(this)" /></a>
                                            <span spath="@item.file_path">@item.file_name</span> &nbsp;
                                            <span></span>
                                            <span>@item.file_size</span>
                                        </li>
                                    }
                                    <li class="guding">
                                        <a href="javascript:;" class="btn-add uploadBtnBox" onclick="AddFile()"><i class="i-attach"></i>新增</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <label style="float:left" for="" class="lab1"><span class="red">*</span>谁可以看</label>
                            <div class="lab2">
                                <label class="lab pub_lab" for="@Universal.Entity.DocPostSee.everyone">
                                    @Html.RadioButtonFor(x => x.post_see, "0", (int)Model.post_see == 0 ? (object)new { id = Universal.Entity.DocPostSee.everyone, @checked = true } : (object)new { id = Universal.Entity.DocPostSee.everyone })
                                    <span>所有人</span>
                                </label>
                                <label class="lab pub_lab" for="@Universal.Entity.DocPostSee.user">
                                    @Html.RadioButtonFor(x => x.post_see, "2", (int)Model.post_see == 2 ? (object)new { id = Universal.Entity.DocPostSee.user, @checked = true } : (object)new { id = Universal.Entity.DocPostSee.user })
                                    <span>自定义</span>
                                </label>
                                <a id="add_users" href="javascript:;" onclick="selUser(this,'ul2','#see_ids')"  class="btn-add"><i class="i-attach"></i>添加成员</a>
                           
                            <div class="user_list_box" id="ul2">
                                <ul>
                                    @foreach (var item in Model.see_entity)
                                    {
                                        <li id="ul2_@item.id"><a href="javascript:;" data-id="@item.id"><span>@item.title</span><i class="i-mdel"></i></a></li>
                                    }
                                </ul>
                            </div>
                             </div>
                        </li>
                        <li>
                            <label for="" class="lab1">相册</label>
                            <div style="clear:both;"></div>
                            <ul>
                                <li>
                                    <img src="http://www.model-me.cn/uploads/GlassAlbums/e6a5b5d0a4cd8f36b65ea82e1a0d14fd.jpg" ids="0" class="albums_list" style="width:100px;">
                                    <a href="javascript:void(0)" onclick="DelPic(this,'span_upload_albums')">删除</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="lilt">&nbsp;</div>
                            <div class="limd"><button type="button" onclick="show_div(2)" class="btn1">下一步</button></div>
                        </li>
                    </ul>
                </div>

            </div>

            <!--第二步-->
            <div class="addmb" style="display: none;" id="div_two">
                <h4 class="f16 mb_10">项目信息</h4>
                <div class="userInfo">
                    <ul>
                        <li>
                            <label >项目区域</label>
                            @Html.DropDownListFor(p => p.area, ViewData["AreaList"] as List<SelectListItem>, new { @class = "select-input" })
                            @Html.ValidationMessageFor(p => p.area)
                        </li>

                        <li>
                            <label >改造性质</label>
                            @Html.DropDownListFor(p => p.GaiZaoXingZhi, ViewData["GZXZList"] as List<SelectListItem>, new { @class = "select-input" })
                            @Html.ValidationMessageFor(p => p.GaiZaoXingZhi)
                        </li>
                        
                        <li><label for="">用地位置、宗地号</label>
                            @Html.TextBoxFor(p => p.ZhongDiHao, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.ZhongDiHao)
                        </li>
                        <li><label for="">申报主体</label>
                            @Html.TextBoxFor(p => p.ShenBaoZhuTi, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.ShenBaoZhuTi)
                        </li>
                        <li><label for="">总建筑面积</label>
                            @Html.TextBoxFor(p => p.ZongMianJi, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.ZongMianJi)
                        </li>
                        <li>
                            <label for="">总建筑面积补充信息</label>
                            @Html.TextBoxFor(p => p.ZongMianJiOther, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.ZongMianJiOther)
                        </li>
                        <li><label for="">五类权属用地面积</label>
                            @Html.TextBoxFor(p => p.WuLeiQuanMianJi, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.WuLeiQuanMianJi)
                        </li>
                        <li><label for="">老屋村用地面积</label>
                            @Html.TextBoxFor(p => p.LaoWuCunMianJi, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.LaoWuCunMianJi)
                        </li>
                        <li><label for="">非农建设用地面积</label>
                            @Html.TextBoxFor(p => p.FeiNongMianJi, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.FeiNongMianJi)
                        </li>
                        <li><label for="">开发建设用地面积</label>
                            @Html.TextBoxFor(p => p.KaiFaMianJi, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.KaiFaMianJi)
                        </li>
                        <li><label for="">容积率</label>
                            @Html.TextBoxFor(p => p.RongJiLv, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.RongJiLv)
                        </li>
                        <li><label for="">土地使用权出让合作书</label>
                            @Html.TextBoxFor(p => p.TuDiShiYongQuan, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.TuDiShiYongQuan)
                        </li>
                        <li><label for="">建设规划许可证</label>
                            @Html.TextBoxFor(p => p.JianSheGuiHuaZheng, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.JianSheGuiHuaZheng)
                        </li>
                        <li><label for="">拆迁建设用地面积</label>
                            @Html.TextBoxFor(p => p.ChaiQianYongDiMianJi, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.ChaiQianYongDiMianJi)
                        </li>
                        <li><label for="">拆迁建筑面积</label>
                            @Html.TextBoxFor(p => p.ChaiQianJianZhuMianJi, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.ChaiQianJianZhuMianJi)
                        </li>
                    </ul>
                    <h3>时点信息</h3>
                    <ul>
                        <li><label for="">立项时间</label>
                            @Html.TextBoxFor(p => p.LiXiangTime, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.LiXiangTime)
                            <a href="javascript:;" class="btn-time" onclick="laydate({elem: '#LiXiangTime'});"><i class="i-time"></i></a>
                        </li>
                        <li><label for="">专项规划时间</label>
                            @Html.TextBoxFor(p => p.ZhuanXiangTime, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.ZhuanXiangTime)
                        <a href="javascript:;" class="btn-time" onclick="laydate({elem: '#ZhuanXiangTime'});"><i class="i-time"></i></a></li>
                        <li><label for="">主体确认时间</label>
                            @Html.TextBoxFor(p => p.ZhuTiTime, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.ZhuTiTime)
                        <a href="javascript:;" class="btn-time" onclick="laydate({elem: '#ZhuTiTime'});"><i class="i-time"></i></a></li>
                        <li><label for="">用地审批时间</label>
                            @Html.TextBoxFor(p => p.YongDiTime, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.YongDiTime)
                        <a href="javascript:;" class="btn-time" onclick="laydate({elem: '#YongDiTime'});"><i class="i-time"></i></a></li>
                        <li><label for="">开盘时间</label>
                            @Html.TextBoxFor(p => p.KaiPanTime, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.KaiPanTime)
                        <a href="javascript:;" class="btn-time" onclick="laydate({elem: '#KaiPanTime'});"><i class="i-time"></i></a></li>
                    </ul>
                    <h3>经济信息</h3>
                    <ul>
                        <li><label for="">分成比例</label>
                            @Html.TextBoxFor(p => p.FenChengBiLi, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.FenChengBiLi)
                        </li>
                        <li><label for="">均价</label>
                            @Html.TextBoxFor(p => p.JunJia, new { @class = "add-input" })
                            @Html.ValidationMessageFor(p => p.JunJia)
                        </li>
                    </ul>

                </div>
                <div class="mt_35"> 
                            <div style="margin-left:150px">
                <button type="submit" class="btn1">确定</button> 
                <button type="button" class="btn1 grey" onclick="show_div(1)">上一步</button></div></div>

            </div>

            <!--第三步-->
            <div class="addmb" style="display:none;" id="div_three">
                <div class="addsuccess">
                    <p><img src="/Assets/theme/ico/ico_43.png" /></p>
                    <p>恭喜您，编辑项目成功</p>
                    <div class="mt_35">
                        <button type="button" class="btn1" onclick="location.href = '/Project/Index'">项目管理</button>
                    </div>
                </div>


            </div>
        </form>
    </div>

</div>



<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>





<!--底部脚本-->
@section foot
{
@Scripts.Render("~/bundles/jqueryval")
<script src="/assets/laydate/laydate.js"></script>
    <script type="text/javascript">
		function switchSee(id){
			if(id==2){
				$('#ul2').show();
				$('#add_users').show();
			}else{
				$('#ul2').hide();
				$('#add_users').hide();
			}
		}
		$('input[name=post_see]').click(function(){
			switchSee(this.value);
		});
		switchSee('@Model.post_see'=='user'?2:0);
    	function selapprove_user(obj)
    	{
    		selUserDialog({max:1,callback:function(data){
    			$(data).each(function(){
    				$('#approve_user_id').val(this.id);
    				$('#approve_user_name').val(this.nick_name);
    			});
    		}});
    	}
		function selUser(obj,objid,hid)
		{
			selUserDialog({callback:function(data){
				var ids=$(hid).val().split(',');
				var ul=$('#'+objid).find('ul');
				$(data).each(function(){
					if(ul.find('#'+objid+'_'+this.id).size()>0){
						return true;
					}
					var li=$('<li></li>').appendTo(ul).attr('id',objid+'_'+this.id);
					var a=$('<a href="javascript:;"></a>').attr('data-id',this.id).appendTo(li).click(function(){
		        		var id=$(this).attr('data-id');
		        		moveId(id,objid,hid);
		        	});
					$('<span></span>').appendTo(a).html(this.telphone+' ('+this.nick_name+')');
					$('<i class="i-mdel"></i>').appendTo(a);
					ids.push(this.id);
				});
				$(hid).val(ids.join(','));
			}});
			
		}
		var tmp=[];
		$('#ul2 ul li a').each(function(){
			tmp.push($(this).attr('data-id'));
       		$(this).click(function(){
       			var id=$(this).attr('data-id');
        	    moveId(id,'ul2','#see_ids');
       		});
       	});
		$('#see_ids').val(tmp.join(','));
		var tmp=[];
		$('#user_list1 ul li a').each(function(){
			tmp.push($(this).attr('data-id'));
       		$(this).click(function(){
       			var id=$(this).attr('data-id');
        	    moveId(id,'user_list1','#user_ids');
       		});
       	});
		$('#user_ids').val(tmp.join(','));
		function moveId(id,objid,hid){
    		var ids=[];
    		$($(hid).val().split(',')).each(function(){
    			if(this!=id){
    				ids.push(this);
    			}
    		});
    		$('#'+objid+'_'+id).remove();
    		$(hid).val(ids.join(','));
    	}

        $(document).ready(function (e) {
                @if(Model.Msg == 1)
                {
                    @:show_div(3);
                }
                else if(Model.Msg == 2)
                {
                    @:alert("数据不存在");
                }else if(Model.Msg == 3)
                {
                    @:alert("数据验证失败");
                }

        });

        function show_div(num) {
            switch (num) {
                case 1:
                    $("#div_one").show();
                    $("#div_two").hide();
                    $("#div_three").hide();
                    $("#tab_one").attr("class", "sp_1");
                    $("#tab_two").attr("class", "sp_2");
                    $("#tab_three").attr("class", "sp_3");
                    break;
                case 2:
                    $("#div_one").hide();
                    $("#div_two").show();
                    $("#div_three").hide();
                    $("#tab_one").attr("class", "sp_2");
                    $("#tab_two").attr("class", "sp_1");
                    $("#tab_three").attr("class", "sp_3");
                    break;
                case 3:
                    $("#div_one").hide();
                    $("#div_two").hide();
                    $("#div_three").show();
                    $("#tab_one").attr("class", "sp_3");
                    $("#tab_two").attr("class", "sp_2");
                    $("#tab_three").attr("class", "sp_1");
                    break;
                default:

            }
        }
    </script>


<script type="text/javascript">
        function RemoveUp(obj)
        {
            $(obj).parent("li").remove();
            CreateUploadData();
        }

        function AddFile()
        {
            var li_html = "<li>";
            li_html += "    <a href=\"javascript:;\" class=\"btn-add uploadBtnBox\"  onclick=\"RemoveUp(this)\"><i class=\"i-barrel\"></i></a>";
            li_html += "    <a href=\"javascript:;\" class=\"btn-add uploadBtnBox\"><i class=\"i-redbb\"></i>上传文件<input type=\"file\" class=\"uploadBtn\" onchange=\"Upload(this)\" /></a>";
            li_html += "    <span spath=\"\"></span> &nbsp;<span></span><span></span>";
            li_html += "</li>";
            $(".guding").before(li_html);
        }

        function Upload(obj)
        {
            //alert($(obj).parent("a").parent("li").attr("data_id"));
            //显示的文件名
            var span_file_name = $(obj).parent("a").next();

            //上传状态
            var span_file_status = $(obj).parent("a").next().next();

            //文件大小
            var span_file_size = $(obj).parent("a").next().next().next();

            //原始文件名
            var file_name = getFileName($(obj).val());
            if (CheckIsUpload(file_name))
            {
                alert("该文件已上传");
                return;
            }
            var fd = new FormData();
            fd.append("FileData", $(obj)[0].files[0]);
            $(span_file_status).html("上传中...");
            $(span_file_name).html(file_name);
            $.ajax({
                url: '/Tools/UploadFile',
                type: 'POST',
                cache: false,
                contentType: "multipart/form-data",
                data: fd,
                processData: false,
                contentType: false
            }).done(function (res) {
                $(span_file_status).html("");
                if (res.msg == 1) {
                    $(span_file_name).attr("spath", res.data);
                    $(span_file_size).html(res.msgbox);
                    CreateUploadData();
                } else {
                    alert(res.msgbox);
                }
            }).fail(function (res) { });

        }

        //创建服务数据
        function CreateUploadData()
        {
            var filestr = "";
            $.each($("#file_list").find("li"), function () {
                if ($(this).attr("class") == undefined)
                {
                    var server_path = $(this).find("span:eq(0)").attr("spath");
                    var file_name = $(this).find("span:eq(0)").text();
                    var file_size = $(this).find("span:eq(2)").text();
                    if(server_path.length != 0&& file_name.length != 0 && file_size.length != 0)
                        filestr += server_path + "," + file_name + "," + file_size + ",1|";
                }
            })
            $("#files").val(filestr);
        }

        function CheckIsUpload(file_name)
        {
            var is_ext = false;
            $.each($("#file_list").find("li"), function () {
                if ($(this).attr("class") == undefined) {
                    if ($(this).find("span:eq(0)").text() == file_name)
                        is_ext = true;
                }
            })
            return is_ext;
        }

        function getFileName(o) {
            var pos = o.lastIndexOf("\\");
            return o.substring(pos + 1);
        }

</script>
}
<!--底部脚本 end-->
