@model Universal.Web.Models.ViewModelDocument
@{
    ViewBag.Title = "学院秘籍";
    ViewData["tabTop"] = "school";
    ViewData["tabLeft"] = "index";
}

<div class="wapper">
    
    <style type="text/css">
        /*.creater-box { margin: 40px 0 0 40px; font-size: 14px;; }
            .creater-box li { width: 100%; display: table; padding: 8px 0; }
            .creater-box .lilt { width: 90px; float: left; padding: 10px 0; text-align: right; padding-right: 20px;; }
            .creater-box .limd { width: 400px; float: left; }
                .creater-box .limd span { padding: 10px 0; display: inline-block; }
            .creater-box .litip { float: left; width: 100%; padding-left: 110px; }
                .creater-box .litip span { padding: 10px; line-height: 20px; color: #506470; display: inline-block; border-radius: 3px;; }*/
    </style>
    @Html.Partial("_ShoolMenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="new-head mb-40 clearfix">
                <a href="/Shool/index" class="fl f16 go-prev"><i class="i-back"></i><span>秘籍列表</span></a>
                <b class="f20">编辑秘籍</b>
            </div>
            <form method="post" class="form-horizontal" id="form">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(p => p.see_ids)
                @Html.HiddenFor(p => p.files)
                <div class="creater-box new-box-min demolition">
                    <ul>
                        <li>
                            <div class="lilt"><em class="col_red">*</em>秘籍标题</div>
                            <div class="limd big">
                                @Html.TextBoxFor(p => p.title, new { @class = "usInput", style = "width:570px" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.title)</div>
                        </li>
                        <li>
                            <label for="" class="lab1"><span class="red">*</span>所属分类</label>
                            @Html.DropDownListFor(p => p.category_id, ViewData["category"] as List<SelectListItem>, new { @class = "select-input academy-select" })
                            @Html.ValidationMessageFor(p => p.category_id)
                        </li>
                        <li>
                            <div class="lilt">附件</div>
                            <div class="limd big">
                                <ul id="file_list">
                                    @foreach (var item in Model.file_list)
                                    {
                                        <li>
                                            <a href="javascript:;" onclick="RemoveUp(this)" class="btn-add uploadBtnBox"><i class="i-barrel"></i></a>
                                            <a href="javascript:;" class="btn-add uploadBtnBox"><i class="i-redbb"></i>上传文件<input type="file" class="uploadBtn" onchange="Upload(this)" /></a>
                                            <span spath="@item.file_path">@item.file_name</span> &nbsp;
                                            <span></span>
                                            <span>@item.file_size</span>
                                        </li>
                                    }
                                    <li class="guding">
                                        <a href="javascript:;" class="btn-add uploadBtnBox" onclick="AddFile()"><i class="i-attach"></i>新增</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <label for="" class="lab1"><span class="red">*</span>谁可以看</label>
                            <div class="create-radio">
                                <label class="lab pub_lab" for="@Universal.Entity.DocPostSee.everyone">
                                    @Html.RadioButtonFor(x => x.post_see, "0", (int)Model.post_see == 0 ? (object)new { id = Universal.Entity.DocPostSee.everyone, @checked = true } : (object)new { id = Universal.Entity.DocPostSee.everyone })
                                    <span>所有人</span>
                                </label>
                                <label class="lab pub_lab" for="@Universal.Entity.DocPostSee.user">
                                    @Html.RadioButtonFor(x => x.post_see, "2", (int)Model.post_see == 2 ? (object)new { id = Universal.Entity.DocPostSee.user, @checked = true } : (object)new { id = Universal.Entity.DocPostSee.user })
                                    <span>自定义</span>
                                </label>

                                <a id="add_users" href="javascript:" onclick="selUser(this)" class="btn-add"><i class="i-attach"></i>添加成员</a>
                            </div>
                            <div class="scrollbox scrollbox-big">
                                <ul>
                                    @foreach (var item in Model.see_entity)
                                    {
                                        <li id="user_@item.id"><a href="javascript:;" data-id="@item.id"><span>@item.title</span><i class="i-mdel"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="lilt">内容:</div>
                            <div class="limd big" style="width:100%">
                                @Html.TextAreaFor(p => p.content,new { @style = "clear：both" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.content)</div>
                        </li>
                    </ul>
                    <div class="creater-box-submit creater-box1-submit">
                        <input type="submit" class="btn1" value="确定" />
                        <button type="button" onclick="location.href = '/Shool/Index';" class="btn1 grey">取消</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="footer">Copyright ©  深圳市诚泰城市更新咨询服务有限公司  粤ICP备17053275号</div>
    </div>

</div>


<!--底部脚本-->
@section foot
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kindeditor")
    <script type="text/javascript">
        /**************富文本编辑器 begin *********************/
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('textarea[name="content"]', {
                items: ["undo", "redo", "preview", "print", "plainpaste", "wordpaste", "justifyleft", "justifycenter", "justifyright", "justifyfull", "insertorderedlist", "insertunorderedlist", "indent", "outdent", "subscript", "superscript", "clearhtml", "quickformat", "formatblock", "fontname", "fontsize", "forecolor", "hilitecolor", "bold", "italic", "underline", "strikethrough", "lineheight", "removeformat", "image", "multiimage", "table", "hr", "link", "unlink", "source"],
                width: '98%',
                height: '350px',
                resizeType: 1,
                uploadJson: '/Tools/UploadTextArea?operation=TextArea',
                allowFileManager: true
            });
        })

        /**************富文本编辑器 end *********************/
        function switchSee(id) {
            if (id == 2) {
                $('.scrollbox').show();
                $('#add_users').show();
            } else {
                $('.scrollbox').hide();
                $('#add_users').hide();
            }
        }
        $('input[name=post_see]').click(function () {
            switchSee(this.value);
        });
        switchSee('@Model.post_see' == 'user' ? 2 : 0);
        function selUser(obj) {
            selUserDialog({
                callback: function (data) {
                    var ids = $("#see_ids").val().split(',');
                    var ul = $('.scrollbox').find('ul');
                    $(data).each(function () {
                        if (ul.find('#user_' + this.id).size() > 0) {
                            return true;
                        }
                        var li = $('<li></li>').appendTo(ul).attr('id', 'user_' + this.id);
                        var a = $('<a href="javascript:;"></a>').attr('data-id', this.id).appendTo(li).click(function () {
                            var id = $(this).attr('data-id');
                            moveId(id);
                        });
                        $('<span></span>').appendTo(a).html(this.nick_name);
                        $('<i class="i-mdel"></i>').appendTo(a);
                        ids.push(this.id);
                    });
                    $("#see_ids").val(ids.join(','));
                }
            });

        }
        $('.scrollbox ul li a').each(function () {
            $(this).click(function () {
                var id = $(this).attr('data-id');
                moveId(id);
            });

        });
        function moveId(id) {
            var ids = [];
            $($("#see_ids").val().split(',')).each(function () {
                if (this != id) {
                    ids.push(this);
                }
            });
            $('#user_' + id).remove();
            $("#see_ids").val(ids.join(','));
        }

        $(document).ready(function (e) {
            @if(Model.Msg == 1)
            {
                @:alert("操作成功");
                @:location.href = "/Shool/index";
            }
            else if(Model.Msg == 2)
            {
                @:alert("数据不存在");
            }else if(Model.Msg == 4)
            {
                @:alert("@Model.MsgBox");
                @:location.href = "/Shool/Index";
            }
        });
    </script>
    <script type="text/javascript">
        function RemoveUp(obj) {
            $(obj).parent("li").remove();
            CreateUploadData();
        }

        function AddFile() {
            var li_html = "<li>";
            li_html += "    <a href=\"javascript:;\" class=\"btn-add uploadBtnBox\"  onclick=\"RemoveUp(this)\"><i class=\"i-barrel\"></i></a>";
            li_html += "    <a href=\"javascript:;\" class=\"btn-add uploadBtnBox\"><i class=\"i-redbb\"></i>上传文件<input type=\"file\" class=\"uploadBtn\" onchange=\"Upload(this)\" /></a>";
            li_html += "    <span spath=\"\"></span> &nbsp;<span></span><span></span>";
            li_html += "</li>";
            $(".guding").before(li_html);
        }

        function Upload(obj) {
            //alert($(obj).parent("a").parent("li").attr("data_id"));
            //显示的文件名
            var span_file_name = $(obj).parent("a").next();

            //上传状态
            var span_file_status = $(obj).parent("a").next().next();

            //文件大小
            var span_file_size = $(obj).parent("a").next().next().next();

            //原始文件名
            var file_name = getFileName($(obj).val());
            if (CheckIsUpload(file_name)) {
                alert("该文件已上传");
                return;
            }
            var fd = new FormData();
            fd.append("FileData", $(obj)[0].files[0]);
            $(span_file_status).html("上传中...");
            $(span_file_name).html(file_name);
            $.ajax({
                url: '/Tools/UploadFile',
                type: 'POST',
                cache: false,
                contentType: "multipart/form-data",
                data: fd,
                processData: false,
                contentType: false
            }).done(function (res) {
                $(span_file_status).html("");
                if (res.msg == 1) {
                    $(span_file_name).attr("spath", res.data);
                    $(span_file_size).html(res.msgbox);
                    CreateUploadData();
                } else {
                    alert(res.msgbox);
                }
            }).fail(function (res) { });

        }

        //创建服务数据
        function CreateUploadData() {
            var filestr = "";
            $.each($("#file_list").find("li"), function () {
                if ($(this).attr("class") == undefined) {
                    var server_path = $(this).find("span:eq(0)").attr("spath");
                    var file_name = $(this).find("span:eq(0)").text();
                    var file_size = $(this).find("span:eq(2)").text();
                    if (server_path.length != 0 && file_name.length != 0 && file_size.length != 0)
                        filestr += server_path + "," + file_name + "," + file_size + "|";
                }
            })
            $("#files").val(filestr);
        }

        function CheckIsUpload(file_name) {
            var is_ext = false;
            $.each($("#file_list").find("li"), function () {
                if ($(this).attr("class") == undefined) {
                    if ($(this).find("span:eq(0)").text() == file_name)
                        is_ext = true;
                }
            })
            return is_ext;
        }

        function getFileName(o) {
            var pos = o.lastIndexOf("\\");
            return o.substring(pos + 1);
        }

    </script>
}
<!--底部脚本 end-->
