@model Universal.Entity.JoinUS

@{
    ViewBag.Title = "职位详情";
}

<!--头部脚本 Begin-->
@section head
{
    <link href="/Assets/jf/css/joindetail.css" rel="stylesheet" />
    <style>
        .d-p-dd p{margin-top:10px}
    </style>
}
<!--头部脚本 end-->

<!-- Body Begin -->

    <div class="main page_joindetail">
        <div class="main-content">
            <div class="sz-banner page-container-min-width" style="background: url(@(WorkContext.WebSiteConfig.SiteUrl+Model.ImgUrlBig)) center no-repeat;">
            </div>
            <div class="page-container-width bgcolor">
                <div class="page-mid">
                    <div class="default-li">
                        <p class="d-p-dt">@Model.Title</p>
                        <div class="page-pub-line"></div>
                        <p class="d-p-dl"><span>@Model.Address</span>@Model.Department</p>
                        <div class="d-line"></div>
                        <div class="d-p-dd">
                            @Html.Raw(Model.Content)
                        </div>
                        
                        <div class="bnt-box" onclick="window.open('http://shang.qq.com/email/stop/email_stop.html?qq=576741099&sig=c8c71581986141991aec6b5eb9f567e0a28b1db4dd73ad1b&tttt=1')">
                            <i-button class="ivu-btn-self">申请职位</i-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-und">
                <div class="page-mid">
                    <row type="flex" justify="center" align="middle">
                        <i-col span="8">
                            <p class="pu-p-tt">职位咨询</p>
                            <div class="pu-line"></div>
                            <p class="pu-p-txt">@WorkContext.WebSiteConfig.JobTel</p>
                        </i-col>
                        <i-col span="8">
                            <p class="pu-p-tt">简历投递</p>
                            <div class="pu-line"></div>
                            <p class="pu-p-txt">@WorkContext.WebSiteConfig.JobEmail</p>
                        </i-col>
                        <i-col span="8">
                            <i-button class="ivu-btn-self">查看更多</i-button>
                        </i-col>
                    </row>
                </div>
            </div>
        </div>
    </div>

<!-- Body End -->

<!-- Json中的Data数据 Begin -->
@section json_data
{

}
<!-- Json中的Data数据 End -->

<!-- Json中的mounted数据 Begin -->
@section json_mounted
{
    
}
<!-- Json中的mounted数据 End -->

<!-- Json中的methods数据 Begin -->
@section json_methods
{
    
}
<!-- Json中的methods数据 End -->


<!-- 底部中的JS脚本 Begin -->
@section foot_js
{
}
<!-- 底部中的JS脚本 End -->
