@model Universal.Entity.ViewModel.Job

@{
    ViewBag.Title = "加入我们";
}

<!--头部脚本 Begin-->
@section head
{
    <link href="/Assets/jf/css/join.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<!-- Body Begin -->

    <div class="main page_join">
        <div class="main-content">
            @if (Model.banner_list.Count > 1)
            {

                <div class="banner-lv1-index">
                    <carousel v-model="value3"
                              height="760"
                              autoplay-speed="@(WorkContext.WebSiteConfig.BannerTime * 1000)"
                              arrow="never"
                              loop
                              autoplay>
                        @foreach (var item in Model.banner_list)
                        {
                            <carousel-item>
                                <div class="demo-carousel">
                                    <a @Html.Raw(item.GetClickUrl)><img src="@item.ImgUrl" /></a>
                                </div>
                            </carousel-item>
                        }
                    </carousel>
                </div>
            }
            else
            {
                <div class="sz-banner page-container-min-width sz-banner-bg1" style="background-image:url(@Model.banner_list.First().ImgUrl)">
                    <div class="page-container-width">
                    </div>
                </div>
            }
            <div class="page-container-width bgcolor">
                <div class="page-mid">
                    <ul class="list clearfix" id="ul_join">
                        @foreach (var item in Model.job_list)
                        {
                            <li>
                                <img src="@item.ImgUrl">
                                <div class="box">
                                    <span class="out-mid" onclick="window.open('/Contact/Job?id=@item.GetBase64ID')">
                                        <i class="box-line"></i><br>
                                        @item.Title
                                        <i class="box-line box-line-u"></i>
                                    </span>
                                </div>
                            </li>
                        }


                    </ul>
                    @if (Model.job_list.Count == 6)
                    {
                        <div class="bnt-box" onclick="LoadMore(this)" data-pindex="2" data-divid="ul_join">
                            <i-button>查看更多</i-button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>    

<!-- Body End -->

    <script>
        function LoadMore(obj) {
            var pindex = parseInt($(obj).attr("data-pindex"));
            var datadivid = $(obj).attr("data-divid");
            $.ajax({
                url: "/Contact/LoadJob",
                datatype: "json",
                type: 'post',
                data: { "page_index": pindex },
                beforeSend: function () {
                    $(obj).find('span').text("加载中...");
                    $(obj).removeAttr("onclick");
                },
                success: function (result) {
                    //函数体，数据发送成功回调
                    console.log(result.data.length);

                    if (result.data.length == 0) {
                        $(obj).find('span').text("没有更多数据了");
                    } else {
                        //还有数据，继续加载
                        $(obj).attr("onclick", "LoadMore(this)");
                        $(obj).find('span').text("查看更多");
                        var datahtml = "";

                        $.each(result.data, function (i, item) {
                            datahtml += "<li>";
                            datahtml += "	<img src=\""+item.ImgUrl+"\">";
                            datahtml += "	<div class=\"box\">";
                            datahtml += "		<span onclick=\"window.open('/Contact/Job?id=" + item.GetBase64ID+"')\" class=\"out-mid\"><i class=\"box-line\"></i><br>"+item.Title+"<i class=\"box-line box-line-u\"></i>";
                            datahtml += "		</span></div></li>";

                        });

                        $("#" + datadivid).append(datahtml);

                    }
                    $(obj).attr("data-pindex", pindex + 1);
                },
                error: function () {
                    $(obj).find('span').text("加载失败");
                }
            });
        }
    </script>

<!-- Json中的Data数据 Begin -->
@section json_data
{
    value3:0,
}
<!-- Json中的Data数据 End -->
<!-- Json中的mounted数据 Begin -->
@section json_mounted
{
    this.pushBntNum();
}
<!-- Json中的mounted数据 End -->
<!-- Json中的methods数据 Begin -->
@section json_methods
{
    pushBntNum(){
        $(function(){
            $(".ivu-carousel-dots-inside li").each(function(index){
                $(this).children().first().before('<span>0'+(index*1+1)+'</span>');
            });
        })
    },
}
<!-- Json中的methods数据 End -->
<!-- 底部中的JS脚本 Begin -->
@section foot_js
{

}
<!-- 底部中的JS脚本 End -->

