@model Universal.Entity.News

@{
    ViewBag.Title = "资讯详情";
}

<!--头部脚本 Begin-->
@section head
{
    <link href="/Assets/jf/css/newdetail.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<!-- Body Begin -->

    <div class="main page_newdetail">
        <div class="main-content">
            <div class="sz-banner page-container-min-width" style="background: url(@(WorkContext.WebSiteConfig.SiteUrl+Model.ImgUrlBig)) center no-repeat;">
            </div>
            <div class="page-container-width bgcolor">
                <div class="page-mid">
                    <div class="default-li">
                        <p class="d-p-dt">@Model.Title</p>
                        <p class="d-p-dl">@Model.LastUpdateTime.ToShortDateString()  &nbsp;&nbsp;&nbsp;&nbsp;来源: @Model.Source</p>
                        <div class="d-line"></div>
                        <div class="d-p-dd">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Body End -->

<!-- Json中的Data数据 Begin -->
@section json_data
{

}
<!-- Json中的Data数据 End -->

<!-- Json中的mounted数据 Begin -->
@section json_mounted
{
    
}
<!-- Json中的mounted数据 End -->

<!-- Json中的methods数据 Begin -->
@section json_methods
{
    
}
<!-- Json中的methods数据 End -->


<!-- 底部中的JS脚本 Begin -->
@section foot_js
{
    
}
<!-- 底部中的JS脚本 End -->
