@model Universal.Entity.ViewModel.News

@{
    ViewBag.Title = "最新资讯";
}

<!--头部脚本 Begin-->
@section head
{
    <link href="/Assets/jf/css/news.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<!-- Body Begin -->

    <div class="main page_news">
        <div class="main-content">
            @if (Model.banner_list.Count > 1)
            {

                <div class="banner-lv1-index">
                    <carousel v-model="value3"
                              height="760"
                              autoplay-speed="@(WorkContext.WebSiteConfig.BannerTime * 1000)"
                              arrow="never"
                              loop
                              autoplay>
                        @foreach (var item in Model.banner_list)
                        {
                            <carousel-item>
                                <div class="demo-carousel">
                                    <a @Html.Raw(item.GetClickUrl)><img src="@(WorkContext.WebSiteConfig.SiteUrl+item.ImgUrl)" /></a>
                                </div>
                            </carousel-item>
                        }
                    </carousel>
                </div>
            }
            else
            {
                <div class="sz-banner page-container-min-width sz-banner-bg1" style="background-image:url(@(WorkContext.WebSiteConfig.SiteUrl+Model.banner_list.First().ImgUrl))">
                    <div class="page-container-width">
                    </div>
                </div>
            }
            <div class="lv1 page-container-min-width">
                <div class="page-container-width">
                    <p class="list-tt">朗形动态</p>
                    <div class="page-pub-line"></div>
                    <p class="list-und">传递最新咨询，记录行业成长......</p>
                    <ul class="product-list clearfix">
                        @foreach (var item in Model.new_list_lx)
                        {
                            <li>
                                <div class="product-style">
                                    <div class="pic-box">
                                        <img src="@(WorkContext.WebSiteConfig.SiteUrl +item.ImgUrl)">
                                        <div class="pic-link">
                                            <span class="out-mid" onclick="location.href='/Contact/NewsDetail?id=@item.GetBase64ID'">
                                                <i class="box-line"></i><br>
                                                查看详情
                                                <i class="box-line box-line-u"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="txt-box">
                                        <p class="pro-pdt">@item.Title</p>
                                        <p class="pro-pdl">
                                            @item.Summary
                                        </p>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="lv2 page-container-min-width">
                <div class="page-container-width">
                    <p class="list-tt">行业资讯</p>
                    <div class="page-pub-line"></div>
                    <p class="list-und">传递最新资讯，记录行业成长......</p>
                    <ul class="product-list clearfix">
                        @foreach (var item in Model.new_list_hy)
                        {
                            <li>
                                <div class="product-style">
                                    <div class="pic-box">
                                        <img src="@(WorkContext.WebSiteConfig.SiteUrl +item.ImgUrl)">
                                        <div class="pic-link">
                                            <span class="out-mid" onclick="location.href='/Contact/NewsDetail?id=@item.GetBase64ID'">
                                                <i class="box-line"></i><br>
                                                查看详情
                                                <i class="box-line box-line-u"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="txt-box">
                                        <p class="pro-pdt">@item.Title</p>
                                        <p class="pro-pdl">
                                            @item.Summary
                                        </p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="more-bnt">
                        <i-button>查看更多</i-button>
                    </div>
                </div>
            </div>
        </div>
    </div>    

<!-- Body End -->

<!-- Json中的Data数据 Begin -->
@section json_data
{
    value3:0,
}
<!-- Json中的Data数据 End -->
<!-- Json中的mounted数据 Begin -->
@section json_mounted
{
    this.pushBntNum();
}
<!-- Json中的mounted数据 End -->
<!-- Json中的methods数据 Begin -->
@section json_methods
{
    pushBntNum(){
        $(function(){
            $(".ivu-carousel-dots-inside li").each(function(index){
                $(this).children().first().before('<span>0'+(index*1+1)+'</span>');
            });
        })
    },
}
<!-- Json中的methods数据 End -->
<!-- 底部中的JS脚本 Begin -->
@section foot_js
{

}
<!-- 底部中的JS脚本 End -->

