@model Universal.Entity.ViewModel.ConsultationDetail
@{
    ViewBag.Title = "医生个人中心";
}

<!-- 头部Style等 -->
@section htmlhead{
    <link href="~/Assets/mui/css/swiper-4.2.0.min.css" rel="stylesheet" />
    <link href="~/Assets/mui/css/mui.ext.loading.css" rel="stylesheet" />
    <style>
        .bbs-msg-left { display: flex; justify-content: space-between; flex-direction: row; }

        .bbs-msg-left-headimg { width: 80px; height: 80px; }
            .bbs-msg-left-headimg img { width: 80px; height: 80px; }
        .bbs-msg-left-content { margin-left: 10px; width: 100%; }
            .bbs-msg-left-content p { font-size: 16px !important; }

        .bbs-msg-left-album { margin: 1em 0; height: 50px; overflow: hidden; }

            .bbs-msg-left-album img { width: 60px; float: left; margin-right: 10px; display: block; }

        .msg-time span { color: rgba(0,0,0,0.4); font-size: 10px; }

        #origin-img { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; }

            #origin-img .swiper-slide img { width: 100%; vertical-align: middle; }

        .swiper-pagination { top: 6em; bottom: auto; color: #fff; }
        audio { width: 98%; }
        .bbs-msg-left-text { min-height: 80px; }
        .bbs-msg-time { text-align: center; margin-top: 10px; }


        #topPopover { position: fixed; top: 16px; right: 6px; }
            #topPopover .mui-popover-arrow { left: auto; right: 6px; }
        .mui-popover { height: 100px; }
        #showCInfo { background-color: #efeff4; height: 65%; padding: 10px; }
        .c-user { background: white; height: 100%; border-radius: 2px; background-clip: padding-box; box-shadow: 0 1px 2px rgba(0,0,0,.3); }
        .c-user-item { padding: 10px; border-bottom: 1px solid #c8c7cc; }
            .c-user-item:last-child { border-bottom: none; }
            .c-user-item label { }
            .c-user-item span { margin-left: 10px; }
    </style>
}
<!-- 头部Style等 END -->
<!-- MUI 头部导航栏设置 -->
@section muiheader{
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
        <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="#topPopover"></a>
        <button type="button" id="btn_back" onclick="javascript:location.href='Advisory'" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
            <span class="mui-icon mui-icon-left-nav"></span>
        </button>
        <h1 id="h_title" class="mui-center mui-title">用户咨询详情</h1>
    </div>

}
<!-- MUI 头部导航栏设置 END -->
<!-- Body -->
@{
    System.Text.StringBuilder str_img_data = new System.Text.StringBuilder();
}
<div class="mui-content-padded">
    <ul class="mui-table-view">
        @foreach (var msg in Model.msg_list)
        {
            if (msg.user_type == Universal.Entity.ReplayUserType.User)
            {
                <li class="mui-table-view-cell">
                    <div class="bbs-msg-left">
                        <div class="bbs-msg-left-headimg">
                            <img src="@Model.user_avatar" />
                        </div>
                        <div class="bbs-msg-left-content">
                            @if (msg.total_voice > 0)
                            {
                                <div class="bbs-msg-left-message">
                                    <audio controls="controls">
                                        @foreach (var voice in msg.file_voice_list)
                                        {
                                            <source src="@voice" type="audio/mpeg">
                                        }
                                    </audio>
                                </div>
                            }
                            <div class="bbs-msg-left-text">
                                <p>@msg.content</p>
                            </div>
                            @{
                                str_img_data.Append("\"list" + msg.id.ToString() + "\":[");
                            }
                            <div class="bbs-msg-left-album" thumblist="list@(msg.id)">
                                @foreach (var file_path in msg.file_image_list)
                                {
                                    str_img_data.Append("\"" + file_path + "\",");
                                    <img src="@file_path" />
                                }

                                @{
                                    if (msg.file_image_list.Count > 0)
                                    {
                                        str_img_data.Remove(str_img_data.Length - 1, 1);
                                    }
                                    str_img_data.Append("],");
                                }
                            </div>
                        </div>
                    </div>
                    <div class="bbs-msg-time">
                        <p class="msg-time">@msg.time_str <span>(@msg.time.ToString("MM-dd HH:mm"))</span></p>
                    </div>
                </li>
            }
            else
            {
                <li class="mui-table-view-cell">
                    <div class="bbs-msg-left">
                        <div class="bbs-msg-left-content" style="margin-left:0;margin-right:10px;">
                            @if (msg.total_voice > 0)
                            {
                                <div class="bbs-msg-left-message">
                                    <audio controls="controls">
                                        @foreach (var voice in msg.file_voice_list)
                                        {
                                            <source src="@voice" type="audio/mpeg">
                                        }
                                    </audio>
                                </div>
                            }
                            <div class="bbs-msg-left-text">
                                <p>@msg.content</p>
                            </div>

                            @{
                                str_img_data.Append("\"list" + msg.id.ToString() + "\":[");
                            }

                            <div class="bbs-msg-left-album" thumblist="list@(msg.id)">
                                @foreach (var file_path in msg.file_image_list)
                                {
                                    str_img_data.Append("\"" + file_path + "\",");
                                    <img src="@file_path" />
                                }


                                @{
                                    if (msg.file_image_list.Count > 0)
                                    {
                                        str_img_data.Remove(str_img_data.Length - 1, 1);
                                    }
                                    str_img_data.Append("],");
                                }

                            </div>
                        </div>
                        <div class="bbs-msg-left-headimg">
                            <img src="@Model.doctor_avatar" />
                        </div>
                    </div>
                    <div class="bbs-msg-time">
                        <p class="msg-time">@msg.time_str <span>(@msg.time.ToString("MM-dd HH:mm"))</span></p>
                    </div>
                </li>
            }

        }

    </ul>

    @if (ViewData["CanReply"].ToString() == "1")
    {
        <button type="button" onclick="location.href='/MP/Doctors/AdvisoryReply?id=@Model.main_id'" class="mui-btn mui-btn-primary mui-btn-block" style="margin-top: 20px;">回复</button>
    }
    else
    {
        <button type="button" disabled class="mui-btn mui-btn-primary mui-btn-block mui-disabled" style="margin-top: 20px;">@ViewData["ErrorMSG"]</button>
    }

</div>

<!--右上角弹出菜单-->
<div id="topPopover" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper custom-scroll">
        <div class="mui-scroll">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell"><a href="#showCInfo" onclick="lockInfo()">查看咨询信息</a></li>
                <li class="mui-table-view-cell"><a href="javascript:void(0)" onclick="setDone()">结束咨询</a></li>
            </ul>
        </div>
    </div>

</div>
<div id="showCInfo" class="box mui-popover mui-popover-action mui-popover-bottom">
    <div class="c-user">
        <div class="c-user-item">
            <label>姓名：</label><span>@Model.CInfo.user_name</span>
        </div>
        <div class="c-user-item">
            <label>性别：</label><span>@Model.CInfo.gender</span>
        </div>
        <div class="c-user-item">
            <label>年龄：</label><span>@Model.CInfo.age</span>
        </div>
        <div class="c-user-item">
            <label>地区：</label><span>@Model.CInfo.area</span>
        </div>
        <div class="c-user-item">
            <label>病症类型：</label><span>@Model.CInfo.dis_str</span>
        </div>
        <div class="c-user-item">
            <label>已付咨询费：</label><span>@Model.CInfo.price</span>
        </div>
        <div class="c-user-item">
            <label>创建时间：</label><span>@Model.CInfo.create_time</span>
        </div>
        <div class="c-user-item">
            <label>支付时间：</label><span>@Model.CInfo.pay_time</span>
        </div>
    </div>
</div>

<!-- Body END -->
<!-- MUI 底部导航栏设置 -->
@section muifooter{
    <div class="mui-bar-footer mui-text-center" style="width: 100%;">
        <p>@Html.Partial("~/Areas/MP/Views/Shared/_Copyright.cshtml")</p>
    </div>


    <div class="swiper-container" id="origin-img">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
    </div>
}
<!-- MUI 底部导航栏设置 END -->
<!-- MUI 页面底部脚本 -->
@section htmlfoot{
    <script src="~/Assets/mui/js/jquery.min.js"></script>
    <script src="~/Assets/mui/js/mui.min.js"></script>
    <script src="~/Assets/mui/js/mui.ext.loading.js"></script>
    <script src="~/Assets/mui/js/swiper-4.2.0.min.js"></script>

    <script type="text/javascript">
        mui.init();
        var swiperStatus = false;
        imgsdata = @Html.Raw("{" + str_img_data.ToString() + "}")

        var swiper = new Swiper('.swiper-container', {
            zoom: true,
            width: window.innerWidth,
            virtual: true,
            spaceBetween: 20,
            pagination: {
                el: '.swiper-pagination',
                type: 'fraction',
            },
            on: {
                click: function () {
                    $('#origin-img').fadeOut('fast');
                    this.virtual.slides.length = 0;
                    this.virtual.cache = [];
                    swiperStatus = false;
                    $("#btn_back").show();
                    $("#h_title").text("用户咨询详情");
                },
            },

        });

        $('.bbs-msg-left-album img').click(function () {
            clickIndex = $(this).index();

            imglist = $(this).parent().attr('thumblist');
            imgs = imgsdata[imglist];
            for (i = 0; i < imgs.length; i++) {
                swiper.virtual.appendSlide('<div class="swiper-zoom-container"><img src="' + imgs[i] + '" /></div>');
            }
            swiper.slideTo(clickIndex);
            $('#origin-img').fadeIn('fast');
            swiperStatus = true;
            $("#btn_back").hide();
            $("#h_title").text("图片浏览");
        })

        //切换图状态禁止页面缩放
        document.addEventListener('touchstart', function (event) {
            if (event.touches.length > 1 && swiperStatus) {
                event.preventDefault();
            }
        })
        var lastTouchEnd = 0;
        document.addEventListener('touchend', function (event) {
            var now = (new Date()).getTime();
            if (now - lastTouchEnd <= 300) {
                event.preventDefault();
            }
            lastTouchEnd = now;
        }, false)

        document.addEventListener('touchmove', function (e) {
            if (swiperStatus) {
                e.preventDefault();
            }
        })

        //滚动到底部
        $(function () {
            var h = $(document).height() - $(window).height();
            $(document).scrollTop(h);
        })


        function lockInfo() {
            mui('#topPopover').popover('hide');
        }

        //设置完成
        function setDone() {
            mui('#topPopover').popover('hide');
            var btnArray = ['否', '已解决'];
            mui.confirm('确认解决了患者的咨询？', '确认操作', btnArray, function (e) {
                if (e.index == 1) {
                    mui.showLoading("设置中...", "div");
                    mui.ajax('/mp/Doctors/SetAvdisoryDone', {
                         data: {
                             id: @Model.main_id
                         },
                         dataType: 'json',
                         type: 'post',
                         timeout: 10000,
                         headers: { 'Content-Type': 'application/json' },
                         success: function (data) {
                             mui.hideLoading();
                             if (data.msg == 1) {
                                 mui.toast(data.msgbox);
                                 window.setTimeout(function () {
                                     window.location.href ="/MP/Doctors/Advisory"
                                 }, 1500);
                             } else {
                                 mui.alert('错误消息', data.msgbox);
                             }
                         },
                         error: function (xhr, type, errorThrown) {
                             mui.hideLoading();
                             //异常处理；
                             mui.alert('网络异常', "请检查联网是否通畅");
                         }
                    });
                } else {
                    mui.toast("取消操作");
                }
            })
        }

        mui('body').on('shown', '.mui-popover', function (e) {
            $("#topPopover").css("top", "50px")
            event.defaultPrevented();
            //console.log('shown', e.detail.id);//detail为当前popover元素
        });
        mui('body').on('hidden', '.mui-popover', function (e) {
            //console.log('hidden', e.detail.id);//detail为当前popover元素
        });

    </script>

}
<!-- MUI 页面底部脚本 END -->
