@model Universal.Web.Models.ViewModelWorkPlan
@{
    ViewBag.Title = "编辑工作计划";
    ViewData["tabLeft"] = "gzjh";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{
<link href="~/Assets/theme/css/dev.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<div class="wapper">
    @Html.Partial("_MenuLeft", this.ViewData)
        
    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <div class="inner">
                    <a href="/WorkPlan/Index" class="fl f16"><i class="i-back"></i>工作计划</a>
                    <b class="tit1Txt fr">添加计划</b>
                </div>
            </div>

            <div class="userInfo sysIn">
                <form method="post" class="form-horizontal" id="form" name="form1">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(p => p.year)
                    @Html.HiddenFor(p => p.month)
                    @Html.HiddenFor(p => p.day)
                    <ul>
                        <li>
                            <div class="lilt">周次/周期</div>
                            <div class="limd">
                                @Html.DropDownListFor(p => p.week_text, ViewData["WeekText"] as List<SelectListItem>, new { @class = "tb_select", @style = "width: 94%;" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.week_text)</div>
                        </li>

                        <li>
                            <div class="lilt">本周工作记录</div>
                            <div class="limd pr">@Html.TextAreaFor(p => p.now_job, new { @class = "usTextarea" })</div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.now_job)</div>
                        </li>
                        <li>
                            <div class="lilt">下周工作计划</div>
                            <div class="limd pr">
                                @Html.TextAreaFor(p => p.next_plan, new { @class = "usTextarea" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p=>p.next_plan)</div>
                        </li>
                        <li>
                            <div class="lilt">计划完成时间</div>
                            <div class="limd">
                                <select name="YYYY" onChange="YYYYDD(this.value)" class="tb_select"></select>
                                <select name="MM" onChange="MMDD(this.value)" class="tb_select"></select>
                                <select name="DD" onchange="DDChan(this.value)" class="tb_select"></select>
                            </div>
                            <div class="litip">&nbsp;</div>
                        </li>
                        <li>
                            <div class="lilt">审批人</div>
                            <div class="limd"><span>@ViewData["ApproveUser"]</span></div>
                            <div class="litip">&nbsp;</div>
                        </li>
                        <li>
                            <div class="lilt">&nbsp;</div>
                            <div class="limd"><button type="submit" class="btn1">发布</button> <button type="button" onclick="location.href = '/WorkPlan/Index';" class="btn1 grey">取消</button></div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

<!--底部脚本-->
@section foot
{
    <script type="text/javascript">
        $(document).ready(function (e) {
               @if(Model.Msg == 1)
               {
                   @: location.href = "/WorkPlan/Index";
               }else if(Model.Msg == 4)
               {
                   @:alert("已经审批的不可再编辑");
                   @: location.href = "/WorkPlan/Index";
               }


        });
    </script>

<script type="text/javascript">
            function YYYYMMDDstart() {
                MonHead = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

                //先给年下拉框赋内容
                var y = new Date().getFullYear();
                for (var i = y ; i < (y + 10) ; i++) //以今年为准，前30年，后30年
                    document.form1.YYYY.options.add(new Option(" " + i + " 年", i));
                //赋月份的下拉框
                for (var i = 1; i < 13; i++)
                    document.form1.MM.options.add(new Option(" " + i + " 月", i));

                document.form1.YYYY.value = $("#year").val();

                //document.form1.MM.value = new Date().getMonth() + 1;
                document.form1.MM.value = $("#month").val();
                var n = MonHead[new Date().getMonth()];
                if (new Date().getMonth() == 1 && IsPinYear(YYYYvalue)) n++;
                writeDay(n); //赋日期下拉框Author:meizz
                //document.form1.DD.value = new Date().getDate();
                document.form1.DD.value = $("#day").val();
            }
            if (document.attachEvent)
                window.attachEvent("onload", YYYYMMDDstart);
            else
                window.addEventListener('load', YYYYMMDDstart, false);

            function YYYYDD(str) //年发生变化时日期发生变化(主要是判断闰平年)
            {
                var MMvalue = document.form1.MM.options[document.form1.MM.selectedIndex].value;
                $("#year").val(str);
                if (MMvalue == "") { var e = document.form1.DD; optionsClear(e); return; }
                var n = MonHead[MMvalue - 1];
                if (MMvalue == 2 && IsPinYear(str)) n++;
                writeDay(n)
            }
            function MMDD(str)   //月发生变化时日期联动
            {
                var YYYYvalue = document.form1.YYYY.options[document.form1.YYYY.selectedIndex].value;
                $("#month").val(str);
                if (YYYYvalue == "") { var e = document.form1.DD; optionsClear(e); return; }
                var n = MonHead[str - 1];
                if (str == 2 && IsPinYear(YYYYvalue)) n++;
                writeDay(n)
            }
            function DDChan(str) {
                $("#day").val(str);
            }
            function writeDay(n)   //据条件写日期的下拉框
            {
                var e = document.form1.DD; optionsClear(e);
                for (var i = 1; i < (n + 1) ; i++)
                    e.options.add(new Option(" " + i + " 日", i));
            }
            function IsPinYear(year)//判断是否闰平年
            {
                return (0 == year % 4 && (year % 100 != 0 || year % 400 == 0));
            }
            function optionsClear(e) {
                e.options.length = 1;
            }

</script>

}
<!--底部脚本 end-->
