@model Universal.Web.Models.ViewModelWorkMeeting
@{
    ViewBag.Title = "会议召集";
    ViewData["tabLeft"] = "workmeeting";
    ViewData["tabTop"] = "manager";
}

<div class="wapper">
    @Html.Partial("_MenuLeft", this.ViewData)


    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <div class="inner">
                    <a href="/WorkMeeting/Index" class="fl f16"><i class="i-back"></i>会议召集</a>
                    <b class="tit1Txt fr">编辑会议</b>
                </div>
            </div>
            <div class="userInfo">
                <form method="post" class="form-horizontal" id="form" name="form1">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(p => p.user_ids)
                    @Html.HiddenFor(p => p.files)
                    <ul>
                        <li>
                            <div class="lilt">主题</div>
                            <div class="limd">
                                @Html.TextBoxFor(p => p.title, new { @class = "usInput" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p=>p.title)</div>
                        </li>
                        <li>
                            <div class="lilt">议程</div>
                            <div class="limd pr">@Html.TextAreaFor(p => p.content, new { @class = "usTextarea" })</div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.content)</div>
                        </li>


                        <li>
                            <div class="lilt">开会时间</div>
                            <div class="limd">
                                @Html.TextBoxFor(p => p.begin_time, new { @class = "usInput", style = "font-size: 14px;" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p=>p.begin_time)</div>
                        </li>
                        <li>
                            <div class="lilt">结束时间</div>
                            <div class="limd">
                                @Html.TextBoxFor(p => p.end_time, new { @class = "usInput",style= "font-size: 14px;" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.end_time)</div>
                        </li>

                        <li>
                            <div class="lilt">地点</div>
                            <div class="limd">
                                @Html.TextBoxFor(p => p.location, new { @class = "usInput" })
                            </div>
                            <div class="litip">@Html.ValidationMessageFor(p => p.location)</div>
                        </li>

                        <li>
                            <div class="lilt">与会人员</div>
                            <div class="limd big">
                                <span><a href="#" title="添加成员"><i class="i-circleP"></i>添加成员</a></span>

                                <div class="menlist">
                                    <ul>
                                        @foreach (var item in Model.users_entity)
                                        {
                                            <li id="user_@item.id"><a href="javascript:;" data-id="@item.id"><span>@item.title</span><i class="i-mdel"></i></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="lilt">附件</div>
                            <div class="limd big">
                                <ul id="file_list">
                                    @foreach (var item in Model.file_list)
                                    {
                                        <li>
                                            <a href="javascript:;" onclick="RemoveUp(this)" class="btn-add uploadBtnBox"><i class="i-barrel"></i></a>
                                            <a href="javascript:;" class="btn-add uploadBtnBox"><i class="i-redbb"></i>上传文件<input type="file" class="uploadBtn" onchange="Upload(this)" /></a>
                                            <span spath="@item.file_path">@item.file_name</span> &nbsp;
                                            <span></span>
                                            <span>@item.file_size</span>
                                        </li>
                                    }
                                    <li class="guding">
                                        <a href="javascript:;" class="btn-add uploadBtnBox" onclick="AddFile()"><i class="i-attach"></i>新增</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="lilt">&nbsp;</div>
                            <div class="limd"><button type="submit" class="btn1">发布</button> <button type="button" onclick="location.href = '/WorkMeeting/Index';" class="btn1 grey">取消</button></div>
                        </li>
                    </ul>
                </form>
            </div>

        </div>



        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>


</div>
<!--底部脚本-->
@section foot
{
<script src="~/Assets/laydate/laydate.js"></script>
    <script type="text/javascript">
        var start = {
            elem: '#begin_time',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end_time',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);

        $(document).ready(function (e) {
            @if(Model.Msg == 1)
            {
                @: location.href = "/WorkMeeting/Index";
            }else if(Model.Msg == 2)
            {
                @:alert("数据不存在");
            }else if(Model.Msg == 3)
            {
                @:alert("数据验证失败");
            }


        });
    </script>

<script type="text/javascript">
        function RemoveUp(obj)
        {
            $(obj).parent("li").remove();
            CreateUploadData();
        }

        function AddFile()
        {
            var li_html = "<li>";
            li_html += "    <a href=\"javascript:;\" class=\"btn-add uploadBtnBox\"  onclick=\"RemoveUp(this)\"><i class=\"i-barrel\"></i></a>";
            li_html += "    <a href=\"javascript:;\" class=\"btn-add uploadBtnBox\"><i class=\"i-redbb\"></i>上传文件<input type=\"file\" class=\"uploadBtn\" onchange=\"Upload(this)\" /></a>";
            li_html += "    <span spath=\"\"></span> &nbsp;<span></span><span></span>";
            li_html += "</li>";
            $(".guding").before(li_html);
        }

        function Upload(obj)
        {
            //alert($(obj).parent("a").parent("li").attr("data_id"));
            //显示的文件名
            var span_file_name = $(obj).parent("a").next();

            //上传状态
            var span_file_status = $(obj).parent("a").next().next();

            //文件大小
            var span_file_size = $(obj).parent("a").next().next().next();

            //原始文件名
            var file_name = getFileName($(obj).val());
            if (CheckIsUpload(file_name))
            {
                alert("该文件已上传");
                return;
            }
            var fd = new FormData();
            fd.append("FileData", $(obj)[0].files[0]);
            $(span_file_status).html("上传中...");
            $(span_file_name).html(file_name);
            $.ajax({
                url: '/Tools/UploadFile',
                type: 'POST',
                cache: false,
                contentType: "multipart/form-data",
                data: fd,
                processData: false,
                contentType: false
            }).done(function (res) {
                $(span_file_status).html("");
                if (res.msg == 1) {
                    $(span_file_name).attr("spath", res.data);
                    $(span_file_size).html(res.msgbox);
                    CreateUploadData();
                } else {
                    alert(res.msgbox);
                }
            }).fail(function (res) { });

        }

        //创建服务数据
        function CreateUploadData()
        {
            var filestr = "";
            $.each($("#file_list").find("li"), function () {
                if ($(this).attr("class") == undefined)
                {
                    var server_path = $(this).find("span:eq(0)").attr("spath");
                    var file_name = $(this).find("span:eq(0)").text();
                    var file_size = $(this).find("span:eq(2)").text();
                    if(server_path.length != 0&& file_name.length != 0 && file_size.length != 0)
                        filestr += server_path + "," + file_name + "," + file_size + "|";
                }
            })
            $("#files").val(filestr);
        }

        function CheckIsUpload(file_name)
        {
            var is_ext = false;
            $.each($("#file_list").find("li"), function () {
                if ($(this).attr("class") == undefined) {
                    if ($(this).find("span:eq(0)").text() == file_name)
                        is_ext = true;
                }
            })
            return is_ext;
        }

        function getFileName(o) {
            var pos = o.lastIndexOf("\\");
            return o.substring(pos + 1);
        }

</script>
}
<!--底部脚本 end-->