@model Universal.Web.Models.ViewModelUserLogin
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<meta  http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" /> 
    <title>诚泰集团</title>
    <meta name="description" content="诚泰集团" />
    <meta name="keywords" content="诚泰集团" />
    
<!--[if !IE]> -->
        @Scripts.Render("~/bundles/jquery")
<!-- <![endif]-->
<!--[if gte IE 9]>
	@Scripts.Render("~/bundles/jquery")
<![endif]-->
<!--[if lt IE 9]>
  <script src="/Assets/js/jquery-1.11.1.js"></script>
  <link rel="stylesheet" href="/Assets/css/ie.css" type="text/css" media="screen" />
  <script src="/Assets/js/html5shiv.js"></script>
  <script src="/Assets/js/respond.min.js"></script>
<![endif]-->
<!--[if IE]><script type="text/javascript" src="/Assets/js/excanvas.js"></script><![endif]-->
 
    <link href="/Assets/theme/css/public.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/theme/css/login.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/theme/css/dev.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!--loginBox-->
    <div class="loginBox">
        <h1><img src="/assets/theme/ico/logoBig.png" /></h1>
        <form class="form_login" id="signIn" method="post">
            @Html.AntiForgeryToken()
            <ul>
                <li>@Html.TextBoxFor(s => s.user_name, new { placeholder = "手机号/邮箱" })</li>
                <li>@Html.PasswordFor(s => s.password, new { placeholder = "密码"})</li>
                <li><input type="submit" class="btnLg" id="button" value="登录" /></li>
                <li><a href="/account/resetpwd" title="忘记密码" class="fr col_red">忘记密码?</a> <label for="@Html.DisplayNameFor(s=>s.is_rember)">@Html.CheckBoxFor(s => s.is_rember) 自动登录</label></li>
                <p class="error" id="error">@Html.ValidationSummary()</p>
            </ul>
        </form>
    </div>
        
    <!--footer-->
    <div class="footer">
        <div class="center">
            Copyright ©  深圳市诚泰城市更新咨询服务有限公司  粤ICP备13089427号-1
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function(e) {
	        document.onkeydown=function(event){
		        var e = event || window.event || arguments.callee.caller.arguments[0];
		         if(e && e.keyCode==13){ // enter 键
			         //要做的事情.
			         $("#button").click();
		        }
	        };
        });


    </script>
</body>
<!--[if IE 6]>
<script type="text/javascript" src="skins/js/DD_belatedPNG.js"></script>
<script type="text/javascript">
 DD_belatedPNG.fix('.png');
</script>
<![endif]-->
</html>