@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Center</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    @Styles.Render("~/Content/admin/css")
    @Styles.Render("~/Content/toastr")
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    <h5>系统资源占用</h5>
                    <div class="pull-right">                        
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" class="onoffswitch-checkbox" id="auto_ref" alt="自动刷新">
                                <label class="onoffswitch-label" for="auto_ref">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div_sys">

                </div>    
                   @*@{ 
                       Html.RenderAction("SysInfo", "Home");
                    }*@
                </div>
            </div>
        </div>
    </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/layer")

<script type="text/javascript">
    var loadDivId;
    var idInt;

    function LoadData()
    {
        $.ajax({
            url: '/Admin/Home/SysInfo',
            type: "GET",
            dataType: "html",
            beforeSend: function () {
                loadDivId = layer.load(1, {
                    shade: [0.8, '#fff'] //0.1透明度的白色背景
                });
            },
            complete: function () {
                layer.close(loadDivId)
            },
            success: function (result) {
                $("#div_sys").html("");
                $("#div_sys").html(result);
            }
        });
    }

    $(function () {
        LoadData();
        $("#auto_ref").change(function () {
            if($("#auto_ref").is(":checked"))
            {
                LoadData();
                idInt = setInterval(function () {
                    LoadData();
                }, 4000);
            }else
            {
                clearInterval(idInt);
            }
        });
    })
</script>
</body>
</html>