@model Universal.Web.Areas.Admin.Models.ViewModelLogin
@{
    Layout = null;
}

<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台登陆</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/png" href="~/Assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="@ViewData["Title"]" />

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="~/Assets/css/amazeui.min.css">
    <script src="~/Assets/js/jquery.min.js"></script>
    <style>
        .header {
            text-align: center;
        }

            .header h1 {
                font-size: 200%;
                color: #333;
                margin-top: 30px;
            }

            .header p {
                font-size: 14px;
            }
            .field-validation-error {color: orangered; }
    </style>
    <script>
        function toValid()
        {
            document.getElementById("submit").value = "登陆中...";
            document.getElementById("submit").disabled=true;
        }
    </script>
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
      以获得更好的体验！</p>
    <![endif]-->
    <div class="header">
        <div class="am-g">
            <h1>后台管理系统</h1>
            <p>Integrated&nbsp; Management&nbsp; System</p>
        </div>
        <hr />
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <br>
            <br>
            <form method="post" class="am-form" id="form-with-tooltip" onsubmit="toValid()">
                @Html.AntiForgeryToken()
                <label for="user_name">用户名:</label>
                @Html.TextBoxFor(s => s.user_name, new { placeholder = "3~10位字母或数字" })
                @Html.ValidationMessageFor(s => s.user_name)
                
                <br>
                <label for="password">密码:</label>
                @Html.PasswordFor(s => s.password, new { placeholder = "最大长度30位" })
                @Html.ValidationMessageFor(s => s.password)
                <br>
                <label for="remember-me">
                    @Html.CheckBoxFor(s => s.is_rember)
                    记住密码
                </label>
                <br />
                <div class="am-cf">
                    <input type="submit" id="submit" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                    <input type="submit" style="display:none" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
                </div>
            </form>
            <hr>
            <p>© 2016 Litdev, Inc. 版权所有.</p>
        </div>
    </div>

</body>
</html>