@model  Universal.Entity.ViewModel.CaseShow

@{
    ViewBag.Title = "案例展示";
}

<!--头部脚本 Begin-->
@section head
{
    <link href="/Assets/jf/css/listsa.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<!-- Body Begin -->
    <div class="main page_listsa">
        <div class="main-content">
                @if(Model.banner_list.Count > 1)
                {
                    
                    <div class="banner-lv1-index">
                    <carousel v-model="value3"
                            height="760"
                            autoplay-speed="@(WorkContext.WebSiteConfig.BannerTime * 1000)"
                            arrow="never"
                            loop
                            autoplay>
                        @foreach (var item in Model.banner_list)
                        {
                            <carousel-item>
                                <div class="demo-carousel">
                                    <a @Html.Raw(item.GetClickUrl)><img src="@item.ImgUrl" /></a>
                                </div>
                            </carousel-item>
                        }                    
                    </carousel>
                    </div>
                }
                else
                {
                    <div class="sz-banner page-container-min-width sz-banner-bg1" style="background-image:url(@Model.banner_list.First().ImgUrl);height:948px;" onclick="@Model.banner_list.First().GetDivClickUrl">
                        <div class="page-container-width">
                        </div>
                    </div>
                }

            <div class="lv1 page-container-min-width">
                <div class="page-container-width">
                    <p class="list-tt" style="font-weight:bold;">最新项目案例</p>
                    <div class="page-pub-line"></div>
                    <p class="list-und" style="font-weight:800;">案例展示</p>
                    <div class="shuzi-line"></div>
                    <ul class="product-list clearfix" id="ul_case_new">
                        @foreach (var item in Model.case_list_new)
                        {
                            <li>
                                <div class="product-style">
                                    <div class="pic-box">
                                        <img src="@item.ImgUrl">
                                        <div class="pic-link">
                                            <span class="out-mid" onclick="window.open('/CaseShow/Detail?id=@item.GetBase64ID')">
                                                <i class="box-line"></i><br>
                                                查看详情
                                                <i class="box-line box-line-u"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="txt-box">
                                        <p class="pro-pdt" style="font-weight:bold;">@item.Title</p>
                                        <p class="pro-pdl">
                                            <span>时间：@item.Time</span>
                                            <span>地点：@item.Address</span>
                                        </p>
                                        <div class="pro-line"></div>
                                        <p class="pro-pdd clearfix" onclick="location.href='/CaseShow/Detail?id=@item.GetBase64ID'"><i class="iconfont icon-jiantou1-copy bounce"></i>Details</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    @if(Model.case_list_new.Count == 3)
                    {
                        <div class="more-bnt" onclick="LoadMore(this)" data-pindex="2" data-type="1" data-category="@Model.category_id" data-divid="ul_case_new">
                            <i-button>查看更多</i-button>
                        </div>
                    }
                </div>
            </div>
            <div class="lv2 page-container-min-width" style="background-color:#F0F0F0;">
                <div class="page-container-width">
                    <p class="list-tt" style="font-weight:bold;">经典案例</p>
                    <div class="page-pub-line"></div>
                    <p class="list-und" style="font-weight:800;">案例展示</p>
                    <div class="shuzi-line"></div>
                    <ul class="product-list clearfix" id="ul_case_classic">
                        @foreach (var item in Model.case_list_classic)
                        {
                            <li>
                                <div class="product-style" style="background-color:white;">
                                    <div class="pic-box">
                                        <img src="@item.ImgUrl">
                                        <div class="pic-link">
                                            <span class="out-mid" onclick="window.open('/CaseShow/Detail?id=@item.GetBase64ID')">
                                                <i class="box-line"></i><br>
                                                查看详情
                                                <i class="box-line box-line-u"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="txt-box">
                                        <p class="pro-pdt" style="font-weight:bold;">@item.Title</p>
                                        <p class="pro-pdl">
                                            <span>时间：@item.Time</span>
                                            <span>地点：@item.Address</span>
                                        </p>
                                        <div class="pro-line"></div>
                                        <p class="pro-pdd clearfix" onclick="location.href='/CaseShow/Detail?id=@item.GetBase64ID'"><i class="iconfont icon-jiantou1-copy bounce"></i>Details</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    @if (Model.case_list_classic.Count == 6)
                    {
                        <div class="more-bnt" onclick="LoadMore(this)" data-pindex="2" data-type="2" data-category="@Model.category_id" data-divid="ul_case_classic">
                            <i-button>查看更多</i-button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
<!-- Body End -->

    <script>
        function LoadMore(obj) {
            var pindex = parseInt($(obj).attr("data-pindex"));
            var dtype =$(obj).attr("data-type");
            var category = $(obj).attr("data-category");
            var datadivid = $(obj).attr("data-divid");
            $.ajax({
                url: "/CaseShow/LoadCase",
                datatype: "json",
                type: 'post',
                data: { "page_index": pindex, "category_id": category, "type": dtype },
                beforeSend: function () {
                    $(obj).find('span').text("加载中...");
                    $(obj).removeAttr("onclick");
                },
                success: function (result) {
                    //函数体，数据发送成功回调
                    console.log(result.data.length);

                    if (result.data.length == 0) {
                        $(obj).find('span').text("没有更多数据了");
                    } else {
                        //还有数据，继续加载
                        $(obj).attr("onclick", "LoadMore(this)");
                        $(obj).find('span').text("查看更多");
                        var datahtml = "";

                        $.each(result.data, function (i, item) {
                            datahtml += "<li>";
                            if (dtype == 1) {
                                datahtml += "	<div class=\"product-style\">";
                            }
                            else if (dtype == 2) {
                                datahtml += "	<div class=\"product-style\" style=\"background-color: white;\">";
                            }
                            datahtml += "		<div class=\"pic-box\">";
                            datahtml += "			<img src=\"" + item.img_url + "\">";
                            datahtml += "			<div class=\"pic-link\">";
                            datahtml += "				<span onclick=\"window.open('" + item.open_url+"')\" class=\"out-mid\">";
                            datahtml += "					<i class=\"box-line\"></i><br>查看详情<i class=\"box-line box-line-u\"></i>";
                            datahtml += "				</span>";
                            datahtml += "			</div>";
                            datahtml += "		</div>";
                            datahtml += "		<div class=\"txt-box\">";
                            datahtml += "			<p class=\"pro-pdt\" style=\"font-weight: bold;\">" + item.title + "</p>";
                            datahtml += "			<p class=\"pro-pdl\">";
                            datahtml += "				<span>时间：" + item.time + "</span>";
                            datahtml += "				<span>地点：" + item.address + "</span>";
                            datahtml += "			</p>";
                            datahtml += "			<div class=\"pro-line\"></div>";
                            datahtml += "			<p onclick=\"location.href='" + item.open_url +"'\" class=\"pro-pdd clearfix\"><i class=\"iconfont icon-jiantou1-copy bounce\"></i>Details</p>";
                            datahtml += "		</div>";
                            datahtml += "	</div>";
                            datahtml += "</li>";

                        });

                        $("#" + datadivid).append(datahtml);

                    }
                    $(obj).attr("data-pindex", pindex + 1);
                },
                error: function () {
                    $(obj).find('span').text("加载失败");
                }
            });
        }
    </script>

<!-- Json中的Data数据 Begin -->
@section json_data
{
    value3:0,
}
<!-- Json中的Data数据 End -->

<!-- Json中的mounted数据 Begin -->
@section json_mounted
{
    this.pushBntNum();
}
<!-- Json中的mounted数据 End -->

<!-- Json中的methods数据 Begin -->
@section json_methods
{
    pushBntNum(){
        $(function(){
            $(".ivu-carousel-dots-inside li").each(function(index){
                $(this).children().first().before('<span>0'+(index*1+1)+'</span>');
            });
        })
    },
}
<!-- Json中的methods数据 End -->


<!-- 底部中的JS脚本 Begin -->
@section foot_js
{
    
}
<!-- 底部中的JS脚本 End -->
