@model  Universal.Entity.ViewModel.CaseShowTeamWork

@{
    ViewBag.Title = Model.team_work_info.Title;
}

<!--头部脚本 Begin-->
@section head
{
    <link href="/Assets/jf/css/listsa.css" rel="stylesheet" />
}
<!--头部脚本 end-->

<!-- Body Begin -->
    <div class="main page_listsa">
        <div class="main-content">
            <div class="sz-banner page-container-min-width" style="background: url(@Model.team_work_info.ImgUrl2) center no-repeat;"></div>
            <div class="lv1 page-container-min-width">
                <div class="page-container-width">
                    <p class="list-tt" style="font-weight:bold;">@Model.team_work_info.Title</p>
                    <div class="page-pub-line"></div>
                    <p class="list-und" style="font-weight:800;">合作案例展示</p>
                    <div class="shuzi-line"></div>
                    <ul class="product-list clearfix" id="ul_case_list">
                        @foreach (var item in Model.case_show_list)
                        {
                            <li>
                                <div class="product-style">
                                    <div class="pic-box">
                                        <img src="@item.ImgUrl">
                                        <div class="pic-link">
                                            <span class="out-mid" onclick="window.open('/CaseShow/Detail?id=@item.GetBase64ID')">
                                                <i class="box-line"></i><br>
                                                查看详情
                                                <i class="box-line box-line-u"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="txt-box">
                                        <p class="pro-pdt" style="font-weight:bold;">@item.Title</p>
                                        <p class="pro-pdl">
                                            <span>时间：@item.Time</span>
                                            <span>地点：@item.Address</span>
                                        </p>
                                        <div class="pro-line"></div>
                                        <p class="pro-pdd clearfix" onclick="location.href='/CaseShow/Detail?id=@item.GetBase64ID'"><i class="iconfont icon-jiantou1-copy bounce"></i>Details</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    @if (Model.case_show_list.Count == 6)
                    {
                        <div class="more-bnt" onclick="LoadMore(this)" data-pindex="2" data-divid="ul_case_list">
                            <i-button>查看更多</i-button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
<!-- Body End -->
    <script>
        function LoadMore(obj) {
            var pindex = parseInt($(obj).attr("data-pindex"));
            var datadivid = $(obj).attr("data-divid");
            $.ajax({
                url: "/CaseShow/LoadTeamWordCase",
                datatype: "json",
                type: 'post',
                data: { "page_index": pindex, "id": @Model.team_work_info.ID },
                beforeSend: function () {
                    $(obj).find('span').text("加载中...");
                    $(obj).removeAttr("onclick");
                },
                success: function (result) {
                    //函数体，数据发送成功回调
                    console.log(result.data.length);

                    if (result.data.length == 0) {
                        $(obj).find('span').text("没有更多数据了");
                    } else {
                        //还有数据，继续加载
                        $(obj).attr("onclick", "LoadMore(this)");
                        $(obj).find('span').text("查看更多");
                        var datahtml = "";

                        $.each(result.data, function (i, item) {
                            datahtml += "<li>";
                            datahtml += "	<div class=\"product-style\">";
                            datahtml += "		<div class=\"pic-box\">";
                            datahtml += "			<img src=\"" + item.img_url + "\">";
                            datahtml += "			<div class=\"pic-link\">";
                            datahtml += "				<span onclick=\"window.open('" + item.open_url + "')\" class=\"out-mid\">";
                            datahtml += "					<i class=\"box-line\"></i><br>查看详情<i class=\"box-line box-line-u\"></i>";
                            datahtml += "				</span>";
                            datahtml += "			</div>";
                            datahtml += "		</div>";
                            datahtml += "		<div class=\"txt-box\">";
                            datahtml += "			<p class=\"pro-pdt\" style=\"font-weight: bold;\">" + item.title + "</p>";
                            datahtml += "			<p class=\"pro-pdl\">";
                            datahtml += "				<span>时间：" + item.time + "</span>";
                            datahtml += "				<span>地点：" + item.address + "</span>";
                            datahtml += "			</p>";
                            datahtml += "			<div class=\"pro-line\"></div>";
                            datahtml += "			<p onclick=\"location.href='" + item.open_url + "'\" class=\"pro-pdd clearfix\"><i class=\"iconfont icon-jiantou1-copy bounce\"></i>Details</p>";
                            datahtml += "		</div>";
                            datahtml += "	</div>";
                            datahtml += "</li>";

                        });

                        $("#" + datadivid).append(datahtml);

                    }
                    $(obj).attr("data-pindex", pindex + 1);
                },
                error: function () {
                    $(obj).find('span').text("加载失败");
                }
            });
        }
    </script>
<!-- Json中的Data数据 Begin -->
@section json_data
{

}
<!-- Json中的Data数据 End -->

<!-- Json中的mounted数据 Begin -->
@section json_mounted
{
    
}
<!-- Json中的mounted数据 End -->

<!-- Json中的methods数据 Begin -->
@section json_methods
{
    
}
<!-- Json中的methods数据 End -->


<!-- 底部中的JS脚本 Begin -->
@section foot_js
{
    
}
<!-- 底部中的JS脚本 End -->

