@model Universal.DataCore.Entity.SysRole
@{
    ViewBag.Title = "编辑用户组";
}

@section head
{
    <link href="~/Assets/plug/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" />
}

<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <ol class="am-breadcrumb">
                <li><a href="@Url.Action("Index", "Home", new { Area = "Admin" })" class="am-icon-home am-text-lg">首页</a></li>
                <li><a href="@Url.Action("Index", "SysRole", new { Area = "Admin" })">后台用户组列表</a></li>
                <li class="am-active">编辑用户组</li>
            </ol>
        </div>
        <hr>

        <form class="am-form" method="post">
            @Html.HiddenFor(p => p.ID)
            <input type="hidden" id="hid_qx" name="hid_qx" value="aaa" />
            @Html.AntiForgeryToken()
            <div class="am-tabs am-margin" data-am-tabs>
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"><a href="#tab1">基本信息</a></li>
                    <li><a href="#tab2">选择权限</a></li>
                </ul>
                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">@Html.DisplayNameFor(p => p.RoleName)</div>
                            <div class="am-u-sm-8 am-u-md-4">
                                @Html.TextBoxFor(p => p.RoleName, new { placeholder = "用户组名称" })
                            </div>
                            <div class="am-hide-sm-only am-u-md-6">
                                @Html.ValidationMessageFor(p => p.RoleName)
                            </div>
                        </div>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">@Html.DisplayNameFor(p => p.IsAdmin)</div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <div class="am-btn-group" data-am-button>
                                    <label class="am-btn am-btn-default am-btn-xs">
                                        @Html.RadioButtonFor(x => x.IsAdmin, true) 是
                                    </label>
                                    <label class="am-btn am-btn-default am-btn-xs">
                                        @Html.RadioButtonFor(x => x.IsAdmin, false) 否
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">@Html.DisplayNameFor(p => p.RoleDesc)</div>
                            <div class="am-u-sm-8 am-u-md-4">
                                @Html.TextAreaFor(p => p.RoleDesc, new { placeholder = "用户组说明",style="height:100px" })
                            </div>
                            <div class="am-hide-sm-only am-u-md-6">
                                @Html.ValidationMessageFor(p => p.RoleDesc)
                            </div>
                        </div>
                    </div>

                    <div class="am-tab-panel am-fade am-in" id="tab2">
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-8 am-u-md-8 am-text-right">
                                <ul id="tree" class="ztree"></ul>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="am-margin">
                @if(CheckAdminPower("sysrole/edit",true))
                {
                @:<button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                @:<button type="reset" class="am-btn am-btn-primary am-btn-xs">重置数据</button>

                }
            </div>
        </form>
    </div>
</div>
<!-- content end -->

@section scripts
{
<script src="~/Assets/plug/ztree/js/jquery.ztree.core.min.js"></script>
<script src="~/Assets/plug/ztree/js/jquery.ztree.excheck.min.js"></script>

<SCRIPT type="text/javascript">
		var setting = {
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
			    onCheck: zTreeOnCheck
			}
		};

		var zNodes =@Html.Raw(ViewData["Tree"]);

		var code;

		function setCheck() {
		    var zTree = $.fn.zTree.getZTreeObj("tree");
		    zTree.setting.check.chkboxType = { "Y": "ps", "N": "ps" };
		}

		function zTreeOnCheck(event, treeId, treeNode) {
		    //alert(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
		    
		    var str_qx = "";
		    var zTree = $.fn.zTree.getZTreeObj("tree");
		    var array = zTree.getCheckedNodes(true);
		    for (var i = 0; i < array.length; i++) {
		        if(!array[i].isParent)
		        {
		            str_qx = str_qx + array[i].id + ",";
		        }
		    }
		    if (str_qx.length > 0)
		    {
		        str_qx = str_qx.substring(0, str_qx.length - 1);
		    }
		    $("#hid_qx").val(str_qx);
		};

		$(document).ready(function(){
			$.fn.zTree.init($("#tree"), setting, zNodes);
			setCheck();
		});
</SCRIPT>


    <script>
        $(function () {
            @if (Model.Msg == -1)
            {
                @:layer.msg('@Model.MsgBox', {icon:5}, function () {location.href = '@Model.RedirectUrl';})
            }
            else if(Model.Msg == -2)
            {
                @:layer.msg('数据未验证通过，请仔细检查', { offset: 0, shift: 6 });
            }else if(Model.Msg == 1)
            {
                @:layer.msg('@Model.MsgBox', {icon:1}, function () {location.href = '@Model.RedirectUrl';})
            }
        });
    </script>
}
