@model Universal.Web.Areas.Admin.Models.ViewModelSysRoleList
@{
    ViewBag.Title = "后台用户组列表";
}

<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <ol class="am-breadcrumb">
                <li><a href="@Url.Action("Index","Home",new { Area="Admin"})" class="am-icon-home am-text-lg">首页</a></li>
                <li><a href="@Url.Action("Index","SysRole",new { Area="Admin"})">后台用户组列表</a></li>
                <li class="am-active">List</li>
            </ol>
        </div>
        @if(CheckAdminPower("sysrole/updateroute", true))
        {
           @:<a class="am-btn am-btn-secondary am-radius" style="margin-left:20px;" onclick="update()" id="a_update_route">更新权限路由数据</a>
        }
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        @if(CheckAdminPower("sysrole/edit",false))
                        {
                        @:<a class="am-btn am-btn-default" href="@Url.Action("Edit","SysRole",new { Area="Admin"})"><span class="am-icon-plus"></span> 新增 </a>
                        }
                        @if(CheckAdminPower("sysrole/del",true))
                        {
                        @:<a class="am-btn am-btn-default" href="javascript:void(0)" onclick="del('/Admin/SysRole/Del',1)"><span class="am-icon-trash-o"></span> 删除 </a>
                        }
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="text" class="am-form-field" id="txt_word" value="@Model.word" placeholder="关键字">
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" onclick="WordSearch()">搜索</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table am-table-radius am-table-striped am-table-centered am-table-hover">
                    <thead>
                        <tr>
                            <th class="table-check"><input type="checkbox" onclick="CheckAll(this)" txt="全选" /></th>
                            <th class="table-id">ID</th>
                            <th class="table-title">组名</th>
                            <th class="table-author">是否管理组</th>
                            <th class="table-title">添加时间</th>
                            <th class="table-set">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><input type="checkbox" class="datacheck" hid="@item.ID" /></td>
                                <td>@item.ID</td>
                                <td><a href="/Admin/SysRole/Edit?id=@item.ID">@item.RoleName</a></td>
                                <td class="@(item.IsAdmin?"":"am-disabled")"><span class="@(item.IsAdmin?"am-icon-check":"am-icon-close")"></span></td>
                                <td class="am-hide-sm-only">@item.AddTime</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            @if(CheckAdminPower("sysrole/edit",false))
                                            {
                                            @:<a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="/Admin/SysRole/Edit?id=@item.ID"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="am-cf">
                    每页 <input type="number" cname="sysroleindex" value="@Model.page_size" id="txt_page_size" style="width:40px;" onchange="SetPageSize(this)" /> 条数据 共 @Model.total 条记录
                    <div class="am-fr">
                        <div id="pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
<!-- content end -->

@section scripts
{
    <script src="~/Assets/plug/laypage/laypage.js"></script>
    <script>

        @if(CheckAdminPower("sysrole/updateroute", true))
        {
        <text>
        function update()
        {
            var progress = $.AMUI.progress;
            $("#a_update_route").attr('disabled',"true");
            progress.start();
            $("#a_update_route").text("更新中....");
            $.post("/admin/SysRole/UpdateRoute", { "a":1 }, function (result) {
                $("#a_update_route").removeAttr("disabled");
                progress.done();
                if(result.msg == 1)
                {
                    $("#a_update_route").text("更新完毕");
                }
                else
                {
                    $("#a_update_route").text("更新失败!");
                }
                
            });
        }
        </text>
        }

        function WordSearch()
        {
            if($("#txt_word").val().length==0)
            {
                location.href = "?page=1";
            }
            else
            {
                location.href = "?page=1&word="+encodeURIComponent($("#txt_word").val());
            }

        }

        laypage({
            cont: 'pager',
            pages: @Model.total_page,
            skin:"#0e90d2",
            curr: function () {
                var page = location.search.match(/page=(\d+)/);
                return page ? page[1] : 1;
            }(),
            jump: function (e, first) { //触发分页后的回调
                if (!first) { //一定要加此判断，否则初始时会无限刷新
                    location.href = '?page=' + e.curr;
                }
            }
        });
    </script>
}